{% extends "email/_base/email_base.html" %}
{% from "email/_components/email_macros.html" import paragraph, button_link, inline_link %}

{% set brand = 'minespace' %}
{% set title = message %}

{% block content %}
{{ paragraph('A project description has been submitted for ' + mine.mine_name + ' (Mine no: ' + mine.mine_no + ') in
Minespace. The Major Mines Office will be in contact with you regarding your submission.', margin_top=16, brand=brand)
}}

{{ paragraph('If you indicated that your project involves a permit under the Environmental Management Act, you will also
need to complete pre-application forms and pay an application fee for each of the permits you require.', margin_top=16,
brand=brand) }}

{{ paragraph('Learn more about ' + inline_link(ema_auth_link, 'EMA authorizations or submit an application',
brand=brand) + '.', brand=brand) }}

{{ button_link(minespace_project_summary_link, 'View Project Description', brand=brand, margin_top=16) }}
{% endblock %}