{% extends "email/_base/email_base.html" %}
{% from "email/_components/email_macros.html" import paragraph, button_link, info_block %}

{% set brand = 'core' %}
{% set page_title = message %}

{% block content %}
{{ paragraph(info_block('Mine Name', project.mine_name) +
info_block('Mine Number', project.mine_no) +
info_block('Project Title', project.project_title) +
info_block('Submitted', project.submitted), align='center', brand=brand) }}

{{ button_link(core_link, 'View ' + project_section + ' in CORE', brand=brand, margin_top=32) }}

{% endblock %}