{% extends "email/_base/email_base.html" %}
{% from "email/_components/email_macros.html" import paragraph, button_link, info_block %}

{% set brand = 'core' %}
{% set page_title = message %}

{% block content %}
{{ paragraph(mine.mine_name + ' (Mine no: ' + mine.mine_no + ') has submitted Project Description data in MineSpace',
brand=brand) }}

{{ paragraph(info_block("Overview", project_summary.project_summary_description), brand=brand) }}

{{ button_link(core_project_summary_link, 'View Project Description in CORE', brand=brand, margin_top=32) }}
{% endblock %}