h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  width: auto;
}

h1, h1.ant-typography {
  font-size: $default-h1;
  font-weight: $bold;
  color: $h1-color;

  @include mobile {
    font-size: $mobile-h1;
  }
}

h2, h2.ant-typography {
  font-size: $default-h2;
  font-weight: $bold;
  color: $h2-color;
  @include mobile {
    font-size: $mobile-h2;
  }
}

h3, h3.ant-typography {
  font-size: $default-h3;
  font-weight: $bold;
  color: $h3-color;
  @include mobile {
    font-size: $mobile-h3;
  }
}

h4, h4.ant-typography {
  font-size: $default-h4;
  font-weight: $bold;
  color: $h4-color;
  @include mobile {
    font-size: $mobile-h4;
  }
}

h5, h5.ant-typography {
  font-size: $default-h5;
  font-weight: $light;
  color: $h5-color;
  text-transform: uppercase;
  @include mobile {
    font-size: $mobile-h5;
  }
}

h6 {
  font-size: $default-h6;
  font-weight: $bold;
  color: $h6-color;
  text-transform: uppercase;
  @include mobile {
    font-size: $mobile-h6;
  }
}

body,
p,
.p {
  font-size: $default-p;
  color: $p-color;
  font-weight: $regular;
}

.p-large {
  font-size: $default-h2;
  color: $p-color;
  font-weight: $bold;

  @include tablet {
    font-size: $default-p;
  }
}

.purple {
  color: $violet !important;
}

.dark-grey {
  color: $darkest-grey !important;
}

.p-white {
  color: $pure-white;
}

.p-light {
  color: $p-light-color;
}

.bold {
  font-weight: $bold;
}

a,
link,
a.ant-typography,
.ant-typography a {
  @extend p;
  color: $a-color;
  text-decoration: underline;
  &:hover {
    color: $a-color-hover;
    text-decoration: underline;
  }
}

.no_link_styling {
  a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.link-on-dark {
  @extend p;
  color: #ffffff;
  text-decoration: underline;
  &:hover {
    color: #e0e0e0;
    text-decoration: underline;
  }
}

hr {
  border-top: 1px solid #c4cdd5;
  margin-top: 10px;
  margin-bottom: 10px;
}

//These are here to style the infographic portion of the compliance tab and have not
//been finalized yet.
.info-display {
  font-size: 32px;
  font-weight: $bold;
  color: $violet;
  @include mobile {
    font-size: 26px;
  }
}

.info-display-label {
  font-size: 18px;
  font-weight: $bold;
  color: $darkest-grey;
  @include mobile {
    font-size: 16px;
  }
}

// special text styles/classes, all ant design overrides should @extend these.
.table-header {
  font-size: $table-header;
  font-weight: $semi-bold;
  color: $ant-header-color;
}
.nested-table-header {
  font-size: $table-header;
  font-weight: $semi-bold;
  color: $ant-nested-header-color;
}
.field-title {
  font-size: $field-label;
  font-weight: $semi-bold;
  color: $ant-label-title-color;
  margin-right: 5px;

  &--light {
    color: $p-light-color;
  }
}

.field-label {
  font-size: $field-label;
  font-weight: $semi-bold;
  text-transform: uppercase;
  color: $ant-label-color;
}

.pointer {
  cursor: pointer;
}

// use these classes when you require a desired style but a header tag is not needed!
.h1 {
  @extend h1;
}

.h2 {
  @extend h2;
}

.h3 {
  @extend h3;
}

.h4 {
  @extend h4;
  color: $h1-color;
}

.h5 {
  @extend h5;
}

.link-colour {
  color: $hover-blue;
}

// Used for the footer of the PartySelectField. Not yet sure if this is reusuable or justifies its own component file.
.footer-text {
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
}

// removes the increment/decrement buttons from number type inputs.
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// use correct bullet type for lists. Too many lists to target: use class
.bullet li {
  list-style-type: disc;
  list-style-position: inside;
}
