// Theme override variables taken from https://ej2.syncfusion.com/react/documentation/appearance/theme/#googles-material
$accent: $primary-color; //#e3165b;
$accent-font: #ffffff;
$primary: $primary-color; //#3f51b5;
$primary-50: #e8eaf6;
$primary-100: #c5cae9;
$primary-200: #9fa8da;
$primary-300: #7986cb;
$primary-font: #ffffff;
$primary-50-font: #000000;
$primary-100-font: #000000;
$primary-200-font: #000000;
$primary-300-font: #ffffff;
$grey-white: #ffffff;
$grey-black: #000000;
$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;
$grey-dark: #303030;
$grey-light-font: #000000;
$grey-dark-font: #ffffff;
$base-font: #000000;
$error-font: $error-color; //#f44336;

@import "~@syncfusion/ej2-base/styles/material.scss";
@import "~@syncfusion/ej2-buttons/styles/material.scss";
@import "~@syncfusion/ej2-dropdowns/styles/material.scss";
@import "~@syncfusion/ej2-icons/styles/material.scss";
@import "~@syncfusion/ej2-inputs/styles/material.scss";
@import "~@syncfusion/ej2-navigations/styles/material.scss";
@import "~@syncfusion/ej2-popups/styles/material.scss";
@import "~@syncfusion/ej2-splitbuttons/styles/material.scss";
@import "~@syncfusion/ej2-lists/styles/material.scss";
@import "~@syncfusion/ej2-layouts/styles/material.scss";
@import "~@syncfusion/ej2-grids/styles/material.scss";
@import "~@syncfusion/ej2-react-pdfviewer/styles/material.scss";
@import "~@syncfusion/ej2-react-filemanager/styles/material.scss";
// NOTE: We may need these dependencies in the future if we implement the document/spreadsheet viewer
// @import "../../../node_modules/@syncfusion/ej2-react-documenteditor/styles/material.scss";
// @import "../../../node_modules/@syncfusion/ej2-react-spreadsheet/styles/material.scss";
@import "~@syncfusion/ej2-notifications/styles/material.scss";

.e-empty-inner-content {
  display: none;
}

#pdfviewer-container_fileUploadElement,
#pdfviewer-container_annotationContainer {
  display: none;
}

#pdfviewer-container_zoomDropDownContainer {
  width: 108px;
}

#pdfviewer-container_openContainer {
  visibility: hidden;

  & + .e-toolbar-item.e-separator {
    display: none;
  }
}

#pdfviewer-container_undoContainer,
#pdfviewer-container_redoContainer,
#pdfviewer-container_commentContainer,
#pdfviewer-container_printContainer,
#pdfviewer-container_submitForm {
  display: none;

  & + .e-toolbar-item.e-separator {
    display: none;
  }
}

#pdfviewer-container_handToolContainer + .e-toolbar-item.e-separator {
  display: none;
}
