{% extends "email/_base/email_base.html" %}
{% from "email/_components/email_macros.html" import paragraph, button_link, info_block %}

{% set brand = 'minespace' %}
{% set page_title = "A new notice of a reportable incident has been submitted to ministry staff" %}
{% set notification_type = "Action Required" %}

{% block content %}

{{ paragraph("You can view this incident and see its current status by visiting MineSpace.", align='center',
margin_top=16, brand=brand) }}

{{ paragraph(info_block("Incident Number", incident.mine_incident_report_no) +
info_block("Mine name", mine.mine_name) +
info_block("Mine number", mine.mine_no), align='center', margin_top=16, brand=brand) }}

{{ button_link(minespace_incident_link, "View Incident", brand=brand, margin_top=32) }}

{% endblock %}