{% extends "email/_base/email_base.html" %}
{% from "email/_components/email_macros.html" import paragraph, button_link, info_block %}

{% set brand = 'minespace' %}
{% set page_title = 'A final incident report has been submitted' %}

{% block content %}
{{ paragraph(mine.mine_name + ' (Mine no: ' + mine.mine_no + ') has had a final report submitted for the incident (' +
incident.mine_incident_report_no + ').', align='center', margin_top=16) }}

{{ paragraph(info_block("Incident information", incident.incident_description), align='center', margin_top=16) }}

{{ button_link(incident_link, 'View Incident', brand=brand, margin_top=16) }}
{% endblock %}