{% extends "email/_base/email_base.html" %}
{% from "email/_components/email_macros.html" import paragraph, button_link, info_block %}

{% set brand = 'core' %}
{% set page_title = 'An incident status has changed to "Awaiting Final Report"' %}

{% block content %}
{{ paragraph('You can view this incident and see its current status by visiting Core.', align='center', margin_top=16,
brand=brand) }}

{{ paragraph(info_block("Incident Number", incident.mine_incident_report_no) +
info_block("Mine Name", mine.mine_name) +
info_block("Mine Number", mine.mine_no), brand=brand) }}

{{ button_link(incident_link, 'View Incident in CORE', brand=brand, margin_top=32) }}
{% endblock %}