{% extends "email/_base/email_base.html" %}
{% from "email/_components/email_macros.html" import paragraph, button_link, info_block %}

{% set brand = 'core' %}
{% set page_title = 'A new incident has been submitted to CORE' %}

{% block content %}
{{ paragraph(info_block("Incident Number", incident.mine_incident_report_no) +
info_block("Incident Time", incident.incident_timestamp) +
info_block("Submitted", incident.reported_timestamp), brand=brand) }}

{{ paragraph(info_block("Time between incident occurrence and first report", incident.report_time_diff), brand=brand) }}

{{ paragraph(info_block("Mine name", mine.mine_name + ' (' + mine.mine_no + ')') +
info_block("Incident or initial reported by", incident.reported_by_name), brand=brand) }}

{{ paragraph(info_block("Brief Description of Incident", incident.incident_description), brand=brand) }}

{{ button_link(incident_link, 'View Incident in CORE', brand=brand, margin_top=32) }}
{% endblock %}