// BUTTON
.ant-btn,
.core-btn,
.ant-btn-sm,
.ant-btn-secondary,
.ant-btn-default {
  position: inherit;
  margin-bottom: 10px;
  padding: 0 16px;
  font-weight: $semi-bold;

  // these and the hover rules are really only for default,
  // but due to precendence rules, kept at top level
  color: $secondary-btn-color; // #medium-grey
  border: 1px solid $secondary-btn-color;

  &:hover {
    color: $secondary-btn-color-hover;
    border-color: $secondary-btn-border-color-hover;
  }

  span {
    font-size: $font-size-sm;
  }

  &-primary {
    color: $pure-white;
    background-color: $primary-btn-color;
    border-color: $primary-btn-color;

    &:hover,
    &:focus {
      color: $pure-white;
      background-color: $primary-btn-color-hover;
      border-color: $primary-btn-border-color-hover;
    }
  }

  &.ant-btn-ghost {
    color: $primary-btn-color;
    border: 2px solid $primary-btn-color;
    background-color: $pure-white;

    &:hover,
    &:active {
      background-color: $transparent-violet;
      color: $hover-violet;
      border-color: $hover-violet;
    }
  }

  &.ant-btn-danger {
    background-color: $danger-btn-color;
    color: white;
    border: 1px solid $danger-btn-color;

    &:hover,
    &:focus {
      background-color: $danger-btn-color-hover;
      color: white;
      border: 1px solid $danger-btn-color-hover;
    }
  }

  &.core-btn-tertiary {
    border: 2px solid $tertiary-btn-color;
    color: $tertiary-btn-color;
    background-color: transparent;
  }

  &.core-btn-filled-tertiary {
    font-weight: $light;
    color: $pure-white;
    border: 1px solid $tertiary-btn-color;
    background-color: $tertiary-btn-color;

    &:hover,
    &:focus {
      color: $pure-white;
      background-color: $tertiary-btn-color-hover;
    }
  }
}

.ant-btn+.ant-btn {
  margin-left: 16px;
}

label .ant-btn {
  margin: 0px;
}

.ant-btn-icon-only {
  >svg.svg-inline--fa {
    font-size: 1rem;
    vertical-align: 2em;
    margin-left: -0.35em
  }
}

.ant-input-search-button {
  height: 34px;
  width: 46px;
  margin: 0;
  border: 1px solid #d9d9d9;
}

.ant-btn-link {
  &:focus {
    color: $pure-white;
  }
}

.btn-danger--icon {
  &:hover {
    color: $danger-btn-color-hover;
  }
}

.actions-dropdown-button {
  margin: 0;
  color: $violet;
  background: transparent;
  box-shadow: none;

  &.ant-btn-text {
    border: 0;
    padding-left: 5px;
    padding-right: 0px;

    &:hover {
      border: 0;
      color: $violet;
      background: none;
    }
  }

  div {
    display: flex;
    align-items: center;

    img {
      min-height: 18px;
    }
  }
}