.speech-bubble {
  background: $pure-white;
  border: 1px solid $card-body-border-color;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  line-height: 1.3;
  margin: 0 auto auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px;
  position: relative;
}

.speech-bubble p {
  margin-bottom: 10px;
}
.speech-bubble p:last-of-type {
  margin-bottom: 0;
}

.speech-bubble-arrow {
  bottom: -15px;
  position: absolute;
  right: 100px;
}
.speech-bubble-arrow::before {
  border-left: 13px solid transparent;
  border-top: 13px solid $card-body-border-color;
  bottom: 2px;
  content: "";
  position: absolute;
  right: 5px;
}
.speech-bubble-arrow::after {
  border-left: 11px solid transparent;
  border-top: 12px solid $pure-white;
  bottom: 4px;
  content: "";
  position: absolute;
  right: 6px;
}

.comment {
    background: $pure-white;
    line-height: 1.3;
    margin: 0 auto auto;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 0px 10px 10px 0px;
    position: relative;
}

.comment-author{
  color: #5e46a1;
  font-weight: 600;
}

.comment-time{
  color: #000000de;
  font-weight: 400;
}
