.diff-container {
    padding: 16px;
}

.condition-added {
    background-color: #e6ffe6;
}


.condition-moved {
    background-color: #e6f7ff;
}

.condition-removed {
    background-color: #ffe6e6;
}

.condition-text {
    display: block;
}

.diff-added {
    background-color: #d4edda;
    text-decoration: none;
    padding: 0 2px;
}

.diff-removed {
    background-color: #f8d7da;
    text-decoration: line-through;
    padding: 0 2px;
}