.landing-page {
  background-color: $secondary-background-colour;

  &__header {
    padding: $default-padding-xl;
  }

  &__content {
    background-color: $pure-white;
    border-radius: $default-round-top-border;

    @include mobile {
      padding: 0;
    }

    &--search {
      @include flex;
      padding: $default-padding-xl;
      justify-content: space-around;

      @include tablet {
        display: block !important;
        justify-content: unset;
      }
    }
  }
}

.advanced-search__container {
  margin: auto;
  width: 80%;
  margin-top: $default-padding-lg;
  padding: $default-padding-lg;
}

.profile {
  background-color: $pure-white;

  &__header {
    @extend .landing-page__header;
  }

  &__content {
    @extend .landing-page__content;

    &__header {
      padding: $default-padding-xl;
    }
  }
}
