.close-permit-button,
.add-magazine-button {
  display: flex;
  margin-right: 24px;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
}

.close-permit-button {
  width: 90%;
}

.add-magazine-button > span {
  display: flex;
}

.magazine-collapse,
.magazine-collapse > div {
  background-color: #f2f2f2;
  align-items: center !important;
}

.form-button-container-row {
  padding-top: 48px;
}