.close-permit-button,
.add-magazine-button {
  text-align: center;
  border: $violet 2px solid;
  color: $violet !important;
  display: flex;
  margin-right: 24px;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
}

.close-permit-button {
  width: 90%;
}

.add-magazine-button > span {
  display: flex;
}

.magazine-collapse,
.magazine-collapse > div {
  background-color: rgb(242, 242, 242);
  align-items: center !important;
}

.esup-alert {
  background-color: #F4F0F0;
  border: 1px solid #6B6363;
}

.esup-alert > span > svg {
  fill: #6B6363;
  background-color: #F4F0F0;
}
