.close-permit-button,
.add-magazine-button {
  text-align: center;
  border: $violet 2px solid;
  color: $violet !important;
  display: flex;
  margin-right: 24px;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
}

.close-permit-button {
  width: 90%;
}

.add-magazine-button > span {
  display: flex;
}

.magazine-collapse,
.magazine-collapse > div {
  background-color: rgb(242, 242, 242);
  align-items: center !important;
}

.esup-alert {
  background-color: $lightest-grey;
  border: 1px solid $medium-grey;
  margin-bottom: 56px;
}

.esup-alert .ant-alert-content .ant-alert-description div {
  position: relative;
}

.esup-history-button {
  background-color: transparent;
  color: black !important;
  border: 2px solid $violet;
}

.esup-alert .ant-alert-content .ant-alert-description div button {
  position: absolute;
  right: 0;
  top: -75%;
}

.esup-history-button:hover {
  background-color: white;
}

.esup-alert > span > svg {
  fill: #6b6363;
  background-color: #f4f0f0;
}
