.form {
  &__parties {
    border: 1px solid $violet;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
  }

  &__types {
    background-color: $pure-white;
  }
}

// checkbox group
.ant-checkbox-group {
  display: grid;
  padding-left: 10px;
}

// copied corresponding styles from .has-error .ant-input, added border details
.has-error .ant-checkbox-group,
.has-error .ant-checkbox-group:hover {
  background-color: #fff;
  border: 1px solid #ff4d4f;
  border-radius: 5px;
}

.has-error .ant-checkbox-group:focus {
  border-color: #ff7875;
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2);
}

.has-error .ant-checkbox-group:not([disabled]):hover {
  border-color: #ff4d4f;
}

// FORMS
.ant-form-item-required,
.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional) {
  &::before {
    font-family: $font-family;
  }
}

.ant-form-item-checkbox-required .ant-checkbox+span {
  &::after {
    content: "*";
    font-family: $font-family;
    color: $error-color;
  }
}

.ant-form-vertical .ant-form-item-label>label {
  // to make * appear on the same line when label is an HTML element
  display: flex;
  align-items: baseline;
}

.ant-form-vertical .ant-form-item {
  padding-bottom: 0;
}

.ant-form-item {
  margin-bottom: 10px;
}

.vertical-radio-group {
  display: flex;
  flex-direction: column;
}

.radio-two-column-container {
  .ant-radio-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.ant-form-item-label label:after {
  content: none;
}

.view-item {
  line-height: 22px;

  .ant-typography.view-item-label {
    margin-bottom: 4px;
    font-weight: 600;
  }

  .ant-typography.view-item-value {
    margin-bottom: 0;
  }
}

.form-item-help {
  color: rgba(49, 49, 50, 0.55);
}

// DATE PICKER
.ant-picker {
  width: 100%;
  padding: 4px 11px;
}

.ant-picker-today-btn {
  color: $a-color;

  &:hover {
    color: $violet;
  }
}