@use "@/styles/base.scss" as *;

.global-search-modal {
  top: 80px;

  .ant-modal-content {
    border-radius: 8px;
    padding: 0;
  }

  &__input {
    border-bottom: 1px solid #f0f0f0;
    border-radius: 0;
  }

  &__footer {
    font-size: 12px;
    color: #8c8c8c;
    padding: 8px 0;
  }
}

.search-icon {
  color: $violet;
  font-size: 18px;
}

.search-tag-icon {
  margin: 0;
  margin-left: 4px;
}

.search-type-label {
  margin-left: 4px;
}
