.help-guide-drawer {
    z-index: 1005;

    .ant-drawer-body {
        overflow: auto;
    }

    .ant-form-item-label {
        text-align: left;
    }
}

.help-open {
    font-size: 18px;
    margin-bottom: 0;
    border: none;
    color: white;
    padding: 0 5px;

    &:hover {
        color: white;
    }
}