.background {
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

#home-banner-search-container {
  width: 100%;
  justify-content: center;

  >.ant-col {
    flex-basis: 709px;
  }

  .ant-input-affix-wrapper-lg {
    height: $nav-height;
  }
}

.home-bordered-content {
  box-shadow: none;
  border: 1px solid $light-grey;
  border-radius: 4px;
  padding: 16px;
}

.home-link-button {
  @extend .home-bordered-content;
  height: unset;
  flex: 1 0 100px;
  margin: 0;

  &:hover,
  &:active {
    border-color: $violet;
    color: $darkest-grey;

    svg {
      color: $hover-violet;
    }
  }

  &:active {
    background-color: $transparent-violet;
  }

  .home-link-button-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  svg {
    color: $violet;
    font-size: 36px;
    line-height: 24px;
  }
}

.home-container-gutter {
  gap: 16px;
}

.home-content {
  gap: 23px;
  width: 100%;
  padding: 24px 32px;

  div.ant-typography,
  .ant-typography p,
  a {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .global-mine-alert {
    padding: 16px 5px 0 5px;

    &:hover {
      cursor: pointer;
      background-color: rgba(189, 179, 216, 0.15);
    }
  }

  .mine-alert-message {
    line-height: 20px;
    letter-spacing: -0.41px;
    margin-bottom: 8px;
  }

  .mine-alert-details {
    color: $medium-grey;
    font-size: 14px;
    line-height: 24px;
  }

  .mine-alert-date {
    display: inline-block;
  }

  .ant-divider-horizontal {
    margin: 16px 0 0 0;
  }

  h4 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }

  .home-main-content {
    // antd has overflow sometimes when colspans total 24. 
    // Rounded down to 23 and added these rules to fill any remaining space
    max-width: unset;
    flex-grow: 1;

    .home-main-content-container {
      @extend .home-container-gutter;
      display: flex;
      flex-direction: column;
    }
  }

}

#home-side-panel-container {
  @extend .home-container-gutter;
  display: flex;
  flex-direction: column;
}

#home-subscribed-mines-container {
  .home-subscribed-mine {
    padding: 10px 16px;
  }

  .home-subscribed-mine-name {
    color: $darkest-grey;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: underline;

    span {
      color: $violet;
      margin-right: 5px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .home-subscribed-mine-no {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
  }

  .no-subscribed-mines {
    color: $medium-grey;
    opacity: 0.5;
    margin-top: 66px;
    margin-bottom: 80px;

    .no-subscribed-mines-icon {
      font-size: 36px;
    }
  }
}

.warning-banner {
  background-color: #f3cd65;
  border-radius: 0;
  border: none;
  z-index: 999;

  .ant-alert-icon {
    width: 48px;
  }

  &.ant-alert-with-description {
    // Original left-padding is 64px with an original icon size of 24px. The new icon size is 48px, so
    // add 24px to maintain the original layout proportions.
    padding-left: 64px + 24px;
  }

  .anticon-close {
    color: rgba(0, 0, 0, 0.45);

    &:hover {
      color: rgba(0, 0, 0, 0.75);
    }
  }
}

#homepage-banner {
  padding: 64px 32px;
  background-size: cover !important;
  background-position-y: 60% !important;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.04) 100%),
    linear-gradient(0deg, rgba(94, 70, 161, 0.4), rgba(94, 70, 161, 0.4)),
    var(--img);
}