/*
This file contains the style overrides for ArcGIS Map components
*/

//This modifies the custom drawn path in the DOM.  It is created in the 'LocationPin.js' file
path[path="M25,0 C60,0, 60,50, 25,50 C-10,50, -10,0, 25,0"] {
  @include pulsateAnimation;
}

.minePopUpText {
  line-height: 1.5;
  font-size: 1rem;
}

.leftMapPopUpCol {
  width: 10%;
}

.mineMapPopUpButton {
  display: flex;
  justify-content: flex-end;
}

div[id="base-container"] {
  clear: both;
}

#leaflet-map {
  height: 600px;
  width: 1200px;
}

.leaflet-wms-popup {
  width: 400px;
}

.leaflet-control-mouseCoordinate {
  width: 300px;
  min-height: 30px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: none repeat scroll 0 0 #fff;
  color: #333;
  padding: 6px 10px 6px 10px;
}

.leaflet-control-mouseCoordinate table {
  width: 100%;
}

.leaflet-control-layers-group-name {
  font-weight: bold;
  margin-bottom: 0.2em;
  margin-left: 10px;
  padding-left: 5px;
}

.leaflet-control-layers-group {
  margin-bottom: 0.5em;
  padding-left: 2px;
}

.leaflet-control-layers-selector {
  margin-left: 4px;
}

.leaflet-control-layers-scrollbar {
  overflow-y: scroll;
  padding-right: 10px;
}
