.dashboard {
  background-color: $secondary-background-colour;
  padding-top: $default-padding-xl;
  position: relative;

  &__header {
    &--card {
      @include flex;
      height: 100%;

      @include large {
        display: block;
        height: 100%;
      }

      &__content {
        flex: 2;
        padding-right: $default-padding-lg;

        &--status__img {
          width: 15px;
          height: 15px;
          margin-top: 4px;
          margin-right: 5px;
        }
      }

      &__map {
        flex: 1;

        @include large {
          top: 0;
          height: 250px;
        }

        &--footer {
          padding: $default-padding-md;
          background: $default-overlay;
          position: relative;
          height: 80px;
          top: -80px;
          opacity: 0.9;
          @include large {
            padding: $default-padding-lg;
          }
        }
      }
    }
  }

  &__content {
    background-color: $pure-white;
    position: relative;
    border-radius: $default-round-top-border;

    @include mobile {
      margin-top: $default-margin-lg;
      padding: 0;
    }
  }
}

// MINE SUMMARY NAVIGATION
.sub-menu {
  a,
  link {
    color: $darkest-grey;
    text-decoration: none;
    &:hover {
      color: $pure-white;
    }
  }
  background-color: $light-grey;

  li:hover {
    background-color: $violet;
  }
}

// needed to set a fixed width to the cards on the compliance and securities Tab,
// opted to create a custom class vs interfering with the default style of cards that do not need a set width
// cards are full responsive, regardless of the amount on view.
.content--card {
  width: 310px;
  height: 100%;
  text-align: center;
  width: 310px;
  margin: 20px 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @include tablet {
    width: 100% !important;
  }

  &--head {
    background-color: white;
    line-height: 85px;
    height: 85px;

    &--content {
      vertical-align: middle;
    }
  }
  &--body {
    height: 60px;
    background-color: $card-body-background-color;
    width: inherit;
    display: table;

    h4 {
      display: table-cell;
      vertical-align: middle;
      padding: 0 10px;
    }
  }
}

.dashboard--cards {
  @include flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1450px;

  &::after {
    justify-content: start;
  }
}
