.compliance-card {
  .ant-card-head {
    background: transparent;
  }
  .ant-card-body {
    background: $card-body-background-color;
  }
  .ant-card-head-title {
    white-space: normal;
  }
  .ant-row-flex {
    min-height: 100px;
  }
}

.compliance-filter--content {
  margin: $default-margin-xl;
}
