.icon-svg-filter {
  filter: brightness(0) saturate(100%) invert(33%) sepia(15%) saturate(2661%) hue-rotate(216deg)
    brightness(89%) contrast(92%);
}

.permit-table-button {
  margin: 0;
  border: 0;
  color: $violet;
  background: none;
  padding-left: 5px;
  padding-right: 0px;

  &:hover {
    border: 0;
    color: $violet;
    background: none;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      min-height: 18px;
    }
  }
}

.add-permit-dropdown-button {
  border: none;
  div {
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
}

.add-permit-dropdown-button:hover {
  border: none;
}

.add-permit-dropdown-button-icon {
  font-size: 18px;
  padding-left: 8px;
  padding-right: 20px;
}
