@use "../base.scss" as *;


.modal__close {
  position: absolute;
  top: 7px;
  color: $violet;
  font-size: 24px;
  right: 14px;
  z-index: 999;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;

  svg {
    margin: 10px;
  }
}

.ant-modal-wrap {
  z-index: 1005;
}

.ant-modal-mask {
  z-index: 1001;
}