// TOP LEVEL MENU
.menu {
  @include flex;
  position: fixed;
  z-index: 1000;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: $nav-color;
  padding: 10px 32px;
  height: $nav-height;

  #menu--image--search {
    flex-wrap: nowrap;
    flex-grow: 1;

    a {
      flex-basis: 175px;
      flex-shrink: 1;
      flex-grow: 0;
      margin: auto 0; // vertically center
    }

    .searchbar {
      transition: none;
      color: $white;
      border-color: #8C8C8C;
      input {
        flex-basis: 115px;
      }
      &.search-not-focussed {
        input, .ant-input-prefix {
          opacity: 0.6;
        }
      }
    }

    button.ant-btn.search-bar-button {
      margin: 0;
      background: transparent;
      color: #8C8C8C;
      border-color: #8C8C8C;
      padding: 6px 8px;
      height: 26px;
      font-size: 11px;
      line-height: 14px;
      transition: none;

      @media (max-width: $tablet-width) {
        display: none;
      }

      span {
        font-size: 11px;
        font-weight: 400;
        line-height: 14px;
      }
    }
  }

  .ant-input-affix-wrapper {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-left: 1px solid #F2F2F2;
    color: inherit;

    &-focused {
      box-shadow: none;
    }
    .ant-input {
      background-color: transparent;
      color: inherit;
      
      &::placeholder {
        color: $white;
      }
    }
  }

  &--search {

    .ant-card-body {
      padding: 0;
    }
  }

  &__img {
    height: 32px;
  }

  &__btn {
    margin: 0;
    color: $pure-white;
    height: 100%;

    &--link {
      color: $pure-white;
      background-color: transparent;
      height: 100%;
      margin: 0;
      border: none;
      vertical-align: top;

      &:hover {
        color: $pure-white;
        background-color: $primary-btn-color;
        border: none;
        border-radius: 0;
      }
      &:focus {
        color: $pure-white;
        background-color: $primary-btn-color;
        border: none;
        border-radius: 0;
      }
    }
  }
}

#menu__dropdown {
  background-color: $nav-color;
  text-align: left;

  button,
  a {
    color: $pure-white !important;
  }
}

#menu-loadingbar-background {
  background-color: $nav-border-color;
  position: fixed;
  top: $nav-height;
  z-index: 998;
  width: 100%;
  height: $loading-bar-height;
}

.menu-loadingbar-loading {
  background-color: $violet;
  position: fixed;
  top: $nav-height;
  z-index: 999;
  height: $loading-bar-height;
}

.menu--hamburger {
  position: fixed;
  z-index: 100;
  padding-top: 60px;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
  padding-bottom: 50px;
  @include animation(fadein, 0.5s);
  background-color: $nav-color;

  &__btn {
    padding: $default-padding-sm;
    color: $pure-white;

    &--link {
      color: $pure-white;
      background-color: transparent;
      width: 100%;
      text-align: center;
      height: 100px;
      margin: 0;
      border: none;

      &:hover {
        color: $pure-white;
        background-color: $primary-btn-color;
        border: none;
        border-radius: 0;
      }
    }
  }

  &--footer {
    color: $medium-grey;
    text-align: center;
    width: 100%;
    padding-top: 50px;
  }
}

#active-menu-btn {
  color: $pure-white;
  background-color: $primary-btn-color;
  border: none;
  border-radius: 0;
  border-top: 1px solid $violet;
  position: inherit;
  // if the activeClass is on nav, change default hover color to white, else leave violet
  .ant-menu-submenu-title:hover {
    color: $pure-white;
  }
}

// MINE SUMMARY NAVIGATION
.sub-menu {
  a,
  link {
    color: $darkest-grey;
    text-decoration: none;
    &:hover {
      color: $pure-white;
    }
  }
  background-color: $light-grey;

  li:hover {
    background-color: $violet;
  }
}

.navbar-dropdown-menu {
  padding: 0;
  overflow: hidden;
}

.navbar-dropdown-menu-item {
  @extend .ant-dropdown-menu-item;
  background-color: transparent !important;
  &:hover {
    background-color: $primary-btn-color !important;
  }
}

.navbar-dropdown-menu > :first-child {
  padding-top: 9px;
}

.navbar-dropdown-menu > :last-child {
  padding-bottom: 9px;
}
