// TOP LEVEL MENU
.menu {
  @include flex;
  position: fixed;
  z-index: 1000;
  width: 100%;
  justify-content: space-between;
  background-color: $nav-color;
  padding: 0 25px 0 $default-padding-md;

  &--search {
    margin-top: 3px;
    padding: $default-padding-sm;
  }

  &__img {
    margin: $default-margin-sm;
  }

  &__btn {
    margin: 0;
    padding: $default-padding-sm;
    color: $pure-white;
    height: 100%;

    &--link {
      color: $pure-white;
      background-color: transparent;
      height: 100%;
      margin: 0;
      border: none;
      vertical-align: top;

      &:hover {
        color: $pure-white;
        background-color: $primary-btn-color;
        border: none;
        border-radius: 0;
      }
      &:focus {
        color: $pure-white;
        background-color: $primary-btn-color;
        border: none;
        border-radius: 0;
      }
    }
  }
}

#menu__dropdown {
  background-color: $nav-color;
  text-align: left;

  button,
  a {
    color: $pure-white !important;
  }
}

#menu-loadingbar-background {
  background-color: $nav-border-color;
  position: fixed;
  top: 53px;
  z-index: 998;
  width: 100%;
  height: 8px;
}

.menu--hamburger {
  position: fixed;
  z-index: 100;
  padding-top: 60px;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
  padding-bottom: 50px;
  @include animation(fadein, 0.5s);
  background-color: $nav-color;

  &__btn {
    padding: $default-padding-sm;
    color: $pure-white;

    &--link {
      color: $pure-white;
      background-color: transparent;
      width: 100%;
      text-align: center;
      height: 100px;
      margin: 0;
      border: none;

      &:hover {
        color: $pure-white;
        background-color: $primary-btn-color;
        border: none;
        border-radius: 0;
      }
    }
  }

  &--footer {
    color: $medium-grey;
    text-align: center;
    width: 100%;
    padding-top: 50px;
  }
}

#active-menu-btn {
  color: $pure-white;
  background-color: $primary-btn-color;
  border: none;
  border-radius: 0;
  border-top: 1px solid $violet;
  position: inherit;
  // if the activeClass is on nav, change default hover color to white, else leave violet
  .ant-menu-submenu-title:hover {
    color: $pure-white;
  }
}

// MINE SUMMARY NAVIGATION
.sub-menu {
  a,
  link {
    color: $darkest-grey;
    text-decoration: none;
    &:hover {
      color: $pure-white;
    }
  }
  background-color: $light-grey;

  li:hover {
    background-color: $violet;
  }
}

.navbar-dropdown-menu {
  padding: 0;
  overflow: hidden;
}

.navbar-dropdown-menu-item {
  @extend .ant-dropdown-menu-item;
  background-color: transparent !important;
  &:hover {
    background-color: $primary-btn-color !important;
  }
}

.navbar-dropdown-menu > :first-child {
  padding-top: 9px;
}

.navbar-dropdown-menu > :last-child {
  padding-bottom: 9px;
}
