// TOP LEVEL MENU
.menu {
  @include flex;
  position: fixed;
  z-index: 1000;
  width: 100%;
  justify-content: space-between;
  background-color: $nav-color;
  border-bottom: 8px solid $nav-border-color;
  padding: 0 $default-padding-lg 0 $default-padding-md;

  &__img {
    margin: $default-margin-sm;
  }

  &__btn {
    margin: 0;
    padding: $default-padding-sm;
    color: $pure-white;
    height: 100%;

    &--link {
      color: $pure-white;
      background-color: transparent;
      height: 100%;
      margin: 0;
      border: none;

      &:hover {
        color: $pure-white;
        background-color: $primary-btn-color-hover;
        border: none;
        border-radius: 0;
      }
    }
  }
}

#menu__dropdown {
  background-color: $nav-color;
  text-align: right;

  button,
  a {
    color: $pure-white !important;
  }
}

.menu--hamburger {
  position: fixed;
  z-index: 100;
  padding-top: 60px;
  overflow: scroll;
  width: 100vw;
  height: 100vh;
  padding-bottom: 50px;
  @include animation(fadein, 0.5s);
  background-color: $nav-color;

  &__btn {
    padding: $default-padding-sm;
    color: $pure-white;

    &--link {
      color: $pure-white;
      background-color: transparent;
      width: 100%;
      text-align: left;
      padding-left: 30px;
      height: 100px;
      margin: 0;
      border: none;

      &:hover {
        color: $pure-white;
        background-color: $primary-btn-color-hover;
        border: none;
        border-radius: 0;
      }
    }
  }

  &--footer {
    color: gray;
    text-align: center;
    width: 100%;
  }
}

#active-menu-btn {
  color: $pure-white;
  background-color: $primary-btn-color;
  border: none;
  border-radius: 0;
  border-top: 1px solid $violet;
  position: inherit;
  // if the activeClass is on nav, change default hover color to white, else leave violet
  .ant-menu-submenu-title:hover {
    color: $pure-white;
  }
}

// MINE SUMMARY NAVIGATION
.sub-menu {
  a,
  link {
    color: $darkest-grey;
    text-decoration: none;
    &:hover {
      color: $pure-white;
    }
  }
  background-color: $light-grey;

  li:hover {
    background-color: $violet;
  }
}
