// mineHeader on NoW verification step of NoticeOfWorkApplication
.mine-content__card {
  @include flex;
  height: 275px;
  margin: $default-margin-md;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: $default-margin-lg;

  @include large {
    display: block;
    height: 100%;
  }

  &-right {
    flex: 2;
    padding: $default-padding-lg;
  }

  &-left {
    flex: 1;

    @include large {
      top: 0;
      height: 200px;
    }

    &--footer {
      padding: $default-padding-md;
      background: $default-overlay;
      position: relative;
      height: 80px;
      top: -80px;
      opacity: 0.9;
      @include large {
        padding: $default-padding-lg;
      }
    }
  }
}

.contact-card {
  min-height: 300px;

  @include tablet {
    min-height: inherit;
  }

  &--long {
    min-height: 100px;
  }
}

.scroll-wrapper {
  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
    &.purple {
      background-color: $violet;
    }
    &.grey {
      background-color: $non-textual-grey;
    }
  }
  &--border {
    margin-left: 14px;
    height: 100%;
    border-left: 1px solid $non-textual-grey;
  }

  &--title {
    border-bottom: 1px solid $non-textual-grey;
    width: 70vw;

    h3 {
      margin-left: 20px;
      margin-bottom: 10px;
    }
  }

  &--body {
    padding: 20px;
    padding-bottom: 50px;
  }
}

.view {
  &--header {
    &.fixed-scroll {
      top: 55px;
      position: fixed;
      width: 100vw;
      background-color: $pure-white;
      z-index: 50;
      box-shadow: $default-box-shadow;
    }
    &--content {
      padding: 10px;

      &--actions {
        display: inline-flex;
        padding-top: 10px;
      }
    }
    &--sub {
      font-size: $font-size-sm;
      color: $non-textual-grey;
    }
  }

  &--content {
    // adding white space to bottom, so scroll-to will take the element to the top of the page always
    margin-bottom: 900px;

    &.with-fixed-top {
      margin-top: 80px;
    }
  }
}

.now-tabs .ant-tabs-bar {
  text-align: center;
  margin: 0;
}

.fixed-top {
  position: relative;
}

.side-menu {
  overflow: scroll;
  margin-left: 15px;
  margin-top: 15px;
  width: 240px;
  position: absolute;
  left: 0;

  @include tablet {
    display: none;
  }

  &--fixed {
    margin-left: 15px;
    top: 190px;
    position: fixed;
    width: 240px;

    @include tablet {
      display: none;
    }
  }

  &--timeline {
    @extend .side-menu;
    padding-left: 20px;
    padding-top: 10px;

    &.with-fixed-top {
      position: fixed;
      top: 80px;
      margin-top: 80px;
    }
  }

  ul {
    list-style: none;
  }

  &--content {
    padding: 20px;
    position: relative;
    padding-right: 20px;
    left: 250px;
    width: calc(100vw - 270px);
    // extra margin on the bottom to allow to scroll to end of side menu
    margin-bottom: 900px;

    &.with-fixed-top {
      top: 50px;
      margin-top: 20px;
    }

    @include tablet {
      position: inherit;
      width: 100%;
    }
  }

  @include tablet {
    display: none;
  }
}

.now-menu-link {
  a:hover,
  a:active {
    text-decoration: none;
    color: $light-violet;
  }

  &.ant-anchor-link {
    line-height: 1.2;
    border-bottom: none;
    padding: 4px;
  }
}

.now-menu-link.ant-anchor-link .ant-anchor-link {
  line-height: 1;
  & .ant-anchor-link-title {
    font-weight: lighter;
    padding-left: 5px;
  }
}

.ant-disabled {
  color: rgba(0, 0, 0, 0.65);
}

.ant-input[disabled] {
  border: none;
  color: rgba(0, 0, 0, 0.65);
}

.ant-radio-disabled + span,
.ant-checkbox-disabled + span {
  color: rgba(0, 0, 0, 0.65);
}

.info-tooltip {
  padding-bottom: 5px;
  width: 25px;
  height: 25px;
  color: $violet;
}

.fee-determination--block {
  border: 2px solid #a09495;
  border-radius: 5px;
  padding: 10px;
}

.status-banner {
  position: relative;
  bottom: 0;
  height: 22px;
  z-index: 100;
  .ant-alert-message {
    position: relative;
    left: 150px;
    font-weight: lighter;
    color: white !important;
  }
}

.progress-steps {
  // remove active styling on progress steps as nothing is "active"
  .ant-steps-item-active .ant-steps-item-description {
    color: rgba(0, 0, 0, 0.45) !important;
  }
}

.progress-status {
  .ant-badge-status-text {
    font-size: 12px;
  }
}

.tab-title {
  color: $violet;
  min-width: 255px;
  max-width: 280px;
  margin-top: 5px;
  text-align: end;
}

.progress-actions {
  margin-left: 5px;

  @include tablet {
    margin-left: 0;
  }
}

.confirm-success {
  .ant-result-icon > .anticon {
    font-size: 40px;
  }
  .ant-result {
    padding: 20px 0;
    display: inline-flex;
  }
  .ant-result-icon {
    margin-bottom: 0;
  }
  .ant-result-title {
    margin-top: 6px;
    font-size: 15px;
  }
}

.show-on-hover {
  display: none;
}

.hover-row {
  .ant-row {
    margin: 0;
  }
  &.ant-row:hover {
    background-color: rgb(244, 240, 240);
    .show-on-hover {
      display: inherit;
    }
  }
}

.card--white {
  border-radius: 5px;
  min-height: 150px;
  max-height: fit-content;
  padding: 10px;
  background-color: white;
  .null {
    @include center(true, true);
  }
}

.contact-rows {
  .scroll {
    height: 100vh;
    padding: 20px 0;
    overflow-y: scroll;
    .ant-col {
      padding: 5px;
    }
  }
  background-color: #f3f0f0;
  padding: 25px;
  border-radius: 5px;
}

.party-table {
  .ant-table-thead {
    display: none;
  }
}

.template-letter-content {
  padding-top: 15px;
}

.template-letter-content .ant-typography {
  padding-top: 10px;
}

.condition-menu-container {
  background-color: $violet;
  padding: 5px;
  position: fixed;
  top: 65px;
  left: 20px;
  z-index: 1001;
  box-shadow: $default-box-shadow !important;
  border-radius: 5px;

  h4 {
    color: $white;
  }
}

.variable-menu {
  margin: 10px;
}

.variable-item.ant-menu-item-selected {
  background-color: white !important;
}
