.notification-icon {
  color: #FFF;
  font-size: 24px;
}

.notification-button {
  font-size: unset;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  height: 100%;
  border-radius: 0;
}

.notification-button-open {
  background-color: #5E46A1 !important;
}

.notification-button svg {
  font-size: 20px;
}

.notification-button .ant-scroll-number-only > span.ant-scroll-number-only-unit {
  font-size: 12px;
}

.notification-button .ant-badge-count {
  height: 18px;
  min-width: 18px;
  line-height: 18px;
  padding: 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(60%, -60%);
}

.notification-button:hover {
  border: transparent;
  background-color: #5E46A1;
}

@keyframes fadeIn {
  0% { opacity: 0; top: 52px; transform: translateX(10000px);}
  1% { transform: translateX(0);}
  100% { opacity: 1; top: 62px; transform: translateX(0); }
}

.notification-drawer {
  width: 564px;
  position: absolute;
  right: 0;
  top: 52px;
  overflow: hidden;
  background-color: #FFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  opacity: 0;
  height: 70vh;
  padding: 0 16px 24px 16px;
  border: 1px solid #BBBBBB;
  transform: translateX(10000px);
}

.notification-drawer-open {
  animation: fadeIn 0.3s both ease-in-out;
}

.notification-drawer a {
  text-decoration: none;
}


.notification-drawer .ant-tabs-content-holder {
  max-height: calc(70vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 100px;
}

.notification-container {
  position: relative;
}

.notification-drawer .ant-tabs .ant-tabs-tab {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  background-color: #FFF !important;
}

.notification-drawer .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap {
  border-bottom: unset !important;
}

.notification-drawer .ant-tabs > .ant-tabs-nav .ant-tabs-tab-active > div > article {
  color: #5E46A1;
  text-shadow: none;
}

.notification-separator {
  height: 4px;
  width: 4px;
  background-color: #BBBBBB;
  border-radius: 50%;
}

.notification-list-item {
  padding: 0 24px;
  position: relative;
  width: 100%;
  margin: 8px 0;
}

.notification-list-item:hover {
  background-color: #f0f6fd !important;
  cursor: pointer;
  text-decoration: none;
}

.notification-dot {
  position: absolute;
  left: 0;
  top: 24px;
  transform: translateY(-50%);
  background-color: $gov-blue;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.notification-info-text {
  color: #606060;
  font-size: 14px;
  font-weight: 400;
}

.notification-tab-pane {
  background-color: #FFF;
}

.notification-badge .ant-badge-count {
  box-shadow: unset !important;
}

.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification-tab-header {
  font-family: 'BCSans', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.notification-button-all-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #FFFFFF;
}

.notification-button-all, .notification-button-all:active {
  border: none;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.notification-button-all > span {
  font-size: 14px;
}

.notification-button-all:hover {
  background-color: #FFFFFF;
  border: none;
}

.notification-button-all:hover > span {
  text-decoration: underline;
}