.nod-modal-section-header {
  color: #000;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.nod-modal-section-sub-header {
  font-size: 1rem;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.nod-section-padding {
  padding: 11px;
}

.nod-table-link > a {
  color: #333;
}