@use "../base.scss" as *;

div.condition-layer {
  padding-top: 12px;
  padding-left: 24px;
  font-weight: normal;

  .condition-content {
    &.editable:hover {
      cursor: pointer;
      background-color: #F4F0F0;
    }

    .view-item {
      margin-bottom: 0;
    }

    .condition-column {
      width: 100%;
    }

    .step-column {
      padding-right: 8px;
      max-width: 100px;
      flex-shrink: 0;
    }
  }

  &--editing {
    cursor: initial;
  }

  &--0 {
    border: 1px solid $transparent-dark-grey;
    border-radius: 4px;
    padding: 16px;
    font-weight: 700;

    p.condition-layer--0 {
      font-weight: 600;
    }

    p.condition-layer {
      white-space: pre-wrap;
    }

    >.condition-collapsed {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.condition-edit-buttons {
  padding: 0 8px;
}

.report-collapse-container {
  width: 100%;
}

.report-collapse-container>div {
  border: 1px solid #d9d9d9;
}

.report-collapse {
  width: 100%;
  background-color: #f9f9f9;
}

.icon-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}