@use "../base.scss" as *;

.permit-search {
    &__layout {
        padding: 32px;
        min-height: 100vh;
        background: $pure-white;
    }

    &__content {
        width: 100%;
        margin: 0 auto;
        background: $pure-white;
    }

    &__empty-state {
        width: 100%;
        min-height: 400px;
    }


    &__filter-header {
        padding: 12px 16px;
        cursor: pointer;
    }

    &__filter-content {
        padding: 0px 16px;
        transition: all 0.3s ease-in-out;

        &--visible {
            height: auto;
            overflow: visible;
        }

        &--hidden {
            height: 0;
            overflow: hidden;
        }
    }

    &__filter-inner {
        padding: 16px;

        &--hidden {
            padding: 0 16px;
        }
    }


    &__results-list {
        background: $pure-white;
        border-radius: 8px;
    }

    &__markdown {
        padding: 0;
        font-size: 15px;
        line-height: 1.6;
    }

    &__example-link {
        display: block;
        border-radius: 4px;
        cursor: pointer;
        padding: 8px;
        margin: -8px;
        transition: background-color 0.2s ease;
    }
}