.project-lead-edit {
  background-color: "#f3f0f0";
  padding: "20px";
}

@media (min-width: 992px) {
  .project-lead-edit-btn {
    padding-top: 60px;
  }
}

@media (max-width: 991px) {
  .project-lead-edit-btn {
    padding-left: 0px !important;
  }
}
