.cap-col-height {
  max-height: 25px * 6;
  overflow-y: auto;
}

.ant-table-filter-dropdown-link.confirm {
  position: relative;
}

.ant-table-content {
  overflow-x: auto;

  .ant-table-tbody {
    tr.ant-table-row {
      td.ant-table-cell {
        span.ant-badge-status {
          white-space: nowrap;
        }
      }
    }
  }
}

.ant-table-thead>tr>th {
  font-weight: 600;
}

@include tablet {
  .ant-table table {
    min-width: 100%;
  }

  .ant-table-thead {
    display: none;
  }

  .ant-table-tbody>tr {
    display: block;
    border-top: 2px solid $lightest-grey;
  }

  .ant-table-tbody>tr>td {
    display: block !important;
    padding: 0.25rem 0.5rem;
    border-bottom: none;

    &:first-child {
      padding-top: 1rem;
    }

    &:last-child {
      padding-bottom: 1rem;
    }

    div {
      white-space: nowrap;
      overflow: auto;
    }

    // Cell content wrapper allows us to add names for each column on smaller devices
    div:first-of-type::before {
      content: attr(title);
      display: inline-block;
      vertical-align: top;
      padding-right: 1rem;
      width: 50%;
      font-weight: 500;
    }
  }

  .ant-table-tbody>tr>td:last-child {
    border-bottom: 0;
  }
}

// Nested Table
tr.ant-table-expanded-row,
tr.ant-table-expanded-row:hover {
  >td {
    background-color: #fff;
  }
}

.nested-table {
  tr {
    &.ant-table-expanded-row {
      background: #fff;
    }
  }

  .ant-table-expanded-row:hover>td {
    background: #fff;
  }
}

.table-row-align-middle {
  vertical-align: middle;

  td {
    vertical-align: middle;
  }
}

.wrapped-text {
  word-break: break-word;
  white-space: normal;
}

// Centered Pagination
$pagination-width-1: 112px;
$pagination-width-2: 152px;
$pagination-width-3: 192px;
$pagination-width-4: 232px;
$pagination-width-5: 272px;
$pagination-width-6: 312px;
$pagination-width-7: 352px;
$pagination-width-8: 392px;
$pagination-width-9: 432px;
$pagination-width-full: 352px;

$pagination-widths: $pagination-width-1, $pagination-width-2, $pagination-width-3,
  $pagination-width-4, $pagination-width-5, $pagination-width-6, $pagination-width-7,
  $pagination-width-8, $pagination-width-9, $pagination-width-full;

.center-pagination {
  @for $i from 1 through length($pagination-widths) {
    &.page-count-#{$i} {
      .ant-table-pagination.ant-pagination {
        $pagination-width: nth($pagination-widths, $i);
        margin-right: unquote("calc( 50% - #{$pagination-width} / 2 )");
      }
    }
  }
}

.column-hide {
  display: none;
}

.ant-table-footer {
  color: $black;
  font-weight: bold;
  background: none;
  border-top: 2px solid $black;
}

.ant-table-tbody>tr.ant-table-row.ant-table-row-minimal {
  &>td {
    border-bottom: none;
  }

  &:hover>td {
    background: none
  }

  &>td:first-child {
    padding-left: 0;
  }
}

// buttons within tables
td.ant-table-cell {
  vertical-align: middle;
  button {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.diff-table-row > td{
  vertical-align: top;
}