#loading-screen {
  z-index: 99999;
  position: fixed;
  background: $modal-mask-bg;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  #loader {
    width: 300px;
    height: 300px;
    @include center(true, true);
  }
}
