{
  "apiVersion": "v1",
  "kind": "Pod",
  "metadata": {
    "labels": {
      "app-name": "mds",
      "app": "${APP_LABEL}"
    },
    "name": "${NAME}",
    "namespace": "empr-mds-dev"
  },
  "spec": {
    "containers": [
      {
        "command": [${COMMAND}],
        "image": "${IMAGE_PATH}:${IMAGE_TAG}",
        "imagePullPolicy": "Always",
        "name": "${NAME}"
      }
    ],
    "dnsPolicy": "ClusterFirst"
  }
}
