{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": { "node": "current", "ie": "8" }
      }
    ],
    ["@babel/preset-react"]
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    [
      "@babel/transform-runtime",
      {
        "corejs": 3
      }
    ],
    ["@babel/plugin-proposal-class-properties"],
    ["react-hot-loader/babel"],
    ["transform-class-properties"]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "entry",
            "corejs": 3,
            "targets": { "node": "current", "ie": "8" }
          }
        ],
        ["@babel/preset-react"]
      ],
      "plugins": ["transform-class-properties"]
    }
  }
}
