API_URL=http://localhost:5000
DOCUMENT_MANAGER_URL=http://localhost:5001

KEYCLOAK_RESOURCE=mines-application-local
KEYCLOAK_CLIENT_ID=minespace-local
KEYCLOAK_IDP_HINT=local
KEYCLOAK_URL=https://sso-test.pathfinder.gov.bc.ca/auth

KEYCLOAK_ROLE_ADMIN=mds-mine-admin
KEYCLOAK_ROLE_CREATE=mds-mine-create
KEYCLOAK_ROLE_VIEW=mds-mine-view

BASE_PATH=
ASSET_PATH=/
