# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

# testing
/coverage
/reports

# misc
.DS_Store
.env

# Editor settings
.vscode/*
.vimrc

# cypress
/cypress/videos
/cypress/screenshots