.env
.venv/
node_modules/
.DS_Store
.gradle/
pipeline/build/
coverage/
.idea/
.vscode/launch.json
.vscode/tasks.json
__pycache__
*.pytest_cache
*.pyc
*tmp*.tar
*.pgCustom
*.sw*
microservices/document_manager/backend/document_uploads/
*last-backup
venv*

*_DeploymentConfig.json
*_BuildConfig.json
*.local.*
*.crt

act.secrets

credentials.tfrc.json
backend.tfrc
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
*.auto.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

.terragrunt-cache