.env
.venv/
node_modules/
.DS_Store
.gradle/
pipeline/build/
coverage/
.idea/
migrations/sql/afterMigrate__88__create_schema_users.sql
__pycache__
*.pytest_cache
*.pyc
*tmp*.tar
*.pgCustom
*.sw*
microservices/document_manager/backend/document_uploads/
*last-backup
venv*
[~][$]*

*_DeploymentConfig.json
*_BuildConfig.json
*.local.*
*.crt
.github/act.secrets

act/

# Terraform
.terraform
terragrunt.auto.tfvars
credentials.tfrc.json
backend.tf
.terragrunt-cache
.terraform.lock.hcl

cypress.env.json

# debug
debug
/devops
gitops/tenant-gitops-4c2ba9

!.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
.yarn/cache
.yarn/install-state.gz
#/.pnp.*
.yarn/yarn.build.json

.yarn/.DS_Store
