# Auto detect text files and perform LF normalization
* text eol=lf
*.[bB][aA][tT] text eol=crlf

# Binary archive files
# ============
*.[gG][zZ] binary
*.[jJ][aA][rR] binary
*.[mM][iM][nN].[jJ][sS].[gG][zZ][iI][pP] binary
*.[zZ][iI][pP] binary
# Binary font files
# ============
*.[eE][oO][tT] binary
*.[tT][tT][fF] binary
*.[wW][oO][fF][fF] binary
*.[wW][oO][fF][fF]2 binary

# Binary image files
# ============
*.[iI][cC][oO] binary
*.[jJ][pP][gG] binary
*.[jJ][pP][eE][gG] binary
*.[pP][nN][gG] binary
*.[sS][vV][gG] binary
*.[tT][iI][fF] binary
*.[tT][iI][fF][fF] binary
*.[gG][iI][fF] binary

# Binary text files
# ============
*.[dD][oO][cC] binary
*.[dD][oO][cC][xX] binary
*.[xX][lL][sS] binary
*.[xX][lL][sS][xX] binary
*.[pP][dD][fF] binary
*.[xX][lL][sS][mM] binary

# Binary other files
# ============
*.[mM][pP][3] binary
