version: "2"

services:
  ####################### Keycloak Definition #######################
  # keycloak:
  #   restart: always
  #   container_name: mds_keycloak
  #   image: jboss/keycloak
  #   environment:
  #     - KEYCLOAK_USER=admin
  #     - KEYCLOAK_PASSWORD=admin
  #     - KEYCLOAK_IMPORT=/tmp/keycloak-local-realm.json
  #     - DB_VENDOR=h2
  #   volumes:
  #     - ./settings/keycloak/keycloak-local-realm.json:/tmp/keycloak-local-realm.json
  #     - ./settings/keycloak/keycloak-local-user.sh:/tmp/keycloak-local-user.sh
  #   ports:
  #     - "8080:8080"
  #     - "8443:8443"
  #   networks:
  #     - mds
  #   # logging:
  #   #     driver: none

  ####################### Postgres Definition #######################
  postgres:
    restart: always
    container_name: mds_postgres
    build:
      context: migrations
      dockerfile: Dockerfile.dev
    environment:
      - POSTGRES_USER=mds
      - POSTGRES_PASSWORD=test
      - POSTGRES_DB=mds
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - mds

  ####################### Flyway Migration Definition #######################
  flyway:
    container_name: mds_flyway
    build:
      context: migrations
      dockerfile: Dockerfile.flyway.dev
    environment:
      - FLYWAY_USER=mds
      - FLYWAY_HOME=/flyway
      - FLYWAY_PASSWORD=test
      - FLYWAY_DB_NAME=mds
      - FLYWAY_DB_HOST=postgres
      - FLYWAY_URL=jdbc:postgresql://postgres/mds
      - FLYWAY_OUT_OF_ORDER=true
      - FLYWAY_CONNECT_RETRIES=60
      - NRIS_USER_PASSWORD=nris_pass
      - DOCMAN_USER_PASSWORD=docman_pass
      - LOGSTASH_USER_PASSWORD=logstash_pass
      - METABASE_USER_PASSWORD=metabase_pass
    depends_on:
      - postgres
    networks:
      - mds

  ####################### Backend Definition #######################
  backend:
    restart: always
    container_name: mds_backend
    build:
      context: services/core-api
    env_file: services/core-api/.env
    ports:
      - 5000:5000
    volumes:
      - ./services/core-api/:/app/
    depends_on:
      - flyway
      - redis
      # - nris_backend
      - document_manager_backend
    networks:
      - mds

  ####################### Redis Definition #######################
  redis:
    image: redis:3.2-alpine
    container_name: mds_cache
    restart: always
    command: redis-server --requirepass redis-password
    ports:
      - "6379:6379"
    networks:
      - mds

  ####################### Frontend Definition #######################
  frontend:
    restart: always
    container_name: mds_frontend
    build:
      context: services/core-web
    command: ["npm", "run", "serve"]
    volumes:
      - ./services/core-web/src/:/app/src/
    ports:
      - 3000:3000
    depends_on:
      - backend
    env_file: ./services/core-web/.env
    networks:
      - mds

  minespace:
    restart: always
    container_name: mds_minespace
    build:
      context: services/minespace-web
    command: ["npm", "run", "serve"]
    volumes:
      - ./services/minespace-web/src/:/app/src/
    ports:
      - 3020:3020
    depends_on:
      - backend
    env_file: ./services/minespace-web/.env
    networks:
      - mds

  ####################### NRIS_BACKEND Definition #######################
  # nris_backend:
  #   restart: always
  #   container_name: nris_python
  #   build:
  #     context: services/nris-api/backend
  #   ports:
  #     - 5500:5500
  #   volumes:
  #     - ./services/nris-api/backend/:/app/
  #   depends_on:
  #     - flyway
  #     - redis
  #     - nris_migrate
  #   env_file: ./services/nris-api/backend/.env
  #   networks:
  #     - mds

  # nris_migrate:
  #   restart: on-failure
  #   container_name: nris_migrate
  #   build:
  #     context: services/nris-api/backend
  #   volumes:
  #     - ./services/nris-api/backend/:/app/
  #   depends_on:
  #     - flyway
  #     - redis
  #   command: flask db upgrade
  #   env_file: ./services/nris-api/backend/.env
  #   networks:
  #     - mds
  ####################### DOCUMENT_MANAGER_BACKEND Definition #######################
  document_manager_backend:
    restart: always
    container_name: document_manager_backend
    build:
      context: services/document-manager/backend
    ports:
      - 5001:5001
    volumes:
      - ./services/document-manager/backend/:/app/
    depends_on:
      - flyway
      - redis
      - document_manager_migrate
    env_file: ./services/document-manager/backend/.env
    networks:
      - mds

  document_manager_migrate:
    restart: on-failure
    container_name: document_manager_migrate
    build:
      context: services/document-manager/backend
    volumes:
      - ./services/document-manager/backend/:/app/
    depends_on:
      - flyway
      - redis
    command: flask db upgrade
    env_file: ./services/document-manager/backend/.env
    networks:
      - mds

  ####################### DOCUMENT_GENERATION Definition #######################
  docgen-api:
    restart: always
    container_name: docgen_api
    build:
      context: services/docgen-api
    command: ["node", "index"]
    #volumes:
    #  - ./services/docgen-api/:/carbone-api/
    ports:
      - 3030:3030
    networks:
      - mds

  ####################### Logging and Monitoring #######################

  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/loki.local.config.yaml
    volumes:
      - ./settings/loki:/etc/loki/
    networks:
      - mds

  promtail:
    image: grafana/promtail:latest
    volumes:
      - ./settings/promtail:/etc/promtail
    command: -config.file=/etc/promtail/promtail.local.yaml
    expose:
      - 1514
    networks:
      - mds

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - "./settings/prometheus/prometheus.local.yml:/etc/prometheus/prometheus.yml"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      # - '--storage.tsdb.path=/prometheus'
      - "--web.console.libraries=/usr/share/prometheus/console_libraries"
      - "--web.console.templates=/usr/share/prometheus/consoles"
    ports:
      - "9090:9090"
    networks:
      - mds

  grafana:
    image: grafana/grafana:master
    container_name: grafana
    user: "104"
    depends_on:
      - prometheus
    volumes:
      - ./settings/grafana/provisioning/:/etc/grafana/provisioning/
    ports:
      - "3010:3000"
    networks:
      - mds

  # jaeger:
  #   image: jaegertracing/all-in-one:latest
  #   ports:
  #     - "6831:6831/udp"
  #     - "16686:16686"
  #   networks:
  #     - mds

  ############################# Container metrics ###########################
  # https://github.com/maheshmahadevan/docker-monitoring-windows
  node-exporter:
    image: prom/node-exporter
    container_name: node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
    command:
      - "--path.procfs=/host/proc"
      - "--path.sysfs=/host/sys"
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    ports:
      - 9100:9100
    restart: always

  cadvisor:
    image: google/cadvisor
    container_name: cadvisor
    volumes:
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    ports:
      - 8080:8080
    restart: always

  ############################# Exporters ###################################
  # https://github.com/rongfengliang/redis-exporter-prometheus-docker-compose
  redis_monitoring:
    image: oliver006/redis_exporter:latest
    container_name: mds_cache_monitoring
    command: -redis.addr redis://redis:6379
    restart: always
    depends_on:
      - redis
    ports:
      - "9121"
    networks:
      - mds

  # https://github.com/wrouesnel/postgres_exporter
  postgres_monitoring:
    image: wrouesnel/postgres_exporter
    container_name: mds_postgres_monitoring
    command: --net=host -e DATA_SOURCE_NAME="postgresql://mds:test@postgres:5432/mds?sslmode=disable"
    restart: always
    depends_on:
      - postgres
    ports:
      - "9187"
    networks:
      - mds

####################### Networks Definition ######################
networks:
  mds:
    driver: "bridge"

####################### Volumes Definition #######################
volumes:
  postgres-data:
