version: '2'

services:
####################### Keycloak Definition #######################
  keycloak:
    restart: always
    container_name: mds_keycloak
    image: jboss/keycloak
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - KEYCLOAK_IMPORT=/tmp/keycloak-local-realm.json
      - KEYCLOAK_HOSTNAME=keycloak
      - DB_VENDOR=h2
    volumes:
     - ./openshift/scripts/keycloak-local-realm.json:/tmp/keycloak-local-realm.json
     - ./openshift/scripts/keycloak-local-user.sh:/tmp/keycloak-local-user.sh
    ports:
      - "8080:8080"
      - "8443:8443"
    networks:
      - mds

####################### Postgres Definition #######################
  postgres:
    restart: always
    container_name: mds_postgres
    build:
      context: migrations
      dockerfile: Dockerfile.dev
    environment:
      - POSTGRES_USER=mds
      - POSTGRES_PASSWORD=test
      - POSTGRES_DB=mds
    ports:
      - "5432:5432"
    networks:
      - mds

####################### Backend Definition #######################
  backend:
    restart: always
    container_name: mds_backend
    build:
      context: python-backend
    ports:
      - 5000:5000
    volumes:
     - ./python-backend:/app
    depends_on:
      - postgres
    # Export environment variables from .env into the container environment
    entrypoint: ["bash", "-c", "grep -v '^#' .env | xargs ; flask run"]
    networks:
      - mds

####################### Frontend Definition #######################
  frontend:
    restart: always
    container_name: mds_frontend
    build:
      context: frontend
    volumes:
     - ./frontend/src:/app/src
    ports:
      - 3000:3000
    depends_on:
      - backend
    networks:
      - mds

####################### Networks Definition #######################
networks:
  mds:
    driver: "bridge"