@mixin screen-xs {
  @media (max-width: #{$screen-xs}) {
    @content;
  }
}

@mixin screen-sm {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}

@mixin screen-md {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}

@mixin screen-lg {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}

@mixin screen-xl {
  @media (max-width: #{$screen-xl}) {
    @content;
  }
}

@mixin screen-xxl {
  @media (max-width: #{$screen-xxl}) {
    @content;
  }
}

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}
