@use "../settings/theme.scss" as *;

$mobile-width: 500px;
$tablet-width: 768px;
$large-width: 1024px;
$desktop-width: 75em;
$x-large-width: 90em;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin screen-xs {
  @media (max-width: #{$screen-xs}) {
    @content;
  }
}

@mixin screen-sm {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}

@mixin screen-md {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}

@mixin screen-lg {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}

@mixin screen-xl {
  @media (max-width: #{$screen-xl}) {
    @content;
  }
}

@mixin screen-xxl {
  @media (max-width: #{$screen-xxl}) {
    @content;
  }
}

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;

  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  }

  @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}