@use "sass:color";
@use "../settings/variables.scss";
@use "../settings/theme.scss";
@use "../tools/mixins.scss";

body {
  font-family: variables.$default-font;
}

html {
  scroll-behavior: smooth;
}

.layout {
  min-height: 100vh;
}

.header {
  height: variables.$header-height;
}

.line-height-none {
  line-height: 1;
}

.content {
  overflow: initial;
  min-height: 100vh;
  background-color: variables.$pure-white;
  padding-bottom: 80px;

  &--light-grey {
    background-color: variables.$lightest-grey;
    border-radius: 2px;
  }
}

.grey-background {
  background-color: variables.$lightest-grey;
  padding: 20px;
  margin: 20px;
}

.grey-filled-box {
  background: variables.$background;
  padding: 16px 24px;
}

.footer {
  height: 45px;
  background-color: variables.$nav-color;
  z-index: 100;
}

.center {
  text-align: center;
}

.horizontal-center {
  align-items: center !important;
}

.justify-center {
  justify-content: center;
}

.violet {
  color: variables.$violet;

  &-border {
    border-color: variables.$violet;
  }
}

.grey {
  color: variables.$medium-grey;
}

.red {
  color: variables.$alert-red;
}

.green {
  color: variables.$ok-green;
}

.right {
  text-align: right;
}

.float-right {
  float: right;
}

.position-right {
  position: absolute;
  right: 10px;
}

.left {
  text-align: left;
}

.inline {
  display: inline-block;
}

.grid {
  display: grid;
}

.full {
  width: 100%;
  height: 100%;
  text-align: left;
}

.full-height {
  height: inherit !important;
}

.uppercase {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

.inline-flex {
  @include mixins.flex;

  &--img {
    margin-top: 5px;
    height: 50%;
  }

  &>div {
    margin-right: 5px;
  }

  &--inline {
    display: inline-flex;
  }
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.block {
  &-mobile {
    @include mixins.mobile {
      display: block;
    }
  }

  &-tablet {
    @include mixins.tablet {
      display: block;
    }
  }
}

.flex {
  @include mixins.flex;

  &-mobile {
    @include mixins.mobile {
      @include mixins.flex;
    }
  }

  &-tablet {
    @include mixins.tablet {
      @include mixins.flex;
    }
  }
}

.flex-4 {
  flex: 4;
}

.flex-1 {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.flex-flow-column {
  flex-flow: column;
}

.center-mobile {
  @include mixins.mobile {
    display: block;
    text-align: center !important;
    margin: 0 !important;
  }
}

.full-mobile {
  @include mixins.mobile {
    width: 100% !important;
    margin: 5px 0;
  }
}

.page__content,
.tab__content {
  padding: variables.$default-padding-lg 40px;
  margin-bottom: 100px;

  @include mixins.mobile {
    padding: 0 variables.$default-padding-lg;
  }

  &--nested {
    padding: 0 variables.$default-padding-lg;

    @include mixins.large {
      padding: 0 variables.$default-padding-sm;
    }

    @include mixins.mobile {
      padding: 0;
    }
  }
}

.thick-divider {
  height: 2px;
}

.btn--dropdown {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;

  &:hover {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
  }
}

.btn--expand {
  background: none;
  color: variables.$hover-blue;
  align-self: flex-end;
  margin: 0;
  height: 100%;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: variables.$hover-blue;
    background: none;
    border: none;
    padding: 0;
  }
}

.btn--middle {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.items-center {
  align-items: center;
}

.card-buttons {
  flex-direction: column;
}

.padding-sm {
  padding: variables.$default-padding-sm;

  &--left {
    padding-left: variables.$default-padding-sm;
  }

  &--right {
    padding-right: variables.$default-padding-sm;
  }

  &--top {
    padding-top: variables.$default-padding-sm;
  }

  &--bottom {
    padding-bottom: variables.$default-padding-sm;
  }

  &--y {
    padding-top: variables.$default-padding-sm;
    padding-bottom: variables.$default-padding-sm;
  }


}

.padding-md {
  padding: variables.$default-padding-md;

  &--top {
    padding-top: variables.$default-padding-md;
  }

  &--bottom {
    padding-bottom: variables.$default-padding-md;
  }

  &--right {
    padding-right: variables.$default-padding-md;
  }

  &--left {
    padding-left: variables.$default-padding-md;
  }

  &--sides {
    padding-left: variables.$default-padding-md;
    padding-right: variables.$default-padding-md;

    &--y {
      padding-top: variables.$default-padding-md;
      padding-bottom: variables.$default-padding-md;
    }

    @include mixins.tablet {
      padding: 0;
    }
  }
}

.padding-lg {
  padding: variables.$default-padding-lg;

  &--top {
    padding-top: variables.$default-padding-lg;
  }

  &--bottom {
    padding-bottom: variables.$default-padding-lg;
  }

  &--right {
    padding-right: variables.$default-padding-lg;
  }

  &--left {
    padding-left: variables.$default-padding-lg;
  }

  &--sides {
    padding-left: variables.$default-padding-lg;
    padding-right: variables.$default-padding-lg;

    @include mixins.tablet {
      padding: 0;
    }
  }

  &--y {
    margin-top: variables.$default-margin-lg;
    margin-bottom: variables.$default-margin-lg;
  }
}

.padding-xxl {
  padding: variables.$default-padding-xxl;

  &--top {
    padding-top: variables.$default-padding-xxl;
  }

  &--bottom {
    padding-bottom: variables.$default-padding-xxl;
  }

  &--right {
    padding-right: variables.$default-padding-xxl;
  }

  &--left {
    padding-left: variables.$default-padding-xxl;
  }
}

.margin-none {
  margin: 0 !important;
}

.margin-small {
  margin: variables.$default-margin-sm;

  &--left {
    margin-left: variables.$default-margin-sm !important;
  }

  &--right {
    margin-right: variables.$default-margin-sm !important;
  }

  &--top {
    margin-top: variables.$default-margin-sm !important;
  }

  &--bottom {
    margin-bottom: variables.$default-margin-sm !important;
  }
}

.margin-medium {
  &--left {
    margin-left: variables.$default-margin-md !important;
  }

  &--right {
    margin-right: variables.$default-margin-md !important;
  }

  &--top {
    margin-top: variables.$default-margin-md !important;
  }

  &--bottom {
    margin-bottom: variables.$default-margin-md !important;
  }

  &--y {
    margin-top: variables.$default-margin-md !important;
    margin-bottom: variables.$default-margin-md !important;
  }
}

.margin-large {
  margin: variables.$default-margin-lg !important;

  &--left {
    margin-left: variables.$default-margin-lg !important;
  }

  &--right {
    margin-right: variables.$default-margin-lg !important;
  }

  &--top {
    margin-top: variables.$default-margin-lg !important;
  }

  &--bottom {
    margin-bottom: variables.$default-margin-lg !important;
  }

  &--y {
    margin-top: variables.$default-margin-lg !important;
    margin-bottom: variables.$default-margin-lg !important;
  }
}

.margin-xlarge {
  margin: 50px;
}

.lightest-grey-bg {
  background: variables.$secondary-background-colour;
}

.nested-table-header {
  font-size: variables.$default-h2;
  font-weight: variables.$semi-bold;
  color: variables.$h4-color;
}

// reusable icon classes
// using important to override any existing styling from ant design.
.icon-sm {
  font-size: 20px !important;

  &--img {
    width: 40px;
    height: 46px;
  }
}

.icon-xs {
  font-size: 14px !important;
}

.icon-lg {
  font-size: 24px !important;

  &--lightgrey {
    @extend .icon-lg;
    color: variables.$light-grey;
  }

  &--green {
    @extend .icon-lg;
    color: variables.$ok-green;
  }

  &--warning {
    @extend .icon-lg;
    color: theme.$warning-color;
  }

  &--danger {
    @extend .icon-lg;
    color: theme.$error-color;
  }
}

.icon-xxl {
  font-size: 48px !important;

  &--lightgrey {
    @extend .icon-xxl;
    color: variables.$light-grey;
  }

  &--violet {
    @extend .icon-xxl;
    color: variables.$violet;
  }
}

.icon-xxxl {
  font-size: 80px !important;

  &--lightgrey {
    @extend .icon-xxxl;
    color: variables.$light-grey;
  }

  &--violet {
    @extend .icon-xxxl;
    color: variables.$violet;
  }
}

.img-lg {
  height: 30px;
  font-size: 26px;
}

.vertical-align {
  &-sm {
    vertical-align: -0.125em;
  }

  &-middle {
    vertical-align: middle;
  }
}

// used on larger modals as a divider.
.border {
  &--right {
    &--layout {
      border-right: 1px solid theme.$layout-grey;

      @include mixins.tablet {
        border-right: 0;
      }
    }
  }

  &--left {
    &--layout {
      border-left: 1px solid theme.$layout-grey;

      @include mixins.tablet {
        border-left: 0;
      }
    }
  }
}

.collapsed-container {
  height: 50px;
  overflow: hidden;
}

.disabled-icon {
  opacity: 0.3;
}

.no-margin {
  margin: 0;
}

.underline {
  text-decoration: underline;
  color: variables.$hover-blue;
  cursor: pointer;
}

.add-content-block {
  background-color: white;
  border-radius: 5px;
  border: 2px dashed gray;
  margin: 50px;
  padding: 90px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: color.adjust(white, $lightness: -2%);
  }
}

.small-p {
  font-size: 12px;
}

img.lessOpacity {
  opacity: 0.4;
  filter: alpha(opacity=40);
  zoom: 1;
  cursor: not-allowed;
}

.lighter {
  font-weight: 300 !important;
}

.document-container {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  display: none;
}

.ellipsis-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

// Styling for react-sortable-hoc

.row-dragging {
  background: white;
  border: 1px solid #f0f0f0;
}

.row-dragging td {
  padding: 16px;
}

.row-dragging .drag-visible {
  visibility: visible;
}

.top {
  &-100 {
    margin-top: 100px !important;
  }

  &-125 {
    margin-top: 125px !important;
  }
}

.no-bg {
  background: transparent;
}

.faded-text {
  color: variables.$non-textual-grey;
  text-decoration: none;
}

.plain-link {
  text-decoration: none;
}

.grey-box {
  width: 100%;
  border: 1px solid #f2f2f2;
  padding: 16px 24px;
}

.list-position-outside {
  padding-inline-start: 15px;

  li {
    list-style-position: outside;
  }
}

.desktop-bold {
  font-size: variables.$default-p;
  font-style: normal;
  font-weight: variables.$bold;
  line-height: 24px;
  color: #606060;
}

.declaration-page-content {
  list-style-position: outside;
  padding-left: 25px;

  ol {
    padding-left: 40px;
  }
}

.project-summary-ministry-comments {
  padding: 0 148.5px;
}