body {
  font-family: $default-font;
}

html {
  scroll-behavior: smooth;
}

.layout {
  min-height: 100vh;
}

.header {
  height: 55px;
}

.content {
  overflow: initial;
  min-height: 100vh;
  background-color: $pure-white;

  &--light-grey {
    background-color: $lightest-grey;
    border-radius: 2px;
  }
}

.grey-background {
  background-color: $lightest-grey;
  padding: 20px;
  margin: 20px;
}

.footer {
  height: 45px;
  background-color: $nav-color;
  z-index: 100;
}

.center {
  text-align: center;
}

.horizontal-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.violet {
  color: $violet;
  &-border {
    border-color: $violet;
  }
}

.grey {
  color: $medium-grey;
}

.red {
  color: $alert-red;
}

.right {
  text-align: right;
}

.float-right {
  float: right;
}

.position-right {
  position: absolute;
  right: 10px;
}

.left {
  text-align: left;
}

.inline {
  display: inline-block;
}

.grid {
  display: grid;
}

.full {
  width: 100%;
  height: 100%;
  text-align: left;
}

.full-height {
  height: inherit !important;
}

.uppercase {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

.inline-flex {
  @include flex;

  &--img {
    margin-top: 5px;
    height: 50%;
  }

  & div {
    margin-right: 5px;
  }

  &--inline {
    display: inline-flex;
  }
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.flex-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.block {
  &-mobile {
    @include mobile {
      display: block;
    }
  }

  &-tablet {
    @include tablet {
      display: block;
    }
  }
}

.flex {
  @include flex;

  &-mobile {
    @include mobile {
      @include flex;
    }
  }

  &-tablet {
    @include tablet {
      @include flex;
    }
  }
}

.flex-4 {
  flex: 4;
}

.flex-1 {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.flex-flow-column {
  flex-flow: column;
}

.center-mobile {
  @include mobile {
    display: block;
    text-align: center !important;
    margin: 0 !important;
  }
}

.full-mobile {
  @include mobile {
    width: 100% !important;
    margin: 5px 0;
  }
}

.page__content,
.tab__content {
  padding: $default-padding-lg 40px;
  margin-bottom: 100px;

  @include mobile {
    padding: 0 $default-padding-lg;
  }

  &--nested {
    padding: 0 $default-padding-lg;

    @include large {
      padding: 0 $default-padding-sm;
    }

    @include mobile {
      padding: 0;
    }
  }
}

.thick-divider {
  height: 2px;
}

.btn--dropdown {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;

  &:hover {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
  }
}

.btn--expand {
  background: none;
  color: $hover-blue;
  align-self: flex-end;
  margin: 0;
  height: 100%;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: $hover-blue;
    background: none;
    border: none;
    padding: 0;
  }
}

.btn--middle {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}

.items-center {
  align-items: center;
}

.card-buttons {
  flex-direction: column;
}

.padding-sm {
  &--left {
    padding-left: $default-padding-sm;
  }

  &--right {
    padding-right: $default-padding-sm;
  }

  &--top {
    padding-top: $default-padding-sm;
  }

  &--bottom {
    padding-bottom: $default-padding-sm;
  }

  padding: $default-padding-sm;
}

.padding-md {
  &--top {
    padding-top: $default-padding-md;
  }

  &--bottom {
    padding-bottom: $default-padding-md;
  }

  &--right {
    padding-right: $default-padding-md;
  }

  &--left {
    padding-left: $default-padding-md;
  }

  padding: $default-padding-md;

  &--sides {
    padding-left: $default-padding-md;
    padding-right: $default-padding-md;

    @include tablet {
      padding: 0;
    }
  }
}

.padding-lg {
  &--top {
    padding-top: $default-padding-lg;
  }

  &--bottom {
    padding-bottom: $default-padding-lg;
  }

  &--right {
    padding-right: $default-padding-lg;
  }

  &--left {
    padding-left: $default-padding-lg;
  }

  padding: $default-padding-lg;

  &--sides {
    padding-left: $default-padding-lg;
    padding-right: $default-padding-lg;

    @include tablet {
      padding: 0;
    }
  }
}

.padding-xxl {
  &--top {
    padding-top: $default-padding-xxl;
  }

  &--bottom {
    padding-bottom: $default-padding-xxl;
  }

  &--right {
    padding-right: $default-padding-xxl;
  }

  &--left {
    padding-left: $default-padding-xxl;
  }

  padding: $default-padding-xxl;
}

.margin-none {
  margin: 0;
}

.margin-small {
  &--left {
    margin-left: $default-margin-sm  !important;
  }

  &--right {
    margin-right: $default-margin-sm  !important;
  }

  &--top {
    margin-top: $default-margin-sm  !important;
  }

  &--bottom {
    margin-bottom: $default-margin-sm  !important;
  }

  margin: $default-margin-sm;
}
.margin-medium {
  &--left {
    margin-left: $default-margin-md  !important;
  }

  &--right {
    margin-right: $default-margin-md  !important;
  }

  &--top {
    margin-top: $default-margin-md  !important;
  }

  &--bottom {
    margin-bottom: $default-margin-md  !important;
  }

  margin: $default-margin-md;
}

.margin-large {
  &--left {
    margin-left: $default-margin-lg  !important;
  }

  &--right {
    margin-right: $default-margin-lg  !important;
  }

  &--top {
    margin-top: $default-margin-lg  !important;
  }

  &--bottom {
    margin-bottom: $default-margin-lg  !important;
  }

  margin: $default-margin-lg  !important;
}

.margin-xlarge {
  margin: 50px;
}

.lightest-grey-bg {
  background: $secondary-background-colour;
}

.nested-table-header {
  font-size: $default-h2;
  font-weight: $semi-bold;
  color: $h4-color;
}

// reusable icon classes
// using important to override any existing styling from ant design.
.icon-sm {
  font-size: 20px !important;

  &--img {
    width: 40px;
    height: 46px;
  }
}

.icon-xs {
  font-size: 14px !important;
}

.icon-lg {
  font-size: 24px !important;

  &--lightgrey {
    @extend .icon-lg;
    color: $light-grey;
  }

  &--green {
    @extend .icon-lg;
    color: $ok-green;
  }

  &--warning {
    @extend .icon-lg;
    color: $warning-color;
  }

  &--danger {
    @extend .icon-lg;
    color: $error-color;
  }
}

.icon-xxl {
  font-size: 48px !important;

  &--lightgrey {
    @extend .icon-xxl;
    color: $light-grey;
  }

  &--violet {
    @extend .icon-xxl;
    color: $violet;
  }
}

.icon-xxxl {
  font-size: 80px !important;

  &--lightgrey {
    @extend .icon-xxxl;
    color: $light-grey;
  }

  &--violet {
    @extend .icon-xxxl;
    color: $violet;
  }
}

.img-lg {
  height: 30px;
  font-size: 26px;
}

.vertical-align {
  &-sm {
    vertical-align: -0.125em;
  }

  &-middle {
    vertical-align: middle;
  }
}

// used on larger modals as a divider.
.border {
  &--right {
    &--layout {
      border-right: 1px solid $layout-grey;

      @include tablet {
        border-right: 0;
      }
    }
  }

  &--left {
    &--layout {
      border-left: 1px solid $layout-grey;

      @include tablet {
        border-left: 0;
      }
    }
  }
}

.collapsed-container {
  height: 50px;
  overflow: hidden;
}

.disabled-icon {
  opacity: 0.3;
}

.no-margin {
  margin: 0;
}

.underline {
  text-decoration: underline;
  color: $hover-blue;
  cursor: pointer;
}

.add-content-block {
  background-color: white;
  border-radius: 5px;
  border: 2px dashed gray;
  margin: 50px;
  padding: 90px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: darken(white, 2%);
  }
}

.small-p {
  font-size: 12px;
}

img.lessOpacity {
  opacity: 0.4;
  filter: alpha(opacity=40);
  zoom: 1;
  cursor: not-allowed;
}

.lighter {
  font-weight: 300 !important;
}

.document-container {
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  padding: 10px;

  .inputs {
    overflow: scroll;
    max-height: 300px;
  }
}

.hidden {
  visibility: hidden;
  display: none;
}

// Styling for react-sortable-hoc

.row-dragging {
  background: white;
  border: 1px solid #f0f0f0;
}

.row-dragging td {
  padding: 16px;
}

.row-dragging .drag-visible {
  visibility: visible;
}

.top {
  &-100 {
    margin-top: 100px !important;
  }

  &-125 {
    margin-top: 125px !important;
  }
}