JWT_OIDC_WELL_KNOWN_CONFIG=https://test.loginproxy.gov.bc.ca/auth/realms/standard/.well-known/openid-configuration
JWT_OIDC_CLAIM_AUDIENCE=mds-core-api-internal-5194
JWT_OIDC_CLAIM_ISSUER=https://test.loginproxy.gov.bc.ca/auth/realms/standard