services:
  tika:
    image: "apache/tika:2.9.1.0"
    container_name: tika
    ports:
      - 9998:9998

  haystack-api:
    container_name: haystack
    build:
      context: './'
      dockerfile: './Dockerfile'
    volumes:
      - ./:/opt/pipelines
      - ./app:/code/app
      - fileuploads:/file-uploads
    ports:
      - 8004:80
    restart: on-failure
    environment:
      - DOCUMENTSTORE_PARAMS_HOST=elasticsearch
      - TOKENIZERS_PARALLELISM=false
      - ROOT_PATH=/haystack
      - FILE_UPLOAD_PATH=/file-uploads
      - HAYSTACK_TELEMETRY_ENABLED=False
    depends_on:
      tika:
        condition: service_started
      kibana:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
  
  elasticsearch:
    image: "docker.elastic.co/elasticsearch/elasticsearch:8.12.1"
    container_name: elasticsearch
    ports:
      - 9200:9200
    restart: on-failure
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m"

    volumes:
      - esdata01:/usr/share/elasticsearch/data

    healthcheck:
        test: curl --fail http://localhost:9200/_cat/health || exit 1
        interval: 10s
        timeout: 1s
        retries: 10
  kibana:
    image: "docker.elastic.co/kibana/kibana:8.12.1"
    ports:
      - 5601:5601
    depends_on:
      - elasticsearch
    container_name: kibana

    environment:
     - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    healthcheck:
        test: curl --fail http://localhost:5601/api/status || exit 1
        interval: 10s
        timeout: 1s
        retries: 10
networks:
  default:
    driver: "bridge"

volumes:
  fileuploads:
  esdata01:
    driver: local
