uvicorn==0.24.0.post1
haystack-ai==2.2.3
elasticsearch-haystack==0.6.0
hayhooks==0.0.15
# --extra-index-url https://download.pytorch.org/whl/cpu
# torch==2.1.1
Authlib~=1.3.0
requests~=2.32.3
python-dotenv==1.0.0
boto3==1.34.139
fastapi==0.108.0
pdf2image==1.17.0
Pillow==10.3.
pdfminer.six==20231228
pyyaml==6.0.1
ocrmypdf==16.4.1
joblib==1.4.2