@use "../settings/variables.scss";
@use "../settings/theme.scss";

// Colours
.color {

  // Theme Colours
  &-primary {
    color: theme.$primary-color !important;
  }

  &-info {
    color: theme.$info-color !important;
  }

  &-success {
    color: theme.$success-color !important;
  }

  &-processing {
    color: theme.$processing-color !important;
  }

  &-error {
    color: theme.$error-color !important;
  }

  &-warning {
    color: theme.$warning-color !important;
  }

  &-highlight {
    color: theme.$highlight-color !important;
  }

  &-normal {
    color: theme.$normal-color !important;
  }

  &-white {
    color: variables.$white !important;
  }

  &-black {
    color: variables.$black !important;
  }

  &-text {
    color: theme.$text-color !important;
  }

  // Brand Colours
  &-gov-grey {
    color: theme.$gov-grey !important;
  }
}

// Background Colours
.bg-color {

  // Theme Colours
  &-primary {
    background-color: theme.$primary-color !important;
  }

  &-info {
    background-color: theme.$info-color !important;
  }

  &-success {
    background-color: theme.$success-color !important;
  }

  &-processing {
    background-color: theme.$processing-color !important;
  }

  &-error {
    background-color: theme.$error-color !important;
  }

  &-warning {
    background-color: theme.$warning-color !important;
  }

  &-highlight {
    background-color: theme.$highlight-color !important;
  }

  &-normal {
    background-color: theme.$normal-color !important;
  }

  &-white {
    background-color: variables.$white !important;
  }

  &-black {
    background-color: variables.$black !important;
  }

  &-text {
    background-color: theme.$text-color !important;
  }

  // Brand Colours
  &-gov-grey {
    background-color: theme.$gov-grey !important;
  }

  &-table-seperator {
    background-color: theme.$table-seperator !important;
  }
}