.icon-xs {
  font-size: 18px !important;
  &--darkestgrey {
    @extend .icon-sm;
    color: $darkest-grey;
  }
}

.icon-sm {
  font-size: 20px !important;

  &--img {
    width: 15px;
    height: 26px;
  }
}

.icon-lg {
  font-size: 24px !important;
}

.inline-flex {
  @include flex;

  &--img {
    margin-top: 5px;
    height: 50%;
  }

  & div {
    margin-right: 5px;
  }

  &--inline {
    display: inline-flex;
  }
}

.between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.right {
  text-align: right;
}

.center-mobile {
  @include mobile {
    display: block;
    text-align: center !important;
    margin: 0 !important;
  }
}

.full-mobile {
  @include mobile {
    width: 100% !important;
    margin: 5px 0;
  }
}

.full-width {
  width: 100%;
}

.padding-sm {
  &--left {
    padding-left: $default-padding-sm;
  }
  &--right {
    padding-right: $default-padding-sm;
  }
  &--top {
    padding-top: $default-padding-sm;
  }
  &--bottom {
    padding-bottom: $default-padding-sm;
  }
  padding: $default-padding-sm;
}

.padding-md {
  &--top {
    padding-top: $default-padding-md;
  }
  &--bottom {
    padding-bottom: $default-padding-md;
  }
  &--right {
    padding-right: $default-padding-md;
  }
  &--left {
    padding-left: $default-padding-md;
  }
  padding: $default-padding-md;

  &--sides {
    padding-left: $default-padding-md;
    padding-right: $default-padding-md;
    @include tablet {
      padding: 0;
    }
  }
}

.padding-lg {
  &--top {
    padding-top: $default-padding-lg;
  }
  &--bottom {
    padding-bottom: $default-padding-lg;
  }
  &--right {
    padding-right: $default-padding-lg;
  }
  &--left {
    padding-left: $default-padding-lg;
  }
  padding: $default-padding-lg;

  &--sides {
    padding-left: $default-padding-lg;
    padding-right: $default-padding-lg;

    @include tablet {
      padding: 0;
    }
  }
}

.padding-xxl {
  &--top {
    padding-top: $default-padding-xxl;
  }
  &--bottom {
    padding-bottom: $default-padding-xxl;
  }
  &--right {
    padding-right: $default-padding-xxl;
  }
  &--left {
    padding-left: $default-padding-xxl;
  }
  padding: $default-padding-xxl;
}

.margin-small {
  margin: $default-margin-sm;
}

.margin-large {
  margin: $default-margin-lg;
  &--bottom {
    margin-bottom: $default-margin-lg;
  }
  &--top {
    margin-top: $default-margin-lg;
  }
}

.margin-xlarge {
  margin: 50px;
}

.margin-y-large {
  margin-top: $default-margin-lg;
  margin-bottom: $default-margin-lg;
}

.minespace-tooltip,
.minespace-tooltip * {
  color: white !important;
}

.bold {
  font-weight: bolder;
  margin-bottom: 0;
}

.light {
  color: #606060;
  &--sm {
    font-size: 14px;
    font-weight: 400;
  }
}

.nested-container {
  padding: 10px;
  padding-left: 25px;
}

.red {
  color: $gov-red;
}

.content {
  overflow: initial;
  min-height: 100vh;
  background-color: $pure-white;

  &--light-grey {
    background-color: $lightest-grey-alt;
    border-radius: 2px;
  }
}
