.icon-xs {
  font-size: 18px !important;
  &--darkestgrey {
    @extend .icon-sm;
    color: $darkest-grey;
  }
}

.icon-sm {
  font-size: 20px !important;

  &--img {
    width: 15px;
    height: 26px;
  }
}

.icon-lg {
  font-size: 24px !important;
}

.inline-flex {
  @include flex;

  &--img {
    margin-top: 5px;
    height: 50%;
  }

  & div {
    margin-right: 5px;
  }

  &--inline {
    display: inline-flex;
  }
}

.between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.right {
  text-align: right;
}

.center-mobile {
  @include mobile {
    display: block;
    text-align: center !important;
    margin: 0 !important;
  }
}

.full-mobile {
  @include mobile {
    width: 100% !important;
    margin: 5px 0;
  }
}

.full-width {
  width: 100%;
}

.padding-sm {
  &--left {
    padding-left: $default-padding-sm;
  }
  &--right {
    padding-right: $default-padding-sm;
  }
  &--top {
    padding-top: $default-padding-sm;
  }
  &--bottom {
    padding-bottom: $default-padding-sm;
  }
  padding: $default-padding-sm;
}

.padding-md {
  &--top {
    padding-top: $default-padding-md;
  }
  &--bottom {
    padding-bottom: $default-padding-md;
  }
  &--right {
    padding-right: $default-padding-md;
  }
  &--left {
    padding-left: $default-padding-md;
  }
  padding: $default-padding-md;

  &--sides {
    padding-left: $default-padding-md;
    padding-right: $default-padding-md;
    @include tablet {
      padding: 0;
    }
  }
}

.padding-lg {
  &--top {
    padding-top: $default-padding-lg;
  }
  &--bottom {
    padding-bottom: $default-padding-lg;
  }
  &--right {
    padding-right: $default-padding-lg;
  }
  &--left {
    padding-left: $default-padding-lg;
  }
  padding: $default-padding-lg;

  &--sides {
    padding-left: $default-padding-lg;
    padding-right: $default-padding-lg;

    @include tablet {
      padding: 0;
    }
  }
}

.padding-xxl {
  &--top {
    padding-top: $default-padding-xxl;
  }
  &--bottom {
    padding-bottom: $default-padding-xxl;
  }
  &--right {
    padding-right: $default-padding-xxl;
  }
  &--left {
    padding-left: $default-padding-xxl;
  }
  padding: $default-padding-xxl;
}

.margin-small {
  margin: $default-margin-sm;
  &--top {
    margin-top: $default-margin-sm;
  }
  &--bottom {
    margin-bottom: $default-margin-sm;
  }
  &--right {
    margin-right: $default-margin-sm;
  }
  &--left {
    margin-left: $default-margin-sm;
  }
}

.margin-medium {
  margin: $default-margin-md;
  &--top {
    margin-top: $default-margin-md;
  }
  &--bottom {
    margin-bottom: $default-margin-md;
  }
  &--right {
    margin-right: $default-margin-md;
  }
  &--left {
    margin-left: $default-margin-md;
  }
}

.margin-large {
  margin: $default-margin-lg;
  &--bottom {
    margin-bottom: $default-margin-lg;
  }
  &--top {
    margin-top: $default-margin-lg;
  }
  &--right {
    margin-right: $default-margin-lg;
  }
  &--left {
    margin-left: $default-margin-lg;
  }
  &--y {
    margin-top: $default-margin-lg;
    margin-bottom: $default-margin-lg;
  }
}

.margin-xlarge {
  margin: 50px;
}

.margin-y-large {
  margin-top: $default-margin-lg;
  margin-bottom: $default-margin-lg;
}

.minespace-tooltip,
.minespace-tooltip * {
  color: white !important;
}

.bold {
  font-weight: bolder;
  margin-bottom: 0;
}

.light {
  color: #606060;
  &--sm {
    font-size: 14px;
    font-weight: 400;
  }
}

.nested-container {
  padding: 10px;
  padding-left: 25px;
}

.red {
  color: $gov-red;
}

.content {
  overflow: initial;
  min-height: 100vh;
  background-color: $pure-white;

  &--light-grey {
    background-color: $lightest-grey-alt;
    border-radius: 2px;
  }
}

.gov-blue-title {
  font-family: BCSans, sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: $gov-blue !important;
  line-height: 2rem;
}

// Styling to support scrolling side menu(derived from NoW Core-Web)
.view {
  &--header {
    &.fixed-scroll {
      top: 80px;
      position: fixed;
      width: 75vw;
      background-color: $pure-white;
      z-index: 50;
      box-shadow: $default-box-shadow;
    }
    &--content {
      padding: 10px;

      &--actions {
        display: inline-flex;
        padding-top: 10px;
      }
    }
    &--sub {
      font-size: $font-size-sm;
      color: $non-textual-grey;
    }
  }

  &--content {
    // adding white space to bottom, so scroll-to will take the element to the top of the page always
    margin-bottom: 900px;

    &.with-fixed-top {
      margin-top: 80px;
    }
  }
}

.side-menu {
  width: 250px;
  position: absolute;
  left: 0;

  @include tablet {
    display: none;
  }

  &--fixed {
    top: 260px;
    position: fixed;
    width: 240px;

    @include tablet {
      display: none;
    }
  }

  &--timeline {
    @extend .side-menu;
    padding-left: 20px;
    padding-top: 10px;

    &.with-fixed-top {
      position: fixed;
      top: 80px;
      margin-top: 80px;
    }
  }

  &--content {
    padding: 0 20px 20px;
    position: relative;
    padding-right: 20px;
    // extra margin on the bottom to allow to scroll to end of side menu
    margin-bottom: 900px;

    &.with-fixed-top {
      top: 50px;
      margin-top: 20px;
    }

    @include tablet {
      position: inherit;
      width: 100%;
    }
  }

  @include tablet {
    display: none;
  }
}

.side-menu-container {
  position: relative;
  padding-right: 10px;
  border-right: 1px solid #949494;
}

.side-menu,.side-menu--fixed {
  .side-menu-item.ant-anchor-link {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .ant-anchor-ink {
    display: none !important;
  }
  .ms-menu-link {
    a:hover,
    a:active {
      text-decoration: none;
      color: $gov-blue;
    }
  
    &.ant-anchor-link {
      line-height: 1.2;
      border-bottom: none;
      padding-right: 4px;
      padding-left: 24px;
    }
    &.ant-anchor-link-active {
      margin-left: -4px;
      border-left: 4px solid $gov-blue;
    }
  }

  .ms-menu-link.ant-anchor-link .ant-anchor-link {
    line-height: 1;
    & .ant-anchor-link-title {
      font-weight: lighter;
      padding-left: 5px;
    }
  }
  
  .side-menu-item {
    margin-top: 4px;
    margin-bottom: 8px;
    > a {
      transition: all .1s ease-in-out;
      text-decoration: none;
      color: $gov-blue !important;
      line-height: 40px !important;
    }
  }
  
  .side-menu-item:hover {
    background-color: $gov-blue !important;
    a {
      color: $white !important;
    }
  }
}