.color {
  &-primary {
    color: $primary-color;
  }
  &-info {
    color: $info-color;
  }
  &-success {
    color: $success-color;
  }
  &-processing {
    color: $processing-color;
  }
  &-error {
    color: $error-color;
  }
  &-warning {
    color: $warning-color;
  }
  &-highlight {
    color: $highlight-color;
  }
  &-normal {
    color: $normal-color;
  }
  &-white {
    color: $white;
  }
  &-black {
    color: $black;
  }
  &-text {
    color: $text-color;
  }
}
