@use "../base.scss" as *;

.ant-table-row-level-0.no-sub-table-expandable-rows {
    .file-history-container {
        display: flex;
        align-items: center;
    }

    .anticon-minus-square,
    .anticon-plus-square {
        font-size: 24px;
        color: #ded9d9;
    }

    td.ant-table-cell-with-append {
        display: flex;
        align-items: center;
        min-height: 84px;
    }

    &>td {
        border-bottom: none;
        border-top: 1px solid #BBBBBB;
    }

    &:nth-last-child(1)>td {
        border-bottom: 1px solid #BBBBBB;
    }
}

.ant-table-row-level-1.no-sub-table-expandable-rows {
    &>td {
        border: none;
    }

    .ant-checkbox-wrapper {
        display: none;
    }
}

.file-name-container,
.tag-column-container {
    align-items: center;
    flex-basis: 90%;

    &.child {
        margin-left: 38px;
    }

    .tag-text-parent {
        margin-left: 14px;
    }

    @media (min-width: 769px) {
        justify-content: space-between;
    }

    @media (max-width: 768px) {
        justify-content: flex-start;
        margin-left: 0 !important;
    }
}

.file-name-text {
    @media (min-width: 769px) {
        width: 60%;
    }

    @media (max-width: 768px) {
        margin-left: 0 !important;
    }
}

.table-tag {
    color: $white;
    border-radius: 25px;
    border: none;

    font-size: 11px;
    margin-right: -8px;
    margin-left: 5px;

    svg.svg-inline--fa {
        margin-right: 6px;
    }

    &--primary {
        background-color: $gov-blue;
    }

    &--grey {
        background-color: $gov-grey;
    }
}