.footer-link {
  color: $white;
  &:hover {
    color: $white;
  }
  text-decoration: none;
  display: flex;
  justify-content: center;
  @include screen-md {
    padding-bottom: $padding-sm;
    padding-top: $padding-sm;
  }
}
