@use "../base.scss" as *;

.footer-link {
  color: $white;

  // color: shade("#003366", 5%);

  &:hover {
    color: $white;
  }

  text-decoration: none;
  display: flex;
  justify-content: center;

  @include screen-md {
    padding-bottom: $padding-sm;
    padding-top: $padding-sm;
  }
}