.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.header-logo {
  float: left;
  margin-right: 32px;

  @include screen-md {
    padding-left: $padding-sm;
    margin-right: 16px;
  }
}

.header-title {
  font-size: $heading-4-size;
  font-weight: bold;
  color: $white  !important;
  text-decoration: none !important;
}

#dropdown-menu-mobile-trigger {
  @include screen-md {
    padding-left: 0;
    padding-right: $padding-sm;
  }
}

.login-btn {
  color: $white  !important;
  border-color: $white  !important;
  background-color: transparent !important;

  & a {
    text-decoration: none;
  }
}

.header-link {
  color: $white;
  padding: 29px $padding-md 29px $padding-md;

  &:hover,
  &.active {
    color: $white;
    background-color: $primary-5  !important;
    text-decoration: none;
  }

  text-decoration: none;
  font-weight: bold;
}

.header-dropdown-menu {
  text-align: center;
  z-index: 1001;
}

.header-dropdown-button {
  color: $gov-yellow;
  border: none;
  background-color: transparent !important;
  font-weight: bold;

  &:active,
  &:focus,
  &:hover {
    color: $gov-yellow;
  }
}

.header-dropdown-item-button {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  font-weight: bold !important;

  & a {
    text-decoration: none;
  }
}

.notification-icon {
  color: $white;
  font-size: 24px;
}

@keyframes fadeIn {
  0% { opacity: 0; top: 70px; transform: translateX(10000px);}
  1% { transform: translateX(0);}
  100% { opacity: 1; top: 80px; transform: translateX(0); }
}

.notification-drawer {
  width: 564px;
  position: absolute;
  right: 0;
  top: 70px;
  overflow: hidden;
  background-color: $white;
  transition: opacity 0.3s, height 0s, top 0.3s ease-in-out;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #BBBBBB;
  padding: 0 16px 24px 16px;
  height: 70vh;
  opacity: 0;
  z-index: 1000;
}

.notification-drawer-open {
  animation: fadeIn 0.3s both ease-in-out;
}

.notification-drawer .ant-tabs-content-holder {
  max-height: calc(70vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 50px;
}

.notification-container {
  position: relative;
}

.notification-drawer .ant-tabs .ant-tabs-tab {
  padding-left: 24px;
  padding-right: 20px;
  padding-bottom: 0;
  background-color: $white  !important;
}

.notification-drawer .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap {
  border-bottom: unset !important;
}


.notification-separator {
  height: 4px;
  width: 4px;
  background-color: #BBBBBB;
  border-radius: 50%;
}

.notification-list-item {
  padding: 12px 24px 12px 32px;
  width: 100%;
  position: relative;
}

.notification-list-item:hover {
  background-color: $table-highlight  !important;
  cursor: pointer;
  text-decoration: none;
}

.notification-drawer a {
  text-decoration: none;
}

.notification-dot {
  position: absolute;
  left: 12px;
  top: 24px;
  transform: translateY(-50%);
  background-color: $gov-blue;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.notification-info-text {
  color: $font-input-color;
  font-size: 14px;
  font-weight: 400;

}

.notification-tab-pane {
  background-color: $white;
}

.notification-badge .ant-badge-count {
  box-shadow: unset !important;
  height: 15px;
  min-width: 15px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(60%, -60%);
}

.notification-button-all-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #FFFFFF;
}

.notification-button-all, .notification-button-all:active {
  border: none;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.notification-button-all > span {
  font-size: 14px;
}

.notification-button-all:hover {
  background-color: #FFFFFF;
  border: none;
}

.notification-button-all:hover > span {
  text-decoration: underline;
}