.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  min-height: 70px;
  background-color: $gov-blue;
  border-bottom: 1px solid $gov-yellow;
  padding: 0 $default-padding-lg $default-margin-md $default-padding-xxl;
  top: 0;
  @include tablet {
    padding: 10px;
    min-height: 80px;
  }
}

.header-title-bc {
  padding-left: $default-margin-lg;
  color: $gov-yellow;
  font-style: italic;
  font-weight: $regular;
  @include tablet {
    font-size: $default-p;
    padding-left: $default-margin-sm;
  }
}

.header-title {
  color: $white;
  font-style: italic;
  font-weight: $regular;
  @include tablet {
    font-size: $default-p;
  }
}

.header-dropdown {
  margin-top: 20px;
  color: $gov-yellow;
  font-style: italic;
  font-size: $default-h4;
  font-weight: $regular;
}

.login-btn {
  font-weight: $light;
  margin: $default-margin-md;
  position: absolute;
  right: $default-padding-xxl;
  top: $default-margin-md;
  @include tablet {
    right: 0;
  }
}
