.header-logo {
  float: left;

  @include screen-md {
    padding-left: $padding-sm;
  }
}

.header-title {
  padding-left: 50px;
  color: $white;
  font-size: $heading-4-size;
  vertical-align: text-top;
  line-height: $layout-header-height / 2;
  & a {
    color: $white !important;
    text-decoration: none !important;
  }

  @include screen-md {
    padding-left: $padding-lg;
  }
}

.header-menu {
  float: right;
}

#dropdown-menu-mobile-trigger {
  @include screen-md {
    padding-left: 0;
    padding-right: $padding-sm;
  }
}

.login-btn {
  color: $white !important;
  border-color: $white !important;
  background-color: transparent !important;
  & a {
    text-decoration: none;
  }
}

.header-link {
  color: $white;
  padding: 0 $padding-md 0 $padding-md;
  &:hover {
    color: $white;
  }
  text-decoration: none;
}

.header-dropdown-menu {
  text-align: center;
  z-index: 1001;
}

.header-dropdown-button {
  color: $gov-yellow;
  border: none;
  background-color: transparent !important;
  &:active,
  &:focus,
  &:hover {
    color: $gov-yellow;
  }
}

.header-dropdown-item-button {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  & .header-link {
    text-decoration: none;
  }
}
