.header-logo {
  float: left;
  margin-right: 32px;

  @include screen-md {
    padding-left: $padding-sm;
    margin-right: 16px;
  }
}

.header-title {
  color: $white;
  font-size: $font-size-lg;
  font-weight: bold;
  & a {
    color: $white !important;
    text-decoration: none !important;
  }
}

.header-menu {
  float: right;
}

#dropdown-menu-mobile-trigger {
  @include screen-md {
    padding-left: 0;
    padding-right: $padding-sm;
  }
}

.login-btn {
  color: $white !important;
  border-color: $white !important;
  background-color: transparent !important;
  & a {
    text-decoration: none;
  }
}

.header-link {
  color: $white;
  padding: 0 $padding-md 0 $padding-md;
  &:hover {
    color: $white;
  }
  text-decoration: none;
  font-weight: bold;
}

.header-dropdown-menu {
  text-align: center;
  z-index: 1001;
}

.header-dropdown-button {
  color: $gov-yellow;
  border: none;
  background-color: transparent !important;
  font-weight: bold;

  &:active,
  &:focus,
  &:hover {
    color: $gov-yellow;
  }
}

.header-dropdown-item-button {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  & .header-link {
    text-decoration: none;
  }
  font-weight: bold !important;
}
