.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.header-logo {
  float: left;
  margin-right: 32px;

  @include screen-md {
    padding-left: $padding-sm;
    margin-right: 16px;
  }
}

.header-title {
  font-size: $heading-4-size;
  font-weight: bold;
  color: $white  !important;
  text-decoration: none !important;
}

#dropdown-menu-mobile-trigger {
  @include screen-md {
    padding-left: 0;
    padding-right: $padding-sm;
  }
}

.login-btn {
  color: $white  !important;
  border-color: $white  !important;
  background-color: transparent !important;

  & a {
    text-decoration: none;
  }
}

.header-link {
  color: $white;
  padding: 29px $padding-md 29px $padding-md;

  &:hover,
  &.active {
    color: $white;
    background-color: $primary-5  !important;
    text-decoration: none;
  }

  text-decoration: none;
  font-weight: bold;
}

.header-dropdown-menu {
  text-align: center;
  z-index: 1001;
}

.header-dropdown-button {
  color: $gov-yellow;
  border: none;
  background-color: transparent !important;
  font-weight: bold;

  &:active,
  &:focus,
  &:hover {
    color: $gov-yellow;
  }
}

.header-dropdown-item-button {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  font-weight: bold !important;

  & a {
    text-decoration: none;
  }
}

.notification-icon {
  color: $white;
  font-size: 24px;
}

.notification-drawer {
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 80px;
  background-color: $white;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notification-drawer-open {
  height: 70vh;
  width: 564px;
  border: 1px solid $black;
}

.notification-drawer-background {
  background-color: rgba($color: #000000, $alpha: 0.1);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 0;
  left: 0;
  position: fixed;
}

.notification-container {
  position: relative;
}