.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.header-logo {
  float: left;
  margin-right: 32px;

  @include screen-md {
    padding-left: $padding-sm;
    margin-right: 16px;
  }
}

.header-title {
  font-size: $heading-4-size;
  font-weight: bold;
  color: $white  !important;
  text-decoration: none !important;
}

#dropdown-menu-mobile-trigger {
  @include screen-md {
    padding-left: 0;
    padding-right: $padding-sm;
  }
}

.login-btn {
  color: $white  !important;
  border-color: $white  !important;
  background-color: transparent !important;

  & a {
    text-decoration: none;
  }
}

.header-link {
  color: $white;
  padding: 29px $padding-md 29px $padding-md;

  &:hover,
  &.active {
    color: $white;
    background-color: $primary-5  !important;
    text-decoration: none;
  }

  text-decoration: none;
  font-weight: bold;
}

.header-dropdown-menu {
  text-align: center;
  z-index: 1001;
}

.header-dropdown-button {
  color: $gov-yellow;
  border: none;
  background-color: transparent !important;
  font-weight: bold;

  &:active,
  &:focus,
  &:hover {
    color: $gov-yellow;
  }
}

.header-dropdown-item-button {
  border: none !important;
  background-color: transparent !important;
  box-shadow: none !important;
  font-weight: bold !important;

  & a {
    text-decoration: none;
  }
}

.notification-icon {
  color: $white;
  font-size: 24px;
}

.notification-drawer {
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 80px;
  background-color: $white;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.notification-drawer-open {
  padding: 24px 0;
  border: 1px solid #BBBBBB;
  height: 70vh;
  width: 564px;
}

.notification-drawer .ant-tabs-content-holder {
  max-height: calc(70vh - 100px);
  overflow-y: auto;
  overflow-x: hidden;
}


.notification-drawer-background {
  background-color: rgba($color: #000000, $alpha: 0.1);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 0;
  left: 0;
  position: fixed;
}

.notification-container {
  position: relative;
}

.notification-drawer .ant-tabs .ant-tabs-tab {
  padding-left: 24px;
  padding-right: 20px;
  padding-bottom: 0;
  background-color: $white  !important;
}

.notification-drawer .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap {
  border-bottom: unset !important;
}


.notification-separator {
  height: 4px;
  width: 4px;
  background-color: #BBBBBB;
  border-radius: 50%;
}

.notification-list-item {
  padding: 12px 24px 12px 32px;
  width: 100%;
  position: relative;
}

.notification-list-item:hover {
  background-color: $table-highlight  !important;
  cursor: pointer;
  text-decoration: none;
}

.notification-dot {
  position: absolute;
  left: 12px;
  top: 24px;
  transform: translateY(-50%);
  background-color: $gov-blue;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.notification-info-text {
  color: $font-input-color;
  font-size: 14px;
  font-weight: 400;

}

.notification-tab-pane {
  background-color: $white;
}

.notification-badge .ant-badge-count {
  box-shadow: unset !important;
}