.help-guide-drawer {
    .ant-drawer-content-wrapper {
        width: 520px !important;
    }

}

.help-open {
    font-size: 18px;
    margin-bottom: 0;
    border: none;
    color: white;
    margin-right: 20px;

    &:hover {
        background-color: transparent;
        color: white;
    }
}