.help-guide-drawer {
    .ant-drawer-content-wrapper {
        width: 520px !important;
    }

    .ant-btn {
        padding: 0 10px;
    }
}

.help-open {
    font-size: 18px;
    margin-bottom: 0;
    border: none;
    color: white;
    margin-right: 20px;

    &:hover,
    &:focus,
    &:active {
        background-color: transparent;
        color: white;
    }
}

.help-content {
    blockquote {
        border-left: 4px solid #ccc;
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 16px;
    }
}