.landing-page-title {
  padding: $default-padding-xxl 0px $default-padding-xl 0px;
  font-size: 48px;
  @include tablet {
    font-size: 32px;
  }
}

.indent-list-padding {
  padding-left: $default-padding-xxl;
}

.list-padding-left {
  padding-left: $default-padding-lg;
}

.embeded-list-padding {
  padding: $default-padding-sm 0px $default-padding-md 40px;
}

.sidebar-block {
  width: 309px;
  margin: $default-margin-lg 0;
  @include tablet {
    width: 100%;
  }
}

.sidebar-block-title {
  background: $nav-blue;
  text-align: center;
  .side-bar-title {
    color: $white;
    padding: $default-padding-sm;
  }
}

.sidebar-block-content {
  background: $off-white;
  padding: $default-padding-xl;
}

.sidebar-button {
  @include flex();
  align-items: center;
  justify-content: center;
  padding: $default-padding-md;
  width: 100%;
  margin-top: $default-margin-lg;
  span {
    font-size: $default-h4;
  }
}

.flex-3 {
  flex: 3;
  margin: 10px;
}

.flex-1 {
  flex: 1;
  margin: 10px;
}
