.information-requirements-table-callout > h4 {
    color: $font-colour;
    font-weight: 700;
  }
  
.information-requirements-table-callout > p {
    font-size: 1rem;
    margin-bottom: 0;
  }

.ant-collapse {
    border: none;
  }

.ant-collapse-content {
    border-top: none;
  }
  
.success-page {
    color: #008000;
    transform: scale(7.0);
    margin-top: 7.0em;
    margin-bottom: 3.5em;
  }