.information-requirements-table-callout>h4 {
  color: $font-colour;
  font-weight: 700;
}

.information-requirements-table-callout>p {
  font-size: 1rem;
  margin-bottom: 0;
}

.ant-collapse-content {
  border-top: none;
}

.collapse-no-padding .ant-collapse-content>.ant-collapse-content-box {
  padding: 0;
}

.status-icon {
  transform: scale(5);
  margin-top: 5em;
  margin-bottom: 2.5em;
}

.status-page-content {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.success-page {
  @extend .status-icon;
  color: $gov-green;
}

.fail-page {
  @extend .status-icon;
  color: $gov-red;
}

.declaration-page-content {
  list-style-position: outside;

  ol {
    padding-left: 40px;
  }
}