// overriding styles that weren't quite working, confining changes to where wrapper is used
.scroll-side-menu-wrapper {
    .view--header.fixed-scroll {
        top: 62px;
    }

    .side-menu--fixed,
    .side-menu {
        margin-top: 15px;

        .ant-anchor-wrapper {
            margin-bottom: 20px;
            border: 1px solid #ded9d9;
            border-radius: 5px;
            padding: 8px 0;

            .ant-anchor-ink {
                display: block !important; // this is display:none'd elsewhere
            }

            .now-menu-link.ant-anchor-link {
                line-height: 2.2;
                border-bottom: none;
                padding: 4px;
            }

            .ant-anchor-link-title {
                margin-left: 10px;
                text-decoration: none;

                &:only-child {
                    margin-bottom: 0;
                }
            }

            .ant-anchor-link-active {
                border-left: 4px solid $gov-blue;
                background-color: rgba(189, 179, 216, 0.1490196078);

                &>.ant-anchor-link-title {
                    font-weight: 700;
                    text-decoration: none;
                    color: $gov-blue;
                }
            }
        }
    }

    .side-menu--fixed {
        position: fixed;
        width: 240px;
    }

    .side-menu--content {
        padding-top: 15px; // equal to the margin-top on side-menu to align them
        padding: 20px;
        position: relative;
        padding-right: 20px;
        left: 250px;
        width: calc(100vw - 270px);
        margin-bottom: 900px;
    }

    .side-menu--content.with-fixed-top {
        margin-top: 0;
    }
}

// there is an issue where content (fade-in class?) renders in front of the menu, making it unclickable
.side-menu--fixed,
.side-menu {
    z-index: 1000;
}

.ellipsis-text {
    text-overflow: ellipsis;
    overflow: hidden;
}

.fixed-tabs-container {
    .view--header {
        position: fixed;
        width: 100%;
        z-index: 1000;
        background-color: $white;
    }

    .fixed-tabs-tabs {
        &>.ant-tabs-nav {
            position: fixed;
            top: 203px;
            width: 100%;
            background-color: $white;
            z-index: 1000;
        }

        &>.ant-tabs-content-holder {
            margin-top: 225px;
            position: relative;
            padding-bottom: 225px;
        }

    }

}