.sidebar-wrapper {
    .ant-layout-sider {
        background-color: $card-bg;
        padding: 0 8px;

        &.sider-fixed {
            margin-top: $layout-header-height;
            overflow: auto;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
        }

        .ant-layout-sider-children {
            display: flex;
            flex-direction: column;
            gap: $spacing-vertical;
        }

        .sidebar-header {
            background-color: $card-bg;
            padding: 12px;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .ant-menu {
            background-color: #F7F8FA;
        }

        .ant-menu-vertical {
            border-right: none;

            .ant-menu-item {
                border-radius: 8px;
                font-size: 14px;
                margin: 0;
                line-height: 44px;
                height: 44px;
                color: $font-colour;

                &.ant-menu-item-selected {
                    background-color: "#D9EAF7";
                }
            }
        }
    }

    .ant-layout-content {
        padding: 0 $spacing-vertical;

        .dashboard-add-button {
            margin-top: $spacing-vertical;
            z-index: 1;
            display: inline;
            float: right;
        }
    }

    h1 {
        font-size: 36px;
        line-height: 54px;
        margin-top: $spacing-large;
    }

    h2 {
        color: $font-colour;
        font-size: 28px;
        line-height: 42px;
    }

    h3 {
        color: $gov-blue;
        font-size: 24px;
        line-height: 36px;
    }
}