// Responsive table styling

.cap-col-height {
  max-height: 25px * 4;
  overflow-y: auto;
}

.wrapped-text {
  word-break: normal;
  overflow-wrap: anywhere;
  white-space: normal;
}

.column-hide {
  display: none;
}

// actions menu

.actions-dropdown-button {
  border: none;
  background: transparent;
}

.ant-dropdown-menu-item-icon {
  font-size: 16px;
}

@include screen-md {
  .ant-table table {
    min-width: 100%;
    margin: 20px 0;
  }

  .ant-table-thead {
    display: none;
  }

  .ant-table-tbody>tr {
    display: block;
    border-top: 2px solid $background;
  }

  .ant-table-tbody>tr>td {
    display: block !important;
    padding: 0.25rem 0.5rem;
    border-bottom: none;

    &:first-child {
      padding-top: 1rem;
    }

    &:last-child {
      padding-bottom: 1rem;
    }

    div {
      white-space: nowrap;
      overflow: auto;
    }

    // Cell content wrapper allows us to add names for each column on smaller devices
    div:first-of-type::before {
      content: attr(title);
      display: inline-block;
      vertical-align: top;
      padding-right: 1rem;
      width: 50%;
      font-weight: 500;
    }
  }

  .ant-table-tbody>tr>td:last-child {
    border-bottom: 0;
  }
}