.ant-table-body {
  overflow-x: auto;
}
.ant-table table {
  margin: 20px 0;
}

.ant-table-thead {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

@include screen-md {
  .ant-table table {
    min-width: 100%;
    margin: 20px 0;
  }

  .ant-table-thead {
    display: none;
  }

  .ant-table-tbody > tr {
    display: block;
    border-top: 2px solid $background;
  }

  .ant-table-tbody > tr > td {
    display: block !important;
    padding: 0.25rem 0.5rem;
    border-bottom: none;

    &:first-child {
      padding-top: 1rem;
    }

    &:last-child {
      padding-bottom: 1rem;
    }

    div {
      white-space: nowrap;
      overflow: auto;
    }

    // Cell content wrapper allows us to add names for each column on smaller devices
    div:first-of-type::before {
      content: attr(title);
      display: inline-block;
      vertical-align: top;
      padding-right: 1rem;
      width: 50%;
      font-weight: 500;
    }
  }

  .ant-table-tbody > tr > td:last-child {
    border-bottom: 0;
  }
}

// Nested Table
.nested-table {
  tr {
    &.ant-table-expanded-row {
      background: #fff;
    }
  }

  .ant-table-expanded-row:hover > td {
    background: #fff;
  }
}

.wrapped-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  font-size: 100%;
}

.column-hide {
  display: none;
}
