.table-summary-card {
  margin: 0;
  position: relative;
  padding: 16px;
  border-radius: 5px;
  background-color: $card-bg;
  color: $primary-color;

  &-title {
    display: block;
    margin-left: 48px;
    margin-bottom: 4px;
    font-size: $font-size-lg;
    font-weight: 600;
  }

  &-icon {
    position: absolute;
    top: 16px;
    left: 24px;
    font-size: $heading-3-size;
  }

  &-content {
    text-align: center;
    font-size: $heading-1-size;
    font-weight: 600;
  }
}

.table-summary-card-small-content {
  text-align: left;
  padding: 6px 0px 0px 16px;
  font-size: $font-size-lg;
  font-weight: 600;
  color: $font-input-color;

  &-title {
    color: $primary-color;
  }
}
