{% extends "email/_base/email_base.html" %}
{% from "email/_components/email_macros.html" import paragraph, button_link, inline_link, info_block %}

{% set brand = 'minespace' %}
{% set page_title = 'New Engineer of Record for ' + tsf_name + ' at ' + mine.mine_name + ' has been assigned.' %}

{% block content %}
{{ paragraph('As of ' + start_date + ', a new Engineer of Record, ' + party.first_name + ' ' + party.last_name + ', has
been assigned to ' + tsf_name + ' at ' + mine.mine_name + ' and requires Ministry acknowledgment which is required for
compliance. Beyond making certain the Engineer of Records\' Letter of Approval has been uploaded, no further actions on
your part are necessary.', brand=brand) }}

{{ paragraph('To view more information about this notice please ' + inline_link(minespace_login_link, 'log into the
Minespace app', brand=brand) + '.', align='center', margin_top=16, brand=brand) }}

{{ paragraph(info_block('Mine name', mine.mine_name) +
info_block('Mine number', mine.mine_no), align='center', margin_top=16, brand=brand) }}

{{ button_link(minespace_appt_link, 'View Engineer of Record', brand=brand, margin_top=32) }}
{% endblock %}