{% extends "email/_base/email_base.html" %}
{% from "email/_components/email_macros.html" import paragraph, button_link, info_block %}

{% set brand = 'core' %}
{% set page_title = 'New Engineer of Record at ' + mine.mine_name + ' requires Ministry acknowledgement.' %}

{% block content %}
{{ paragraph('As of ' + start_date + ', a new Engineer of Record, ' + party.first_name + ' ' + party.last_name + ', has
been assigned to ' + tsf_name + ' at ' + mine.mine_name + ' and requires Ministry acknowledgement to allow for the
mine\'s compliance.', brand=brand) }}

{{ paragraph(info_block('Mine number', mine.mine_no) +
info_block('Submitted', submitted_at), margin_top=16, brand=brand) }}

{{ button_link(core_appt_link, 'View Engineer of Record', brand=brand, margin_top=32) }}
{% endblock %}