.footer {
  width: 100vw;
  height: 80px;
  background-color: $gov-blue;
  border-top: 1px solid $gov-yellow;
}

.footer-info-ul {
  padding: $default-padding-xl 0px 0px $default-padding-xxl;
  li {
    display: inline;
    padding: $default-padding-sm $default-padding-lg;
    border-right: 1px solid $pure-white;
  }
}

.footer-link {
  color: $pure-white;
  text-decoration: none;
  font-size: $default-p;
  &:hover {
    text-decoration: underline;
  }
}
