.title {
  padding: $default-padding-xxl 0px $default-padding-xl 0px;
  font-size: 48px;
}

.indent-list-padding {
  padding-left: $default-padding-xxl;
}

.list-padding-left {
  padding-left: 20px;
}

.embeded-list-padding {
  padding: 5px 0px $default-padding-md 40px;
}
