.mine-title {
  font-size: $title-h1;
  padding-bottom: $default-padding-xl;
}

.mine-info-padding {
  padding-top: $default-padding-xxl;
  padding-bottom: 70px;
}

.mine-info-header-row {
  background-color: $lightest-grey;
  box-shadow: $default-box-shadow;
  margin: 24px 0px;
  h4 {
    padding-top: $default-padding-lg;
    padding-bottom: $default-padding-md;
  }
}
