.user-mine-list {
  list-style: none;
  li {
    padding: $default-padding-md 0px;
  }
}

.user-title {
  font-size: $title-h1;
  padding-bottom: $default-padding-xl;
}

.user-dashboard-padding {
  padding-top: $default-padding-xxl;
  padding-bottom: 70px;
}

.link-container {
  background-color: $gov-blue;
  width: 222px;
  height: 222px;
  border-radius: 15px;
  text-align: center;
  margin-right: 15px;

  &--content {
    position: relative;
    top: 40px;
    img {
      height: 105px;
    }
    h4 {
      margin-top: 10px;
    }
  }
}
