server.bind=0.0.0.0
server.port=8081
server.admin.bind=0.0.0.0
server.admin.port=8082
server.http.enable-http2=true
server.authenticator-class=io.digdag.standards.auth.basic.BasicAuthenticator
basicauth.username=${DIGDAG_USER_NAME}
basicauth.password=${DIGDAG_USER_PASSWORD}
basicauth.admin=true
log-server.type=local