client-id: ${KEYCLOAK_CLIENT_ID}
client-secret: ${KEYCLOAK_CLIENT_SECRET}
discovery-url: ${KEYCLOAK_DISCOVERY_URL}
enable-default-deny: true
enable-logging: true
enable-json-logging: true
listen: 0.0.0.0:8080
enable-security-filter: true
upstream-url: ${KEYCLOAK_UPSTREAM_URL}
redirection-url: ${KEYCLOAK_REDIRECT_URL}
skip-upstream-tls-verify: true
secure-cookie: false
resources:
- uri: /api/*
  methods:
  - GET
  white-listed: true
- uri: /api/attempts*
  methods:
  - POST
  - PUT
  white-listed: true
- uri: /*
  roles:
  - ${KEYCLOAK_ADMIN_ROLE}