cached-property==1.5.1
factory-boy==2.12.0
flagsmith==2.0.1
Flask==2.3.2
Flask-Caching==2.0.2
Flask-Cors==3.0.10
flask-restx==1.1.0
Flask-SQLAlchemy==2.5.1
GeoAlchemy2==0.6.3
ldap3==2.6
names==0.3.0
petl==1.6.8
psycopg2-binary==2.9.6
PyJWT==1.7.1
pytest==5.0.1
pytest-cov==2.7.1
python-dateutil==2.8.2
python-dotenv==0.10.3
redis==4.6.0
regex==2019.6.8
requests==2.24.0
responses==0.17.0
six==1.12.0
SQLAlchemy==1.4.51
sqlalchemy-filters==0.13.0
tuspy==0.2.4
utm==0.5.0
uWSGI==2.0.22
uwsgitop==0.11
Werkzeug==2.3.6
marshmallow_sqlalchemy==0.23.1
python-docx==1.1.0
sheet2dict==0.1.1
cerberus==1.3.4
celery[redis]==5.3.1
celery-redbeat==2.2.0
python-jose==3.3.0
cachelib
gunicorn==19.9.0
opentelemetry-distro==0.33b0
opentelemetry-exporter-otlp==1.12.0
opentelemetry-instrumentation-dbapi==0.33b0
opentelemetry-instrumentation-logging==0.33b0
opentelemetry-instrumentation-urllib==0.33b0
opentelemetry-instrumentation-wsgi==0.33b0
opentelemetry-instrumentation-celery==0.33b0
opentelemetry-instrumentation-flask==0.33b0
opentelemetry-instrumentation-redis==0.33b0
opentelemetry-instrumentation-requests==0.33b0
opentelemetry-instrumentation-sqlalchemy==0.33b0
opentelemetry-instrumentation-urllib3==0.33b0
Pillow==8.4.0