// stylying overrides for Ant components

// TABS
.ant-tabs-nav {
  .ant-tabs-tab {
    font-family: $default-font;
  }
}

.ant-tabs-ink-bar {
  height: 4px;
}

.ant-tabs {
  padding-top: 30px;
}

// VERTICAL TABS
.vertical-tabs {
  &.ant-tabs {
    padding-top: 0 !important;
  }

  &.ant-tabs .ant-tabs-ink-bar {
    background: transparent;
    height: 0;
    top: 0;
  }

  &.ant-tabs .ant-tabs-tab {
    color: #3D6DE7;
    font-weight: bold;
    background-color: white !important;
  }

  &.ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap,
  .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
    border-bottom: none !important;
    border-right: 1px solid grey !important;
    height: 70vh;
  }

  & .ant-tabs-tab-active {
    color: #3D6DE7 !important;
    font-weight: bold !important;
    background-color: white !important;
    border-left: 7px solid $violet;
    border-right: none !important;

    &.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #3D6DE7 !important;
      font-weight: bold !important;
    }
  }

  & .ant-tabs-tab:hover,
  .ant-tabs-tab-btn:hover {
    background-color: $violet !important;
    color: white !important;

    &.ant-tabs-tab-active.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: white !important;
    }
  }

  &--tabpane {
    height: 70vh;

    &--actions {

      .ant-btn,
      a {
        margin-right: 5px;
      }

      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }

  &.ant-tabs-left>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane,
  .ant-tabs-left>div>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane {
    overflow: scroll;
    margin-bottom: 50px;
  }
}

// DIVIDER
.ant-divider {
  .ant-divider-horizontal {
    margin: 5px;
    height: 1px;
    background-color: $h-divider-color;
  }

  &.ant-divider-vertical {
    margin: 0 15px;
    height: 30px;
    width: 2px;
    background-color: $v-divider-color;
  }

  &.ant-divider-plain {
    height: 100%;
    background-color: $light-grey;
  }
}

.custom-large-divider {
  border: 2px solid $h-divider-color;
}

.margin-10 {
  &.ant-divider-horizontal {
    margin: 10px 0;
  }
}

// DRAWER
.ant-drawer-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex-grow: 1;
  padding: 24px;
  height: 100vh;
  overflow: scroll;
  font-size: 1rem;
  line-height: 1.5715;
  word-wrap: break-word;
}

// BUTTON
.ant-btn,
.ant-btn-sm,
.ant-btn-secondary {
  position: inherit;
  margin: 10px;
  padding: 0 11px;
  color: $secondary-btn-color;
  border: 1px solid $secondary-btn-color;

  &:hover {
    color: $secondary-btn-color-hover;
    border: 1px solid $secondary-btn-border-color-hover;
  }

  span {
    font-size: $font-size-base;
  }
}

.ant-btn-danger {
  background-color: $danger-btn-color;
  color: white;
  border: 1px solid $danger-btn-color;

  &:hover {
    background-color: $danger-btn-color-hover;
    color: white;
    border: 1px solid $danger-btn-color-hover;
  }

  &:focus {
    background-color: $danger-btn-color-hover;
    color: white;
    border: 1px solid $danger-btn-color-hover;
  }
}

.ant-btn-link {
  &:focus {
    color: $pure-white;
  }
}

.btn-danger--icon {
  &:hover {
    color: $danger-btn-color-hover;
  }
}

.ant-btn-tertiary {
  font-weight: $light;
  color: $pure-white;
  border: 1px solid $tertiary-btn-color;
  background-color: $tertiary-btn-color;

  &:hover {
    color: $pure-white;
    background-color: $tertiary-btn-color-hover;
  }
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link,
.ant-pagination-item {
  & a {
    text-decoration: none !important;
  }

  &:hover {
    color: $pagination-item-hover;
    border: 1px solid $pagination-item-border-hover;
  }
}

.ant-select-multiple.ant-select-show-arrow .ant-select-selector,
.ant-select-multiple.ant-select-allow-clear .ant-select-selector {
  padding-right: 1px;
}

.ant-select-multiple .ant-select-selection-item {
  height: 25px;
  line-height: initial;
  margin: 2px;
}

.ant-btn-primary {
  font-weight: $light;
  color: $pure-white;
  background-color: $primary-btn-color;

  &:hover {
    color: $pure-white;
    background-color: $primary-btn-color-hover;
    border: 1px solid $primary-btn-border-color-hover;
  }

  &:focus {
    color: $pure-white;
    background-color: $primary-btn-color-hover;
    border: 1px solid $primary-btn-border-color-hover;
  }
}

.ant-popover {
  position: fixed;
  width: 500px;
}

.ant-popover-buttons button {
  margin: 10px;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  padding: 0 15px;
  font-size: 0.875rem; //14px
  height: 32px;
}

.ant-btn-background-ghost {
  border-style: none;
  box-shadow: none;

  &:hover {
    border-style: none !important;
    border: 0;
  }

  &:focus {
    border-style: none !important;
    border: 0;
  }
}

// POPUP CONFIRM
.ant-popover-inner-content,
.ant-popover-arrow {
  background-color: $pure-white;
}

.ant-popover-message-title {
  padding-left: 25px;
}

// TOAST
.ant-notification-notice,
.ant-notification {
  z-index: 1000 !important;
}

.ant-notification-notice-message {
  word-break: break-word;
}

// CARDS
.ant-card-now {
  height: 420px;

  &.ant-card-hoverable:hover {
    box-shadow: 0 4px 4px #7c66ad;
  }

  &.selected {
    box-shadow: rgb(124, 102, 173) 0 0 10px 3px;
  }

  &.inherit-height {
    height: inherit !important;
  }

  &.no-header {
    .ant-card-head {
      display: none;
    }

    padding-top: 20px;
  }

  .ant-card-head {
    height: 70px;
    align-items: center;
  }
}

.ant-card {
  margin-bottom: 20px;
  text-align: left;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.ant-card-body {
  padding: 20px;
}

.white .ant-card-head {
  min-height: 90px;
  background: white;
}

.ant-card-head {
  min-height: 90px;
  background: $card-body-background-color;
}

// ROW
.ant-row-flex {
  padding: $default-padding-md;
}

// PAGINATION
.ant-pagination {
  margin: $default-margin-lg;
}

// TAGS
.ant-tag {
  @extend p;
  padding: 0 7px !important;
  margin-right: 8px !important;
  line-height: 1.5 !important;
}

// RESULTS
.ant-result-info .ant-result-icon>.anticon {
  color: $primary-color;
}

.ant-result-success .ant-result-icon>.anticon {
  color: $ok-green;
}

// ALERTS
.ant-alert-warning {
  .ant-alert-message {
    color: black !important;
    font-weight: 800;
  }

  .ant-alert-description {
    color: black !important;
    line-height: 2rem;
  }

  .ant-alert-icon {
    margin-top: 4px;
  }
}

.ant-alert-error {
  margin: 0;

  .ant-alert-message {
    color: black !important;
    font-weight: 800;
  }

  .ant-alert-description {
    color: black !important;
    line-height: 2rem;
  }
}

.ant-alert-info {
  background-color: #ecf6fd;

  .ant-alert-message {
    color: black !important;
    font-weight: 800;
  }

  .ant-alert-description {
    color: black !important;
    line-height: 2rem;
  }

  .ant-alert-icon {
    background-color: #ecf6fd !important;
    color: #3d6de7 !important;
  }
}

.ant-alert-close-icon .anticon-close:hover {
  color: darken($pure-white, 20%);
}

.ant-alert+.ant-alert {
  margin-top: 14px;
}

// FORMS
.ant-form-vertical .ant-form-item {
  padding-bottom: 0;
}

.ant-form-item {
  margin-bottom: 10px;
}

.ant-form-item-label label:after {
  content: none;
}

// DATE PICKER
.ant-picker {
  width: 100%;
  padding: 4px 11px;
}

.ant-picker-today-btn {
  color: $a-color;

  &:hover {
    color: $violet;
  }
}

// COLLAPSE
.ant-collapse {
  border: none;
  background-color: $pure-white;
}

.light-background {
  .ant-collapse-content>.ant-collapse-content-box {
    background-color: #908e8e17;
  }
}

//  MENU
.ant-menu {
  padding: 0;
  margin: 0;
}

// MENU.ITEM
// Same styling as the default for .ant-dropdown-menu-item,
// included the ant design class in this CSS block our custom class stays insync with .ant-dropdowm-menu-item updates.
// see AuthorizationWrapper.js for the specific use case of this custom class
.custom-menu-item,
.ant-dropdown-menu-item {
  padding: 5px 12px;
  margin: 0;
  clear: both;
  font-size: 0.875rem; //14px
  font-weight: normal;
  color: rgba(0, 0, 0, 0.65);
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 22px;

  &:hover {
    background-color: $light-grey;
  }
}

//  SUBMENU
.ant-menu-submenu {
  padding: 0 !important;
  margin: 0 !important;
}

.ant-menu-horizontal>.ant-menu-submenu>.ant-menu-submenu-title {
  padding-left: 20px;
  padding-right: 20px;
}

.ant-dropdown-menu-submenu-title {
  font-size: 0.875rem;
}

// removes small border on NaveBar search drop-down
.ant-menu-vertical {
  border-right: none;
}

// HORIZONTAL MENU
.ant-menu-horizontal {
  color: $darkest-grey;
  background-color: $light-grey;
}

// -- SEE NavBar.css for .sub-menu - that interacts with this override
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: $violet;

  a,
  a:hover {
    color: $pure-white;
  }
}

.highlight {
  padding: 0;
  background: transparent;
  font-weight: 800;
  color: inherit;
}

.injectable-string .highlight {
  background-color: yellow;
}

.carousel .slide {
  background: white;
  text-align: left;
}

.carousel-slider {
  padding: 2px;
}

.ant-modal-header {
  border-bottom-width: 3px;
}

.ant-modal-body {
  min-height: 200px;
}

// SIDE MENU NAVIGATION
.ant-anchor-wrapper {
  background-color: $lightest-grey;
  margin-bottom: 20px;
}

.ant-anchor-link-active {
  border-left: 7px solid $violet;
}

.ant-anchor-link-active>.ant-anchor-link-title {
  font-weight: $bold;
  text-decoration: none;
}

.ant-anchor-link-title {
  text-decoration: none;
}

.ant-anchor-link {
  border-bottom: 1px solid $light-grey;
  padding: 7px;
}

.ant-anchor-link:last-child {
  border-bottom: none;
}

// Having html input inherit the antd styling to keep everything consistent
.ant-input,
input {
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;

  &:disabled:not([type="radio"]):not([type="checkbox"]) {
    border: none;
    color: rgba(0, 0, 0, 0.65);
    background-color: #f5f5f5;
    cursor: not-allowed;
    opacity: 1;
  }
}

.ant-input-affix-wrapper,
.ant-input-affix-wrapper-sm,
.ant-input-affix-wrapper-lg {
  padding: 4px 11px;
}

// when selects are disabled, remove border to match styling of other disabled inputs
.ant-select-disabled.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border: none;
  color: rgba(0, 0, 0, 0.65);
  background-color: #f5f5f5 !important;
}

.ant-picker.ant-picker-disabled {
  border: none;
}

.ant-.ant-select-selection,
select {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top-width: 1.02px;
  border-radius: 4px;
  outline: none;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 4px 11px;
}

.ant-select-multiple.ant-select-sm .ant-select-selection-search-input {
  margin-top: -12px;
}

// update HTML select component to look like the ant design select. This block of code changes the default icon
select {
  width: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg height='0.8em' viewBox='64 64 896 896' width='0.8em' aria-hidden='true' xmlns='http://www.w3.org/2000/svg'><path d='M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3.1-12.7-6.4-12.7z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 10px;
}

// STEPS
.ant-steps-item-content {
  max-width: 200px !important; //140 by default
}

.filepond--root {
  font-family: $default-font;
}

.whirlpool-container {
  position: relative;

  .ant-switch {
    position: absolute;
    top: 6px;
    right: 8px;
    z-index: 10;
  }
}

.whirlpool-on {
  .filepond--drip {
    background-image: url("../assets/images/whirlpool.gif");
    background-blend-mode: screen;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-color: $blue;
    opacity: 0.9;
  }

  .filepond--drop-label {
    color: white;
  }
}

// Drawer
.ant-drawer-content-wrapper {
  width: 520px !important; // 250px by default
}

// tooltip - specific to the admin tooltip
.tooltip__admin {
  .ant-tooltip-inner {
    background-color: $violet;
  }

  .ant-tooltip-arrow-content {
    background-color: $violet !important;
  }
}

//Legacy form fields
.ant-radio-wrapper>span,
.ant-legacy-form-item-label>label {
  font-size: 1rem;
}

.ant-legacy-form-item-control-wrapper {
  flex: 1 1 100%;
}

.ant-legacy-form-item {
  margin-bottom: 6px;
}

.ant-legacy-form-vertical {
  .ant-legacy-form-item {
    padding-bottom: 2px;
  }
}

.modal__close {
  font-size: inherit !important;
}

.ant-timeline-item-head {
  margin-top: 14px;
}

.ant-timeline-item-content {
  text-align: left;
}

.ant-timeline>li:last-child {
  .ant-timeline-item-tail {
    display: none;
  }
}

.ant-typography-expand {
  color: $violet !important;
}

.ant-descriptions-item-label {
  font-weight: 600;
}

.ant-table-row-expand-icon {
  background-color: $primary-color;
  color: $white;
  border: 2px solid $primary-color;
  border-radius: 9px;
  height: 18px;
  width: 18px;

  &:focus,
  &:hover {
    color: $white;
    border: 2px solid $primary-color;
  }

  &:before {
    top: 6.2px;
    right: 3px;
    left: 3.2px;
    height: 2px;
  }

  &:after {
    top: 3px;
    bottom: 3px;
    left: 6px;
    width: 2px;
  }
}

.ant-table-row-expand-icon-cell {
  width: 25px;
}

.ant-table-row-expand-icon-cell>span {
  z-index: 100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}