/*
 * Brand Colour Palette
 */

// Primary Colours
$black: #161616;
$darkest-grey: #3c3636;
$medium-grey: #6b6363;
$violet: #5e46a1;
$light-violet: #7c66ad;
$hover-blue: #3d6de7;
$btn-red: #bc2929;

// Accent Colours
$lime-green: #adfc4a;
$light-blue: #72c0ee;
$non-textual-grey: #a09595;
$gov-blue: #003366;

// Background Colours
$light-grey: #ded9d9;
$lightest-grey: #f4f0f0;
$off-white: #fcf8f8;
$pure-white: #ffffff;

// Special Colours
$alert-red: #d40d0d;
$ok-green: #45a766;

// Map Markers
$map-fuschia: #f736fb;
$beacon-fuschia: #f736fb;
$map-lavender: #b7a6fc;

/*
 * Component Colour Aliases
 */

// Buttons
$primary-btn-color: $violet;
$primary-btn-color-hover: darken($primary-btn-color, 20%);
$primary-btn-border-color-hover: $primary-btn-color-hover;

$secondary-btn-color: $darkest-grey;
$secondary-btn-color-hover: darken($secondary-btn-color, 20%);
$secondary-btn-border-color-hover: $secondary-btn-color-hover;

$tertiary-btn-color: $medium-grey;
$tertiary-btn-color-hover: darken($tertiary-btn-color, 20%);

$danger-btn-color: $btn-red;
$danger-btn-color-hover: darken($danger-btn-color, 20%);

// Nav
$nav-color: $darkest-grey;
$nav-border-color: $medium-grey;

// Ant Component Overrides
$h-divider-color: $darkest-grey;
$v-divider-color: $darkest-grey;
$pagination-item-hover: darken($violet, 20%);
$pagination-item-border-hover: $pagination-item-hover;
$card-body-background-color: $lightest-grey;
$card-body-border-color: #cccccc;

//Backgrounds
$secondary-background-colour: $lightest-grey;

/*
 * Style Defaults
 */

$default-overlay: rgba(65, 58, 58, 0.9);

// Font Size
$default-h1: 2.25rem; //36px
$mobile-h1: 2rem; //32px
$default-h2: 1.75rem; //28px
$mobile-h2: 1.5rem; //24px
$default-h3: 1.5rem; //24px
$mobile-h3: 1.25rem; //20px
$default-h4: 1.25rem; //20px
$mobile-h4: 1.125rem; //18px
$default-h5: 1.25rem; //20px
$mobile-h5: 1.125rem; //18px
$default-h6: 0.875rem; //14px
$mobile-h6: 0.75rem; //12px
$default-p: 1rem; //16px

$table-header: 1.125rem;
$field-label: $default-p;

// Font
$default-font: "Open Sans", sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$h1-color: $darkest-grey;
$h2-color: $darkest-grey;
$h3-color: $medium-grey;
$h4-color: $medium-grey;
$h5-color: $darkest-grey;
$h6-color: $medium-grey;
$p-color: $darkest-grey;
$p-light-color: $non-textual-grey;
$a-color: $hover-blue;
$a-color-hover: darken($a-color, 20%);
$ant-header-color: $darkest-grey;
$ant-nested-header-color: $medium-grey;
$ant-label-color: $medium-grey;
$ant-label-title-color: $darkest-grey;

// Margins
$default-margin-sm: 5px;
$default-margin-md: 10px;
$default-margin-lg: 20px;
$default-margin-xl: 30px;
$default-margin-xxl: 50px;

// Padding
$default-padding-sm: 5px;
$default-padding-md: 10px;
$default-padding-lg: 20px;
$default-padding-xl: 30px;
$default-padding-xxl: 50px;

$default-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
$default-round-top-border: 60px 60px 0 0;
