h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
  width: auto;
}

h1 {
  font-size: $default-h1;
  font-weight: $bold;
  color: $font-black;

  @include mobile {
    font-size: $mobile-h1;
  }
}
h2 {
  font-size: $default-h2;
  font-weight: $bold;
  text-transform: uppercase;
  color: $default-brown;
  @include mobile {
    font-size: $mobile-h2;
  }
}
h3 {
  font-size: $default-h5;
  font-weight: $bold;
  color:  $font-black;
  @include mobile {
    font-size: $mobile-h3;
  }
}
h4 {
  font-size: $default-h4;
  font-weight: $bold;
  color: $default-dark-green;
  text-transform: uppercase;
  @include mobile {
    font-size: $mobile-h4;
  }
}

h5 {
  font-size: $default-h5;
  font-weight: $light;
  color: $font-black;
  @include mobile {
    font-size: $mobile-h5;
  }
}

p, .p {
  font-size: $default-p;
  color: $font-black;
  font-weight: $light;
}

.p-large {
  font-size: $default-h2;
  color: $font-black;
  font-weight: $bold;

  @include tablet {
    font-size: $default-p;
  }
}

.p-white {
  color: $default-white;
}

a, Link {
  color: $default-dark-green;
  text-decoration: underline;
  &:hover {
    color: $default-light-green;
    text-decoration: underline;
  }
}

// table
table {
  width: 100%;
}
  
@include tablet {
  // hide title when mobile
  table th {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    display: block;
  }
  
  table td {
    display: block;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    font-size: 12px;
    font-weight: $light;
    color: $default-dark-green;
    text-transform: uppercase;
    float: left;
    margin-top: 5px;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}