// BUTTON
.ant-btn-secondary {
  color: $secondary-btn-color;
  background-color: $white;
  border-color: $secondary-btn-color;
  &:hover {
    border: 1px solid $secondary-btn-border-color-hover;
  }
}

.ant-btn {
  margin: 5px;
}

.ant-btn-primary {
  color: $white;
  background-color: $primary-btn-color;
  border-color: $primary-btn-color;
  &:hover {
    background-color: $primary-btn-color-hover;
    border: 1px solid $primary-btn-border-color-hover;
  }
}

.ant-form-item-label {
  label {
    font-size: $default-p;
    color: $p-color;
    font-weight: $semi-bold;
  }
}

.ant-form-vertical .ant-form-item {
  padding-bottom: 0;
}

.ant-modal-title {
  font-size: $default-h2;
  color: $p-color;
  font-weight: $semi-bold;
}

.ant-radio-button-wrapper {
  border-color: $font-colour !important;
  color: $font-colour;
  box-shadow: none;
  s &:hover {
    color: $primary-btn-color-hover;
    border: 1px solid $primary-btn-border-color-hover;
    box-shadow: none;
  }
}
.ant-radio-button-wrapper-checked {
  border-color: $primary-btn-color !important;
  color: $primary-btn-color;
  box-shadow: none;
  &:hover {
    color: $primary-btn-color-hover;
    border: 1px solid $primary-btn-border-color-hover;
    box-shadow: none;
  }
}

.ant-btn-background-ghost {
  color: $font-colour;
  box-shadow: none;
  border-style: none !important;
  &:hover {
    border-style: none !important;
    border: 0px;
  }
}

.ant-btn-tertiary {
  color: $tertiary-btn-color;
  border: 1px solid $tertiary-btn-border-color;
  background: transparent;
  &:hover {
    color: $tertiary-btn-color-hover;
    border: 1px solid $tertiary-btn-border-color-hover;
    background: transparent;
  }
}

.ant-dropdown-menu {
  background-color: $nav-blue;
  border-radius: 0;
  top: 14px;
}

.ant-dropdown-menu-item {
  & .ant-btn-tertiary {
    width: 100%;
    border: none;
    text-align: right;
  }
}

.ant-alert-warning {
  background-color: $gov-yellow;
  top: 70px;
}

// DATE PICKER
.ant-calendar-picker {
  width: 100%;
}