// For more info on how to use this file, visit the link:
// https://github.com/ant-design/ant-design/blob/master/components/style/color/colors.less

$gov-blue: #003366;
$gov-yellow: #fcba19;
$gov-red: #d8292f;
$gov-green: #2e8540;
$font-colour: #494949;
$link-normal: #007bff;
$nav-blue: #38598a;
$background: #f2f2f2;
$input-color: #606060;
$card-bg: #f7f8fa;

// TODO: The below needs to be moved/deleted/reassessed.
$white: #ffffff;
$link-hover: darken($link-normal, 20%);

// Button colours
$primary-btn-color: $gov-blue;
$primary-btn-color-hover: darken($primary-btn-color, 20%);
$primary-btn-border-color-hover: $primary-btn-color-hover;

$secondary-btn-color: $gov-blue;
$secondary-btn-color-hover: darken($secondary-btn-color, 20%);
$secondary-btn-border-color-hover: $secondary-btn-color-hover;

$tertiary-btn-color: $white;
$tertiary-btn-color-hover: darken($gov-yellow, 20%);
$tertiary-btn-border-color: $white;
$tertiary-btn-border-color-hover: darken($gov-yellow, 20%);

// Font sizes
$title-h1: 36px;
$default-h1: 24px;
$mobile-h1: 20px;
$default-h2: 22px;
$mobile-h2: 18px;
$default-h3: 20px;
$mobile-h3: 16px;
$default-h4: 18px;
$mobile-h4: 12px;
$default-p: 16px;

// Font
$light: 300;
$regular: 400;
$bold-regular: 500;
$semi-bold: 600;
$bold: 700;
$h1-color: $gov-blue;
$title-color: $white;
$h2-color: $font-colour;
$h3-color: $font-colour;
$h4-color: $white;
$p-color: $font-colour;
$a-color: $link-normal;
$a-color-hover: $link-hover;

// Margins
$default-margin-sm: 5px;
$default-margin-md: 10px;
$default-margin-lg: 20px;
$default-margin-xl: 30px;
$default-margin-xxl: 50px;

// Padding
$default-padding-sm: 5px;
$default-padding-md: 10px;
$default-padding-lg: 20px;
$default-padding-xl: 30px;
$default-padding-xxl: 50px;

$default-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
