//* -------- Brand Fonts -----------

//* BC Sans
@font-face {
  font-family: "BCSans";
  font-style: normal;
  font-display: swap;
  src: url("../assets/fonts/BCSans/BCSans-Regular.woff");
}

@font-face {
  font-family: "BCSans";
  font-style: italic;
  font-display: swap;
  src: url("../assets/fonts/BCSans/BCSans-Italic.woff");
}

@font-face {
  font-family: "BCSans";
  font-weight: bold;
  font-display: swap;
  src: url("../assets/fonts/BCSans/BCSans-Bold.woff");
}

@font-face {
  font-family: "BCSans";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("../assets/fonts/BCSans/BCSans-BoldItalic.woff");
}