//* -------- Brand Fonts -----------

//* BC Sans
@font-face {
  font-family: "BCSans";
  font-style: normal;
  src: url("/src/assets/fonts/BCSans/BCSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "BCSans";
  font-style: italic;
  src: url("/src/assets/fonts/BCSans/BCSans-Italic.woff") format("woff");
}
@font-face {
  font-family: "BCSans";
  font-weight: bold;
  src: url("/src/assets/fonts/BCSans/BCSans-Bold.woff") format("woff");
}
@font-face {
  font-family: "BCSans";
  font-style: italic;
  font-weight: bold;
  src: url("/src/assets/fonts/BCSans/BCSans-BoldItalic.woff") format("woff");
}
