// ITCSS file structure, layers include: (Settings, Tools, Generic, Elements, Objects, Components, Utilities)
// most styling will be found in the Components and Objects folder.

// SETTINGS - Used with pre-processors. Global settings that contain font, colors definitions, etc.
@import "./settings/fonts.scss";
@import "./settings/theme.scss";

// TOOLS - globally used mixins and functions. (ie gradient mixins, font-sizing mixins)
@import "./tools/mixins.scss";

// GENERIC - Very high level, far-reaching styles. Contains Normalize.css, Box-sizing rules, CSS resets etc.
@import "./overrides/filepond-overrides.scss";
@import "./overrides/antd-overrides.scss";
@import "./generic/layout.scss";

// ELEMENTS - Bare, un-classed HTML elements (like H1, A, etc.). This layer is rarely touched after initial setup.
@import "./elements/elements.scss";

// OBJECTS - layouts (CSS Grid or flexbox)

// COMPONENTS - specific UI components.
@import "./components/Header.scss";
@import "./components/Footer.scss";
@import "./components/Loading.scss";
@import "./components/Tables.scss";
@import "./components/TableSummaryCard.scss";
@import "./components/ContactCard.scss";
@import "./components/Overview.scss";
@import "./components/LandingPage.scss";

// UTILITIES - utilities and helper classes. This layer has the highest specificity.
@import "./generic/helpers.scss";
