export DB_HOST=postgres
export DB_USER=nris
export DB_PASS=pass
export DB_PORT=5432
export DB_NAME=mds
export DB_NAME_TEST=mds-test

export NRIS_DB_HOSTNAME=oracle_hostname
export NRIS_DB_PORT=1521
export NRIS_DB_SERVICENAME=oracle_servicename
export NRIS_DB_USER=oracle_db_username
export NRIS_DB_PASSWORD=oracle_db_password

export FLASK_APP=app
export FLASK_RUN_PORT=5500
export FLASK_RUN_HOST=0.0.0.0
export FLASK_DEBUG=1
export FLASK_ENV=development

export JWT_OIDC_WELL_KNOWN_CONFIG=https://sso-test.pathfinder.gov.bc.ca/auth/realms/mds/.well-known/openid-configuration
export JWT_OIDC_AUDIENCE=mines-application-local
export JWT_OIDC_ALGORITHMS=RS256

export ELASTIC_ENABLED=0
export ELASTIC_SERVICE_NAME=Local-Dev
export ELASTIC_SECRET_TOKEN="abcdefg"
export ELASTIC_SERVER_URL="https://localhost:8200"