.actions-ellipsis-button.ant-btn {
    border: none !important;
    box-shadow: none !important;
    background: transparent !important;

    &:hover,
    &:focus,
    &:active {
        border: none !important;
        box-shadow: none !important;
        background: transparent !important;
    }

    .anticon {
        color: rgba(0, 0, 0, 0.65);
    }
}