@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://js.arcgis.com/4.8/esri/themes/light/main.css");
// ITCSS file structure, layers include: (Settings, Tools, Generic, Elements, Objects, Components, Utilities)
// most styling will be found in the Components and Objects folder.

// SETTINGS - Used with pre-processors. Global settings that contain font, colors definitions, etc.
@import "./settings/variables.scss";
@import "./settings/theme.scss";
@import "./settings/themeOverride.scss";

// TOOLS - globally used mixins and functions. (ie gradient mixins, font-sizing mixins)
@import "./tools/mixins.scss";
@import "./tools/syncfusion.scss";

// GENERIC - Very high level, far-reaching styles. Contains Normalize.css, Box-sizing rules, CSS resets etc.
@import "./generic/Normalize.scss";
@import "./generic/layout.scss";

// ELEMENTS - Bare, un-classed HTML elements (like H1, A, etc.). This layer is rarely touched after initial setup.
@import "./elements/elements.scss";

// OBJECTS - layouts (CSS Grid or flexbox)

// COMPONENTS - specific UI components.
@import "./components/Loading.scss";
@import "./components/MineDashboard.scss";
@import "./components/Comments.scss";
@import "./components/CustomDashboard.scss";
@import "./components/NavBar.scss";
@import "./components/NullScreen.scss";
@import "./components/Logout.scss";
@import "./components/Dashboard.scss";
@import "./components/Forms.scss";
@import "./components/Maps.scss";
@import "./components/MineList.scss";
@import "./components/Tables.scss";
@import "./components/MineCompliance.scss";
@import "./components/Modal.scss";
@import "./components/MinePermitTable.scss";
@import "./components/HomePage.scss";
@import "./components/NoticeOfWork.scss";
@import "./components/SearchBar.scss";
@import "./components/CoreTooltip.scss";
@import "./components/MergeContacts.scss";
@import "./components/NoticeOfDeparture.scss";
@import "./components/NotificationDrawer.scss";
@import "./components/SteppedForm.scss";
@import "./components/DocumentTableWithExpandedRows.scss";
@import "./components/DocumentCompressionProgressBar.scss";
@import "./components/Menu.scss";
@import "./components/Permit.scss";
@import "./components/ExplosivesPermits.scss";
@import "./components/MineExplosivesPermitTable.scss";

// UTILITIES - utilities and helper classes. This layer has the highest specificity.