@use "../settings/variables.scss";
@use "../settings/theme.scss";


.primary-colour {
  color: variables.$gov-blue !important;
}

.font-colour {
  color: theme.$font-colour !important;
}

a {
  &[disabled] {
    pointer-events: all;
  }
}

ul {
  list-style-position: inside;
  padding-inline-start: 15px;
}

.field-title {
  font-size: variables.$field-label;
  font-weight: variables.$semi-bold;
  font-family: variables.$default-font;
  color: variables.$ant-label-title-color;
  margin-right: 5px;
  margin-bottom: 9px;

  &--light {
    color: variables.$p-light-color;
  }
}