.primary-colour {
  color: $gov-blue !important;
}

a {
  &[disabled] {
    pointer-events: all;
  }
}

ul {
  list-style-position: inside;
  padding-inline-start: 15px;
}

.field-title {
  font-size: $field-label;
  font-weight: $semi-bold;
  font-family: $default-font;
  color: $ant-label-title-color;
  margin-right: 5px;
  margin-bottom: 9px;

  &--light {
    color: $p-light-color;
  }
}