a {
  &[disabled] {
    pointer-events: all;
  }
}

// h1,
// h2,
// h3,
// h4,
// h5,
// p {
//   padding: 0;
//   margin: 0;
//   width: auto;
// }

// h1 {
//   &.sitetitle {
//     font-size: $title-h1;
//     font-weight: $bold;
//     color: $title-color;
//   }

//   font-size: $default-h1;
//   font-weight: $semi-bold;
//   color: $h1-color;

//   @include mobile {
//     font-size: $mobile-h1;
//   }
// }

// h2 {
//   &.blue-heading-bar {
//     background: $gov-blue;
//     opacity: 83%;
//     padding: 8px 15px 7px;
//     color: $title-color;
//   }

//   font-size: $default-h2;
//   font-weight: $bold-regular;
//   color: $h2-color;

//   @include mobile {
//     font-size: $mobile-h2;
//   }
// }

// h3 {
//   font-size: $default-h3;
//   font-weight: $bold-regular;
//   color: $h3-color;

//   @include mobile {
//     font-size: $mobile-h3;
//   }
// }

// h4 {
//   font-size: $default-h4;
//   font-weight: $bold;
//   color: $h4-color;

//   @include mobile {
//     font-size: $mobile-h4;
//   }
// }

// p {
//   &.login {
//     color: $title-color;
//     font-style: italic;
//   }

//   font-size: $default-p;
//   font-weight: $regular;
//   color: $p-color;
// }

// li {
//   font-size: $default-p;
//   font-weight: $regular;
//   color: $p-color;
// }

// .bold {
//   font-weight: $bold;
// }

// .field-title {
//   font-size: $default-p;
//   color: $p-color;
//   font-weight: $semi-bold;
//   margin-right: 5px;
// }
