.leaflet-control-mouseCoordinate {
  width: 300px;
  min-height: 30px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  background: none repeat scroll 0 0 #fff;
  color: #333;
  padding: 6px 10px 6px 10px;
}
.leaflet-control-mouseCoordinate table {
  width: 100%;
}
.coords {
  width: 300px;
}
