$mobile-width: 500px;
$tablet-width: 768px;
$large-width: 1024px;
$desktop-width: 75em;
$x-large-width: 90em;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin large {
  @media (max-width: #{$large-width}) {
    @content;
  }
}

@mixin only-large {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin desktop-width {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin x-large {
  @media (min-width: #{$x-large-width}) {
    @content;
  }
}

@mixin flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes pulsate {
  /* Opera */
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  /* Safari and Chrome */
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes pulsate {
  /* Firefox */
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}

@mixin animation($type, $duration) {
  animation: $type $duration;
  -moz-animation: $type $duration;
  -webkit-animation: $type $duration;
  -o-animation: $type $duration;
}

@mixin pulsateAnimation {
  animation: pulsate 2400ms ease-out infinite;
  -moz-animation: pulsate 2400ms ease-out infinite;
  -webkit-animation: pulsate 2400ms ease-out infinite;
  -o-animation: pulsate 2400ms ease-out infinite;
}

@mixin fade-in {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

.fade-in {
  @include fade-in;
}
