body {
  font-family: $default-font;
  width: 100vw;
}

.layout {
  width: 100vw;
  min-height: 100vh;
}

.header {
  height: 55px;
}

.content {
  overflow: initial;
  background-color: $pure-white;
}

.footer {
  height: 45px;
  background-color: $nav-color;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.inline {
  display: inline-block;
}

.full {
  width: 100%;
  height: 100%;
  text-align: left;
}

.full-height {
  height: inherit !important;
}

.inline-flex {
  @include flex;

  &--img {
    margin-top: 5px;
    height: 50%;
  }

  & div {
    margin-right: 5px;
  }
}

.flex-center {
  justify-content: center;
}

.block-mobile {
  @include mobile {
    display: block;
  }
}

.wrap {
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.center-mobile {
  @include mobile {
    display: block;
    text-align: center !important;
    margin: 0 !important;
  }
}

.full-mobile {
  @include mobile {
    width: 100% !important;
    margin: 5px 0;
  }
}

.tab__content {
  padding: $default-padding-lg $default-padding-xxl;

  @include mobile {
    padding: 0 $default-padding-lg;
  }
}

.thick-divider {
  height: 2px;
}

.btn--dropdown {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;

  &:hover {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
  }
}

.card-buttons {
  flex-direction: column;
}

.padding-small {
  &--right {
    padding-right: 5px;
  }
  padding: $default-padding-sm;
}

.padding-large {
  &--right {
    padding-right: $default-padding-lg;
  }
}

.margin-small {
  margin: $default-margin-sm;
}

.lightest-grey-bg {
  background: $secondary-background-colour;
}

.nested-table-header {
  font-size: $default-h2;
  font-weight: $semi-bold;
  color: $h4-color;
}
