body {
  font-family: $default-font;
}

.layout {
  min-height: 100vh;
}

.header {
  height: 55px;
}

.content {
  overflow: initial;
  background-color: $background-white;
}

.footer {
  height: 45px;
  background-color: $default-blue;
}

.center {
  text-align: center;
  margin-bottom: 20px;
}

.right {
  text-align: right;
  margin: 15px;
}

.left {
  text-align: left;
}

.inline {
  display: inline-block;
}

.inline-flex {
  @include flex;
  
  &--img {
    margin-top: 5px;
    height: 50%;
  }
  
  div {
    display: fixed;
    padding: $default-padding-sm;
  }
}

.between {
  justify-content: space-between;

  @include mobile {
    justify-content: unset;
  }
}

.evenly {
  justify-content: space-evenly;
}

.center-mobile {
  @include mobile {
    text-align: center !important;
    margin: 0 !important;
  }
}

.full {
  @include mobile {
    width: 80% !important;
  }
}
