CREATE SCHEMA IF NOT EXISTS $NRIS_SCHEMA;

DO
$$
BEGIN
    IF NOT EXISTS(select from pg_catalog.pg_roles where rolname= '$NRIS_USER') THEN
        CREATE USER $NRIS_USER with PASSWORD '$NRIS_PASSWORD';
        GRANT ALL PRIVILEGES ON SCHEMA $NRIS_SCHEMA to $NRIS_USER;
    END IF;
END
$$;
