.git
.ipynb_checkpoints/*
/notebooks/*
/unused/*
Dockerfile
.DS_Store
.gitignore
README.md
env.*
__pycache__
/devops/*
*.pyc
# To prevent storing dev/temporary container data
*.csv
/tmp/*
/tests/__pycache__
.venv