JWT_OIDC_WELL_KNOWN_CONFIG_CYPRESS=http://keycloak:8080/auth/realms/standard/.well-known/openid-configuration
JWT_OIDC_JWKS_URI_CYPRESS=http://keycloak:8080/auth/realms/standard/protocol/openid-connect/certs
JWT_OIDC_AUDIENCE_CYPRESS=account
JWT_OIDC_ISSUER_CYPRESS=http://localhost:8080/auth/realms/standard
ALLOW_CYPRESS_AUTH=true

DB_HOST=postgres
DB_USER=docman
DB_PASS=docman_pass
DB_PORT=5432
DB_NAME=mds
DB_NAME_TEST=mds_test

DOCUMENT_MANAGER_URL=http://document_manager_backend:5001

FLASK_APP=app
FLASK_RUN_PORT=5001
FLASK_RUN_HOST=0.0.0.0
FLASK_DEBUG=1
FLASK_ENV=development

CACHE_REDIS_HOST=redis
CACHE_REDIS_PASS=redis-password

JWT_OIDC_WELL_KNOWN_CONFIG=https://test.loginproxy.gov.bc.ca/auth/realms/standard/.well-known/openid-configuration
JWT_OIDC_AUDIENCE=mines-digital-services-mds-public-client-4414
JWT_OIDC_ALGORITHMS=RS256

OBJECT_STORE_ENABLED=0
OBJECT_STORE_HOST=nrs.objectstore.gov.bc.ca
OBJECT_STORE_ACCESS_KEY_ID=
OBJECT_STORE_ACCESS_KEY=
OBJECT_STORE_BUCKET=awlvru
# Must be the same as tusd S3_PREFIX
S3_PREFIX=mds-files-local/

DOCUMENT_UPLOAD_CHUNK_SIZE_BYTES=1048576

NROS_TOKEN_URL=
NROS_CLIENT_ID=MDS_SERVICE_CLIENT
NROS_CLIENT_SECRET=

VFCBC_CLIENT_ID=mms_srv1
VFCBC_CLIENT_SECRET=

TUSD_URL=http://tusd:1080/files/

OPENSSL_CONF=/app/openssl.cnf

CORE_API_URL=http://mds_backend:5000

AUTHENTICATION_URL=
CLIENT_ID=
CLIENT_SECRET=
GRANT_TYPE=

CELERY_REST_API_URL=http://document_manager_celery:5555

FLOWER_USER=flower
FLOWER_USER_PASSWORD=flower


# https://opentelemetry.io/docs/
# https://opentelemetry.io/docs/instrumentation/python/automatic/#configuring-the-agent
# We need to use OTEL to send data to the collector first, and then the collector will send data to the backend.
# Direct send to Jaeger backend introduces coupling. 
# Jaeger also does not have full support for OTLP yet. So it is better to use the collector first.
# Gothcha: EXPORTER_OTLP_TRACES_ENDPOINT needs a http prefix apprarently. Otherwise we will see a SSL error - SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER
# This is becuase the exporter attempts https by default.
OTEL_TRACES_EXPORTER=otlp
OTEL_SERVICE_NAME=mds_document_manager
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://otelcollector:4317
OTEL_METRICS_EXPORTER=none
OTEL_LOG_LEVEL=debug