cached_property==1.5.2
factory-boy==3.3.0
Flask==2.3.2
Flask-APScheduler==1.12.4
Flask-Caching==2.0.2
Flask-Cors==3.0.10
flask-compress==1.13
Flask-Migrate==2.6.0
flask-restx==1.1.0
Flask-SQLAlchemy==3.0.5
flask_jwt_oidc==0.3.0
psycopg2==2.9.6
psycopg2-binary==2.9.6
pytest==7.4.0
pytest-cov==4.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
redis==4.6.0
requests==2.31.0
SQLAlchemy==2.0.19
uwsgi==2.0.22
uwsgitop==0.11
Werkzeug==2.3.6
boto3==1.28.15
celery==5.3.1
numpy==1.25.2
flower==2.0.0

zipstream==1.1.4
stream-zip==0.0.67