# ----------------------------------------------------------------------
# | maintenance mode                                                  |
# ----------------------------------------------------------------------

# Proxy ALL incoming requests to static page if file maintenance_on.html exists
# invoked by shell script

#maintainence mode redirect

if (-f /opt/app-root/src/html/maintenance_on.html){
    return 503;
}

#error pages
error_page 503 @maintenance;

location @maintenance {
    index /opt/app-root/src/html/maintenance_on.html;
}