# ----------------------------------------------------------------------
# | maintenance mode                                                  |
# ----------------------------------------------------------------------

# Proxy ALL incoming requests to static page if file maintenance_on.html exists
# invoked by shell script

#maintainence mode redirect
location / {
    if (-f /opt/app-root/src/html/maintenance_on.html){
        return 503;
    }
}

#error pages
error_page 503 /maintenance_on.html;
location = /maintenance_on.html {
    add_header X-debug-message 'matched maintenance_on location';
    root /opt/app-root/src/html/;
    internal;
    break;
}    
