version: '2'
services:
  postgres:
    restart: always
    image: postgres:9.6
    environment:
      - POSTGRES_USER=test
      - POSTGRES_PASSWORD=test
      - POSTGRES_DB=mds_db
    volumes:
      - ../migrations/sql/V0.1__Extension_Crypto.sql:/docker-entrypoint-initdb.d/V0.1__Extension_Crypto.sql
      - ../migrations/sql/V0.2__Add_Mine_Tables.sql:/docker-entrypoint-initdb.d/V0.2__Add_Mine_Tables.sql
      - ./postgres-data/postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
  app:
    restart: always
    build: .
    ports:
      - 5000:5000
    volumes:
      - .:/app
    depends_on:
      - postgres
    env_file:
      - ../.env
    entrypoint: ["python", "src/app.py"]