alembic==1.0.0
aniso8601==3.0.2
atomicwrites==1.1.5
attrs==18.1.0
click==6.7
Flask==1.0.2
Flask-Caching==1.4.0
Flask-Cors==3.0.6
Flask-Migrate==2.2.1
flask-restplus==0.11.0
Flask-SQLAlchemy==2.3.2
flask_jwt_oidc==0.1.2
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
Mako==1.0.7
MarkupSafe==1.0
more-itertools==4.2.0
pluggy==0.6.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
py==1.5.4
pytest==3.6.3
pytest-cov==2.5.1
python-dateutil==2.7.3
python-dotenv==0.9.1
python-editor==1.0.3
pytz==2018.5
redis==2.10.6
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.10
Werkzeug==0.14.1