// theme.scss holds overrides for ant-design
// refer to (https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less) for ant design variable names;
$blue: #003366;
$white: #f1f1f2;
$violet: #5e46a1;

$alert-red: #d40d0d;
$ok-green: #45a766;

$primary-color: $violet;
$menu-item-color: $white;

$error-color: $alert-red;
$success-color: $ok-green;

$font-family: "Open Sans", sans-serif;
