// theme.scss holds overrides for ant-design
// refer to (https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less) for ant design variable names;
$blue: #003366;
$white:#F1F1F2;
$red: #BC2929;
$green: #0F620E;

$primary-color: $green;
$menu-item-color: $white;

$error-color: $red; 

