// theme.scss holds overrides for ant-design
// refer to (https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less) for ant design variable names;
$blue: #003366;
$white: #f1f1f2;
$red: #bc2929;
$green: #0f620e;

$primary-color: $green;
$menu-item-color: $white;

$error-color: $red;
