// stylying overrides for Ant components

// TABS
.ant-tabs-nav-scroll {
  margin-top: 30px;
  text-align: center;
}

.ant-tabs-nav {
  .ant-tabs-tab {
    font-family: $default-font;
    font-weight: $light;
  }
}

.ant-tabs-ink-bar {
  height: 4px;
}

// DIVIDER
.ant-divider {
  .ant-divider-horizontal {
    margin: 5px;
    height: 1px;
    background-color: $h-divider-color;
  }
  &.ant-divider-vertical {
    margin: 0 15px;
    height: 30px;
    width: 2px;
    background-color: $v-divider-color;
  }
}
// BUTTON
.ant-btn,
.ant-btn-sm,
.ant-btn-secondary {
  font-weight: $light;
  margin: 10px;
  color: $secondary-btn-color;
  border: 1px solid $secondary-btn-color;

  &:hover {
    color: $secondary-btn-color-hover;
    border: 1px solid $secondary-btn-border-color-hover;
  }
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link,
.ant-select-selection,
.ant-pagination-item {
  & a {
    text-decoration: none !important;
  }
  &:hover {
    color: $pagination-item-hover;
    border: 1px solid $pagination-item-border-hover;
  }
}

.ant-btn-primary {
  color: $pure-white;
  &:hover {
    color: $pure-white;
    background-color: $primary-btn-color-hover;
    border: 1px solid $primary-btn-border-color-hover;
  }
}

.ant-btn-dashed {
  margin: 10px 0;
  color: $tertiary-btn-color;
  border-color: $tertiary-btn-border-color;
  border-style: dashed;
  &:hover {
    color: $tertiary-btn-color-hover;
    border-color: $tertiary-btn-border-color-hover;
    border-style: dashed;
  }
}
.ant-popover-buttons button {
  margin: 10px;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
  padding: 0 15px;
  font-size: 14px;
  height: 32px;
}
.ant-btn-background-ghost {
  border-style: none;
  box-shadow: none;
  &:hover {
    border-style: none !important;
    border: 0px;
  }
}

// POPUP CONFIRM
.ant-popover-inner-content,
.ant-popover-arrow {
  background-color: $pure-white;
}

// TOAST
.ant-notification-notice,
.ant-notification {
  z-index: 1000 !important;
}

// CARDS
.ant-card {
  margin-bottom: 20px;
  text-align: left;
  border-radius: 25px;
}

.ant-card-body {
  padding: 20px;
}

.ant-card-bordered {
  border: 1px solid $card-border-color;
}

// ROW
.ant-row-flex {
  padding: $default-padding-md;
}

// PAGINATION
.ant-pagination {
  margin: $default-margin-lg;
}

// TAGS
.ant-tag {
  font-size: 14px;
}

// FORMS
.ant-form-vertical .ant-form-item {
  padding-bottom: 0;
}

.ant-form-item {
  margin-bottom: 10px;
}

// DATE PICKER
.ant-calendar-picker {
  width: 100%;
}

// COLLAPSE
.ant-collapse {
  border: none;
  background-color: $pure-white;
}

//  MENU
.ant-menu {
  padding: 0;
  margin: 0;
}
// MENU.ITEM
// Same styling as the default for .ant-dropdown-menu-item,
// see AuthorizationWrapper.js for the specific use case of this custom class
.custom-menu-item {
  padding: 5px 12px;
  margin: 0;
  clear: both;
  font-size: 14px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.65);
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 22px;
  &:hover {
    background-color: #d9d3e0;
  }
}
