// stylying overrides for Ant components

// TABS 
.ant-tabs-nav-scroll {
  margin-top: 30px;
  text-align: center;
}

.ant-tabs-nav {
  .ant-tabs-tab-active {
    font-weight: $bold !important;
  }

  .ant-tabs-tab {
    font-family: $default-font;
    font-weight: $light;
    font-size: 20px;
  }
}

.ant-tabs-ink-bar {
  height: 4px;
}

// DIVIDER 
.ant-divider {
  .ant-divider-horizontal {
    margin: 5px;
    height: 1px;
    background-color:  $default-dark-green;
  }
  &.ant-divider-vertical {
    margin: 0 15px;
    height: 30px;
    width: 2px;
    background-color: $default-brown;
  }
}

// BUTTON 
.ant-btn-secondary {
  margin-right: 15px;
  color: white;
  background-color: $default-brown;
  min-width: 100px;

  &:hover {
    opacity: 0.6;
    color: white;
    background-color: $default-brown;
    border: 1px solid $default-brown;
  }
}

.ant-btn-primary {
  min-width: 100px;
  &:hover {
    opacity: 0.6;
  }
}
// CARDS
.ant-card {
  margin: auto;
  text-align: left;
  border-radius: 25px;
  width: 60vw;
}

.ant-card-bordered {
  border: 1px solid $default-dark-green;
}

// ROW 
.ant-row-flex {
  padding: $default-padding-md;
}

// PAGINATION
.ant-pagination {
  margin: $default-margin-lg;
}


// FORMS
.ant-form-vertical .ant-form-item {
  padding-bottom: 0;
}

.ant-form-item {
  margin-bottom: 10px;
}

// DATE PICKER
.ant-calendar-picker {
  width: 100%;
}
