//  colours
$default-blue: #003366;
$default-med-blue: #335C85;
$default-light-blue: #628FBB;
$default-dark-green: #537C52;
$dfault-light-green: #47C744;
$default-white: #F1F1F2;
$background-white: #FFFFFF;
$default-yellow: #FCBA18;
$font-black: #383838;
$default-brown: #B9ADA2;

// font size
$default-h1: 36px;
$default-h2: 24px;
$default-h3: 20px;
$default-h4: 16px;
$default-h5: 20px;
$default-p: 16px;

// font
$default-font: 'Open Sans', sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

// margins
$default-margin-sm: 5px;
$default-margin-md: 10px;
$default-margin-lg: 20px;
$default-margin-xxl: 60px;

// padding
$default-padding-sm: 5px;
$default-padding-md: 10px;
$default-padding-lg: 20px;
