/*
 * Brand Colour Palette
 */

// Primary Colours
$black: #161616;
$darkest-grey: #3c3636;
$medium-grey: #6b6363;
$violet: #5e46a1;
$hover-blue: #3d6de7;

// Accent Colours
$lime-green: #adfc4a;
$light-blue: #72c0ee;
$non-textual-grey: #a09595;
$gov-blue: #003366;

// Background Colours
$light-grey: #ded9d9;
$lightest-grey: #f4f0f0;
$off-white: #fcf8f8;
$pure-white: #ffffff;

// Special Colours
$alert-red: #d40d0d;
$ok-green: #45a766;

// Map Markers
$map-fuschia: #f736fb;
$beacon-fuschia: #f736fb99;
$map-lavender: #b7a6fc;

/*
 * Component Colour Aliases
 */

// Buttons
$primary-btn-color: $violet;
$primary-btn-color-hover: darken($primary-btn-color, 20%);
$primary-btn-border-color-hover: $primary-btn-color-hover;

$secondary-btn-color: $darkest-grey;
$secondary-btn-color-hover: darken($secondary-btn-color, 20%);
$secondary-btn-border-color-hover: $secondary-btn-color-hover;

$tertiary-btn-color: $pure-white;
$tertiary-btn-color-hover: $tertiary-btn-color;
$tertiary-btn-border-color: $violet;
$tertiary-btn-border-color-hover: darken($tertiary-btn-border-color, 20%);

// Nav
$nav-color: $darkest-grey;
$nav-border-color: $medium-grey;

// Ant Component Overrides
$h-divider-color: $darkest-grey;
$v-divider-color: $darkest-grey;
$pagination-item-hover: darken($violet, 20%);
$pagination-item-border-hover: $pagination-item-hover;
$card-border-color: $violet;

/*
 * Style Defaults
 */

$default-overlay: $medium-grey;

// Font Size
$default-h1: 36px;
$mobile-h1: 24px;
$default-h2: 18px;
$mobile-h2: 16px;
$default-h3: 20px;
$mobile-h3: 16px;
$default-h4: 16px;
$mobile-h4: 12px;
$default-h5: 20px;
$mobile-h5: 16px;
$default-p: 16px;

// Font
$default-font: "Open Sans", sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$h1-color: $darkest-grey;
$h2-color: $darkest-grey;
$h3-color: $medium-grey;
$h4-color: $medium-grey;
$h5-color: $darkest-grey;
$p-color: $black;
$a-color: $violet;
$a-color-hover: darken($a-color, 20%);

// Margins
$default-margin-sm: 5px;
$default-margin-md: 10px;
$default-margin-lg: 20px;
$default-margin-xxl: 50px;

// Padding
$default-padding-sm: 5px;
$default-padding-md: 10px;
$default-padding-lg: 20px;
$default-padding-xl: 30px;
$default-padding-xxl: 50px;

$default-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
$default-round-top-border: 60px 60px 0 0;
