// theme.scss holds overrides for ant-design
// refer to (https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less) for ant design variable names;
// Primary Colours
$gov-blue: #003366;

$lightest-grey: #f2f2f2;
$light-grey: #bcbec5;

// Special Colours
$alert-red: #d40d0d;
$ok-green: #45a766;

$primary-color: $gov-blue;

$error-color: $alert-red;
$success-color: $ok-green;

$font-family: "Myriad-Pro", sans-serif;
$item-hover-bg: $light-grey;

// table colours
$table-header-bg: $lightest-grey;
$table-row-hover-bg: $light-grey;
$table-row-hover-bg: $light-grey;
$table-selected-row-bg: $light-grey;
