// BUTTON
// BUTTON
.ant-btn-secondary {
  font-weight: $light;
  margin: $default-margin-md;
  color: $secondary-btn-color;
  border: 1px solid $secondary-btn-color;
  background: transparent;

  &:hover {
    color: $secondary-btn-color-hover;
    border: 1px solid $secondary-btn-border-color-hover;
    background: transparent;
  }
}

.ant-btn-primary {
  color: $pure-white;
  background-color: $primary-btn-color;
  border-color: $primary-btn-color;
  &:hover {
    color: $pure-white;
    background-color: $primary-btn-color-hover;
    border: 1px solid $primary-btn-border-color-hover;
  }
}

.ant-form-item-label {
  label {
    font-size: $default-p;
    color: $p-color;
    font-weight: $semi-bold;
  }
}

.ant-modal-title {
  font-size: $default-h2;
  color: $p-color;
  font-weight: $semi-bold;
}

.ant-radio-button-wrapper {
  border-color: $font-colour !important;
  color: $font-colour;
  &:hover {
    color: $primary-btn-color-hover;
    border: 1px solid $primary-btn-border-color-hover;
  }
}
.ant-radio-button-wrapper-checked {
  border-color: $primary-btn-color !important;
  color: $primary-btn-color;
  &:hover {
    color: $primary-btn-color-hover;
    border: 1px solid $primary-btn-border-color-hover;
  }
}
