// BUTTON
// BUTTON
.ant-btn-secondary {
  font-weight: $light;
  margin: $default-margin-md;
  color: $secondary-btn-color;
  border: 1px solid $secondary-btn-color;
  background: transparent;

  &:hover {
    color: $secondary-btn-color-hover;
    border: 1px solid $secondary-btn-border-color-hover;
    background: transparent;
  }
}

.ant-divider-horizontal {
  background: $gov-blue;
}

.ant-btn-primary {
  color: $pure-white;
  background-color: $primary-btn-color;
  border-color: $primary-btn-color;
  &:hover {
    color: $pure-white;
    background-color: $primary-btn-color-hover;
    border: 1px solid $primary-btn-border-color-hover;
  }
}
