/*
 * Brand Colour Palette
 */

// Primary Colours
$dark-grey: #161616;
$gov-blue: #003366;
$secondary-link-blue: #1a5a96;
$link-hover: #0007ff;
$nav-blue: #38598a;

// Accent Colours
$gov-yellow: #fcba19;
$light-yellow: #f3cd65;
$light-blue: #5091cd;
$cool-medium-grey: #8a9198;
$icon-grey: #a2a2a2;
$dark-blue: #002663;

// Background Colours
$lightest-grey: #f2f2f2;
$pure-white: #ffffff;
$off-white: #f7f8fa;

// Special Colours
$alert-red: #d40d0d;
$ok-green: #45a766;

//font colour
$font-colour: #494949;

//Button colour
$primary-btn-color: $nav-blue;
$primary-btn-color-hover: darken($primary-btn-color, 20%);
$primary-btn-border-color-hover: $primary-btn-color-hover;

$secondary-btn-color: $nav-blue;
$secondary-btn-color-hover: darken($nav-blue, 20%);
$secondary-btn-border-color-hover: $nav-blue;

$tertiary-btn-color: $pure-white;
$tertiary-btn-color-hover: darken($gov-yellow, 20%);
$tertiary-btn-border-color: $pure-white;
$tertiary-btn-border-color-hover: darken($gov-yellow, 20%);

// Font Size
$title-h1: 36px;
$default-h1: 24px;
$mobile-h1: 20px;
$default-h2: 22px;
$mobile-h2: 18px;
$default-h3: 20px;
$mobile-h3: 16px;
$default-h4: 18px;
$mobile-h4: 12px;
$default-p: 16px;

// Font
$default-font: "Myriad-Pro", sans-serif;
$light: 300;
$regular: 400;
$bold-regular: 500;
$semi-bold: 600;
$bold: 700;
$h1-color: $gov-blue;
$title-color: $pure-white;
$h2-color: $font-colour;
$h3-color: $font-colour;
$h4-color: $pure-white;
$p-color: $font-colour;
$a-color: $secondary-link-blue;
$a-color-hover: $link-hover;

// Margins
$default-margin-sm: 5px;
$default-margin-md: 10px;
$default-margin-lg: 20px;
$default-margin-xl: 30px;
$default-margin-xxl: 50px;

// Padding
$default-padding-sm: 5px;
$default-padding-md: 10px;
$default-padding-lg: 20px;
$default-padding-xl: 30px;
$default-padding-xxl: 50px;

$default-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
