// When new variable overrides are added to Ant Design's default.less as they upgrade their framework,
// override variables there first (in theme.scss). Ant Design variable overrides are only done here as
// a last resort.

// Layout

.ant-layout-header {
  position: fixed;
  z-index: 8;
  width: 100%;
  top: 0;
  padding-left: 0;
  padding-right: 0;
  color: $primary-color;
  background: $primary-color;
  height: $layout-header-height;
}

.ant-layout-footer {
  z-index: 8;
  width: 100%;
  min-height: 80px;
  bottom: 0;
  padding: 0;
  height: $layout-footer-height;
}

.ant-layout {
  width: 100%;
  min-height: 100vh;
}

.app-container-column {
  padding-bottom: $layout-header-height;
}

.ant-layout-content {
  padding: $layout-header-height 0 0 0;

  @include screen-md {
    padding: $layout-header-height $padding-sm;
  }
}

// checkbox group
.ant-checkbox-group {
  display: grid;
  padding-left: 10px;
}

// Divider

.ant-divider:not(.ant-divider-plain) {
  background-color: $primary-color;
}

.ant-divider-horizontal {
  height: 3px;
}

// Buttons
.ant-btn {
  // TODO: When associated bug is fixed, remove this line and change applicable var in theme.scss.
  padding: 0 $padding-lg;
}

.ant-btn-sm {
  padding-left: 10px;
  padding-right: 10px;
  min-height: 30px;
}

.ant-btn.btn-sm-padding {
  padding: 0 12px;
}

.ant-btn-text {
  border-radius: 2px;

  &:hover,
  &:focus {
    background-color: #D9EAF7;
  }
}

.ant-btn-background-ghost {
  border-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

.ant-btn-background-ghost.ant-btn-primary {
  border-color: transparent;
  box-shadow: none;
}

.ant-btn-background-ghost.ant-btn-primary:hover,
.ant-btn-background-ghost.ant-btn-primary:focus {
  border-color: transparent;
}

.ant-btn.block-button {
  margin-left: 0;
  margin-bottom: 20px;
}

// Typography

.ant-typography mark {
  background-color: $gov-yellow;
}

h1.ant-typography,
.ant-typography h1 {
  color: $primary-color;
  margin-top: 0.5em;
}

h4.ant-typography,
.ant-typography h1 {
  color: $primary-color;
}

h3.ant-typography,
.ant-typography h3 {
  color: $primary-color;
}

h5.ant-typography,
.ant-typography h5 {
  color: $primary-color;
}

.ant-typography a {
  text-decoration: underline;
}

// Tabs
.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab:not(:last-of-type),
.ant-tabs-card.ant-tabs-bottom>.ant-tabs-nav .ant-tabs-tab:not(:last-of-type),
.ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab:not(:last-of-type),
.ant-tabs-card.ant-tabs-bottom>div>.ant-tabs-nav .ant-tabs-tab:not(:last-of-type) {
  margin-right: 12px;
}

.vertical.ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
  border-bottom: none !important;
}

.ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
  border-bottom: 4px solid #124673 !important;
  color: $white !important;
  border: 2px solid transparent;
  font-weight: bold;
}

.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab-active {
  background-color: $primary-color !important;
  color: $white !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: $white !important;
  font-weight: bold;
  text-shadow: none;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: $white !important;
}

.ant-tabs {
  .ant-tabs-tab {
    color: $white;
    background-color: #bbb !important;
  }
}

.ant-tabs-tab:not(.ant-tabs-tab-active) {
  &:hover {
    color: $white !important;
    background-color: #999 !important;
  }
}

// vertical-tabs
.vertical-tabs {
  &.ant-tabs .ant-tabs-ink-bar {
    background: transparent;
    height: 0px;
    top: 0px;
  }

  &.ant-tabs .ant-tabs-tab {
    color: #036;
    text-decoration: underline;
    background-color: white !important;
  }

  &.ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap,
  .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
    border-bottom: none !important;
    border-right: 1px solid grey !important;
    height: 70vh;
  }

  & .ant-tabs-tab-active {
    color: #036 !important;
    text-decoration: underline;
    background-color: white !important;
    border-left: 7px solid #003366;
    border-right: none !important;

    &.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: #036 !important;
    }
  }

  & .ant-tabs-tab:hover,
  .ant-tabs-tab-btn:hover {
    background-color: #003366 !important;
    color: white !important;

    &.ant-tabs-tab-active.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
      color: white !important;
    }
  }

  &--tabpane {
    height: 70vh;

    &--actions {

      .ant-btn,
      a {
        margin-right: 5px;
      }

      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }

  &.ant-tabs-left>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane,
  .ant-tabs-left>div>.ant-tabs-content-holder>.ant-tabs-content>.ant-tabs-tabpane {
    overflow: scroll;
    margin-bottom: 50px;
  }
}

// Tables

.ant-table {
  border: none !important;
  border-radius: 0 !important;
  margin-bottom: 16px;
  line-height: 3;
  white-space: nowrap;

  .ant-table-content {
    overflow-x: auto;
  }

  tr>td {
    border-bottom: 1px solid #BBBBBB;
  }
}

.ant-table-thead {
  box-shadow: none !important;
}

.ant-table-container table>thead>tr:first-child th:first-child,
.ant-table-container table>thead>tr:last-child th:last-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.ant-table-thead>tr>th {
  color: #494949;
  border-bottom: 2px solid $primary-color;
  border-radius: 0;
}

.ant-table-header-column {
  font-weight: bold;
}

.ant-table-row-expand-icon {
  background-color: $primary-color;
  color: $white;
  border: 2px solid $primary-color;
  border-radius: $border-radius-base * 2;

  &:focus,
  &:hover {
    color: $white;
    border: 2px solid $primary-color;
  }
}

td a {
  text-decoration: none !important;
}

.ant-pagination-item {
  border: none;
}

tr.ant-table-expanded-row {

  & table,
  .ant-table-body {
    margin: 0;
  }
}

// Tags

.ant-tag {
  border-radius: 25px;
  padding: 2px 7px;
}

.ant-tag,
.ant-select-selection--multiple .ant-select-selection__choice {
  border: 1px solid $table-seperator;
}

.ant-select-disabled.ant-select-multiple .ant-select-selection-item {
  color: #bfbfbf;
  border-color: #d9d9d9;
  cursor: not-allowed;
}

.ant-select-disabled.ant-select-multiple .ant-select-selector {
  background: #f5f5f5;
  border-color: #bbbbbb;
  cursor: not-allowed;
}

// Descriptions

.ant-descriptions-item-label {
  color: $primary-color;
  font-weight: 600;
}

.ant-descriptions.ant-descriptions-small {

  .ant-descriptions-item-content,
  .ant-descriptions-item-label {
    font-size: 14px !important;
  }
}

.ant-descriptions-item {
  margin-right: $padding-lg;

  .ant-descriptions-item-content {
    word-break: keep-all;
  }
}

th.ant-descriptions-item.vertical-description {
  padding-bottom: 0px !important;
}

.ant-descriptions-row {
  display: flex;
}

// Modals

.ant-modal {
  &-content {
    border-radius: 0;
    background-clip: border-box;
  }

  &-header {
    border: none;
  }

  &-title {
    font-weight: bold;
    font-size: $heading-4-size;
  }

  // Because we only use a modal wrapper and provide the ok/cancel buttons inside the modal body
  // we need to apply this styling.
  &-body {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &-footer {
    border: none;
    padding: 0;
  }
}

// Cards

.ant-card {
  &-head {
    border-bottom: none;
    background: $primary-color;
    color: $white;

    &-title {
      text-align: center;
    }
  }

  // For the sake of us never wanting borders on our cards, I thought it'd be nice to
  // just have to specify <Card /> rather than <Card bordered={false} />.
  &-bordered {
    border: none;
  }
}

// Lists

.ant-list-bordered {
  border: 2px solid $primary-color;
}

// Various Inputs

// Disabled inputs
// Unfortuntalely, there's not a more general method of applying this style to disabled data entry components.
.ant-input[disabled],
.ant-select-disabled .ant-select-selection,
.ant-input-number-disabled,
.ant-radio-disabled .ant-radio-inner,
.ant-checkbox-disabled .ant-checkbox-inner {
  border-color: $disabled-bg !important;

  &:hover {
    border-color: $disabled-bg !important;
  }
}

// InputNumber

.ant-input-number-handler-down {
  border-color: inherit;
}

// Radio
.ant-radio .ant-radio-inner {
  border: 2px solid $primary-color;
}

.ant-radio-group {
  max-width: 100%;
}

.ant-radio-wrapper {
  white-space: normal;
}

// Alerts

.ant-alert-info {
  background-color: $card-bg;
}

.ant-alert+.ant-alert {
  margin-top: 14px;
}

.ant-alert-message {
  font-weight: 600;
  font-size: 16px !important;
}

.header-link:hover,
.header-link.active {
  background-color: #154878;
}

// Selector
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: $disabled-bg;
}

.ant-select-multiple.ant-select-show-arrow .ant-select-selector,
.ant-select-multiple.ant-select-allow-clear .ant-select-selector {
  padding: 5px;
}

.form-multiselect .ant-col.ant-form-item-control {
  width: 100%;
}

// DATE PICKER
.ant-picker {
  width: 100%;
  @extend .ant-input;
}

// Picker time
.ant-picker-time-panel-column>li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background: $white;
}

// Picker Input
.ant-picker-input>input {
  color: $black;
}

.ant-picker.ant-picker-disabled {
  border-color: #bbbbbb;
}

.ant-popover-message-title {
  max-width: 400px;
}

.ant-alert-grey {
  background-color: $lightest-grey;
  border: 1px solid $medium-grey;

  span>svg {
    fill: #6b6363;
    background-color: #f4f0f0;
  }

  .ant-alert-content .ant-alert-description div {
    position: relative;

    button.ant-btn {
      position: absolute;
      right: 0;
      top: -75%;

      border-width: 2px;
      background-color: transparent;

      &:focus,
      &:hover {
        background-color: white;
        ;
      }
    }
  }
}

.magazine-collapse,
.magazine-collapse>div {
  background-color: #f2f2f2;
  align-items: center !important;
  border-bottom: none !important;
}

.ant-modal-footer {
  padding-right: 24px;
  padding-bottom: 24px;
}

// Collapse Component
.ant-collapse:not(.ant-collapse-borderless) {
  border-color: $background;
  border-width: 1px;
  border-bottom-style: solid;
  border-radius: 2px;
}

.ant-collapse-header {
  // same as .grey-filled-box
  padding: 16px 24px;
}

.ant-collapse>.ant-collapse-item:last-child,
.ant-collapse>.ant-collapse-item:last-child>.ant-collapse-header {
  border-radius: 0;
  border-bottom: none;
}

.ant-collapse-borderless>.ant-collapse-item>.ant-collapse-content {
  background-color: $white;
}