/* use a hand cursor intead of arrow for the action buttons */
.filepond--file-action-button {
  cursor: pointer;
}

/* the text color of the drop label*/
.ant-form-item .filepond--drop-label {
  color: $font-colour;
}

/* underline color for "Browse" button */
.filepond--label-action {
  text-decoration-color: $gov-grey; //#aaa;

  &:focus {
    outline: none !important;
  }
}

/* the border radius of the file item */
.filepond--item-panel {
  border-radius: $border-radius-base;
}

/* the background color of the file and file panel (used when dropping an image) */
.filepond--item-panel {
  background-color: $gov-grey-dark;
}

/* the background color of the drop circle */
.filepond--drip-blob {
  background-color: $gov-grey;
}

/* the background color of the black action buttons */
.filepond--file-action-button {
  background-color: rgba(0, 0, 0, 0.5);
}

/* the icon color of the black action buttons */
.filepond--file-action-button {
  color: $white;
}

/* the color of the focus ring */
.filepond--file-action-button:hover,
.filepond--file-action-button:focus {
  box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
}

/* the text color of the file status and info labels */
.filepond--file {
  color: $white;
}

/* error state color */
[data-filepond-item-state*="error"] .filepond--item-panel,
[data-filepond-item-state*="invalid"] .filepond--item-panel {
  background-color: $error-color;
}

[data-filepond-item-state="processing-complete"] .filepond--item-panel {
  background-color: $success-color;
}

/* bordered drop area */
.filepond--panel-root {
  background-color: $filepond-drop-bg;
  border-radius: $border-radius-base;
}

.filepond--root {
  max-height: 260px;
}

.filepond-popover-container {
  text-align: center;
  padding-bottom: 1.5em;
  text-decoration: underline;
}

.ant-popover.filepond-filetypes-popover {
  max-width: 500px;
}