.landing-page {
  background-color: $default-white;

  &__header {
    padding: $default-padding-xl;
  }

  &__content {
    background-color: $background-white;
    border-radius: 60px 60px 0 0;
    
    &--search {
      @include flex;
      padding: $default-padding-xl;
      justify-content: space-around;
    }
  }
}