.background {
  background-color: $violet;
  height: 100vh;
}

.link-card {
  margin: 20px;
  background-color: white;
  border-top: 6px solid $violet;
  width: 400px;
  border-radius: 5px;

  a {
    color: inherit;
    width: 100%;
    text-decoration: none;
  }
  li {
    padding: 10px;
    border-top: 1px solid $light-grey;
    list-style: none;
  }
}

.search-container {
  width: 50vw;
  height: 300px;
  position: relative;
  top: 80px;
  margin: 0 auto;
  @include mobile {
    top: 0;
  }

  h1,
  p {
    color: $pure-white;
  }
}
