.background {
  background-size: cover;
  // this attribute is needed when viewed on large screens (ie TV's for demos), it overrides the default height 100%
  min-height: 100vh;
  height: 100%;
}

.link-card {
  margin: 20px;
  background-color: white;
  border-top: 6px solid $violet;
  width: 390px;
  border-radius: 5px;

  a {
    color: inherit;
    width: 100%;
    text-decoration: none;
  }
  li {
    padding: 10px;
    border-top: 1px solid $light-grey;
    list-style: none;
  }

  @include mobile {
    width: 90vw;
  }
}

.metabase-card {
  margin: 20px;
  padding: 0;
  width: fit-content;
  background-color: white;
  border-top: 6px solid $violet;
  border-radius: 5px;
}

.search-container {
  width: 50vw;
  height: 300px;
  position: relative;
  top: 60px;
  margin: 0 auto;
  @include mobile {
    top: 0;
  }

  h1,
  p {
    color: $pure-white;
  }
}
