.loading-screen {
  z-index: 99999;
  position: fixed;
  background: $default-overlay;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.9;

  #loader {
    width: 300px;
    height: 300px;
    @include center(true, true);
  }
}

.loading-screen--small {
  min-height: 500px;
  width: 100%;
  #spinner {
    // offset size of spinner to center
    left: 45% !important;
    @include center(true, true);
  }
}

#table-skeleton {
  width: 100%;
}
