.loading-screen {
  z-index: 99999;
  position: fixed;
  background: $pure-white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.9;

  #loader {
    width: 300px;
    height: 300px;
    @include center(true, true);
  }
}
