.loading-screen {
  z-index: 99999;
  position: fixed;
  background: $default-overlay;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.9;

  #loader {
    width: 300px;
    height: 300px;
    @include center(true, true);
  }
}

.loading-screen--small {
  min-height: 500px;
  width: 100%;
  #spinner {
    // offset size of spinner to center
    left: 45% !important;
    @include center(true, true);
  }
}

@keyframes aniVertical {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.5;
  }
}

.skeleton-table__loader {
  margin-bottom: 8px;
  border-radius: 8px;
  background: #d9d9d9;
  height: 12px;
}

.skeleton-table__row {
  transition: all 0.3s, height 0s;
  animation: aniVertical 3s ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes aniHorizontal {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.skeleton-table__row {
  padding: 16px 16px;
}

.skeleton-table__row:before {
  animation-name: aniHorizontal;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #cccccc 2%, #666666 18%, #cccccc 33%);
  background-size: 50%;
}

.skeleton-table__row:before {
  mix-blend-mode: overlay;
}
