.loading-screen {
  z-index: 999999;
  position: fixed;
  background-color: $default-brown;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  @include animation(fadein, 1s);
  
  #loader {
    width: 300px;
    height: 300px;
    @include center(true, true);
  }
}
