/*
This file contains the style overrides for ArcGIS Map components
*/

//This modifies the custom drawn path in the DOM.  It is created in the 'LocationPin.js' file
path[path="M25,0 C60,0, 60,50, 25,50 C-10,50, -10,0, 25,0"] {
  @include pulsateAnimation;
}

.minePopUpText {
  line-height: 1.5;
  font-size: 1rem;
}

.leftMapPopUpCol {
  width: 10%;
}

.mineMapPopUpButton {
  display: flex;
  justify-content: flex-end;
}

div[id="base-container"] {
  clear: both;
}

#leaflet-map {
  height: 600px;
  width: 1200px;
}
