.dashboard {
  &__header {
    z-index: 10;
    height: 500px;

    &__content {
      padding: 20px 60px;
      z-index: 100;
      background-color: $background-white;
      position: relative;
      border-radius: 60px 60px 0 0;
      top: -100px;

      @include mobile {
          padding: 20px;
          top: -140px;
        }

      &--inline {
        @include flex;
        justify-content: space-between;

        @include mobile {
          display: block
        }
      }
    }
  }

  &__content {
    margin: 50px;

    @include mobile {
      margin: 10px;
    }
  }
}

.mine__status {
  &:nth-child(2), &:nth-child(3) {
    font-weight: lighter;
    font-size:16px;
    &:before {
      content: "|";
    }
  }

}

.table-wrapper{
  border-left:4px solid #003366;
  background: $default-white;

  th{
    padding: 30px;
  }

  td{
    padding: 0px 0px 30px 30px;
  }
}
