.dashboard {
  background-color: $default-white;
  top: -50px;
  padding-top: $default-padding-xl;
  position: relative;

  
  &__header {
    &--card {
      @include mobile {
        width: 100vw;
        margin: 0;
      }
      @include flex;
      height: 100%;
      margin: $default-margin-xxl;
      background-color: $background-white;
      box-shadow: $default-box-shadow;

      @include large {
        display: block;
        height: 100%;
      }

      &__content {
        flex: 2;
        padding: $default-padding-lg;
      }

      &__map {
        flex: 1;

        @include large {
          top: 0;
          height: 250px;
        }

        &--footer {
          padding: $default-padding-md;
          background: $default-dark-brown-gradient;
          position: relative;
          height: 80px;
          top: -80px;
          @include large {
            padding: $default-padding-lg;
          }
        }
      }
    }
  }

  &__content {
    z-index: 100;
    background-color: $background-white;
    position: relative;
    border-radius: $default-round-top-border;

    @include mobile {
      padding: 0;
    }
  }
}

.mine__status {
  &:nth-child(2), &:nth-child(3) {
    font-weight: lighter;
    font-size:16px;
    &:before {
      content: "|";
    }
  }

}

.table-wrapper{
  padding: $default-padding-md;
  border-left:4px solid $default-blue;
  background: $default-white;

  th{
    padding: 30px;
  }

  td{
    padding: 0 0 $default-padding-xl $default-padding-xl;
  }
}
