.dashboard {
  &__header {
    z-index: 10;
    height: 500px;

    &__content {
      padding: 20px 60px;
      z-index: 100;
      background-color: $background-white;
      position: relative;
      border-radius: 30px 30px 0 0;
      top: -100px;

      @include mobile {
          padding: 5px 10px;
        }
      
      &--inline {
        @include flex;
        justify-content: space-between;

        @include mobile {
          display: block
        }
      }
    }
  } 
  
  &__content {
    margin: 50px;
  }
}

.inline-flex {
  @include flex;

  div {
    padding: $default-padding-sm;
  }
}
