.dashboard {
  background-color: $secondary-background-colour;
  padding-top: $default-padding-xl;
  position: relative;

  &__header {
    &--card {
      @include mobile {
        width: 100vw;
        margin: 0;
      }
      @include flex;
      height: 100%;
      margin: $default-margin-xxl;
      background-color: $pure-white;
      box-shadow: $default-box-shadow;

      @include large {
        display: block;
        height: 100%;
      }

      &__content {
        flex: 2;
        margin-top: $default-margin-lg;
        padding: $default-padding-lg;

        &--status__img {
          width: 15px;
          height: 15px;
          margin-top: 4px;
          margin-right: 5px;
        }
      }

      &__map {
        flex: 1;

        @include large {
          top: 0;
          height: 250px;
        }

        &--footer {
          padding: $default-padding-md;
          background: $default-overlay;
          position: relative;
          height: 80px;
          top: -80px;
          opacity: 0.9;
          @include large {
            padding: $default-padding-lg;
          }
        }
      }
    }
  }

  &__content {
    background-color: $pure-white;
    position: relative;
    border-radius: $default-round-top-border;

    @include mobile {
      margin-top: $default-margin-lg;
      padding: 0;
    }
  }
}

.mine__status,
.mine_tenure {
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3) {
    &:after {
      content: ",";
      margin-right: 4px;
    }
  }
  &:last-child() {
    &:after {
      content: " " !important;
    }
  }
}
