.modal__close {
  position: absolute;
  top: 5px;
  color: $violet;
  font-size: 24px;
  right: 0;
}

#modal--large {
  width: 1200px !important;

  @include tablet {
    width: inherit !important;
  }
}
