.menu {
  @include flex;
  position: fixed;
  z-index: 1000;
  width: 100%;
  justify-content: space-between;
  background-color: $nav-color;
  border-bottom: 1px solid $nav-border-color;
  padding: 0 $default-padding-lg 0 $default-padding-md;

  &__img {
    margin: $default-margin-sm;
  }

  &__btn {
    color: $pure-white;
  }
}
