.null-screen {
  // text-align: center;
  // margin-top: $default-margin-lg;

  @include mobile {
    margin: 0;
  }

  &--inline {
    @include flex;
    justify-content: center;
    margin: 0;

    h3 {
      margin-top: 15px;
    }
    @include mobile {
      display: block;
    }
  }

  .no-nav-bar {
    @include center(true, true);
  }
}

.background {
  // // background: blue url("./../assets/images/404Background.png") no-repeat fixed center;
  // /* The image used */
  // background-image: url("./../assets/images/404Background.png");

  // /* Full height */
  // height: 100vh;
  // width: 100vw;

  // /* Center and scale the image nicely */
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}
