.null-screen {
  text-align: center;
  margin: $default-margin-lg;

  @include mobile {
    margin: 0;
  }

  &--inline {
    @include flex;
    justify-content: center;
    margin: 0;

    h1 {
      margin-top: 15px;
    }
    @include mobile {
      display: block;
    }
  }

  .no-nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

}