.null-screen {
  text-align: center;
  margin-top: $default-margin-lg;

  @include mobile {
    margin: 0;
  }

  &--inline {
    @include flex;
    justify-content: center;
    margin: 0;

    h3 {
      margin-top: 15px;
    }
    @include mobile {
      display: block;
    }
  }

  .no-nav-bar{
    @include center(true, true);
  }

}