.ant-table-body {
  overflow-x: auto;
}

@include tablet {
  .ant-table table {
    min-width: 100%;
  }

  .ant-table-thead {
    display: none;
  }

  .ant-table-tbody > tr {
    display: block;
    border-top: 2px solid $lightest-grey;
  }

  .ant-table-tbody > tr > td {
    display: block !important;
    padding: 0.25rem 0.5rem;
    border-bottom: none;

    &:first-child {
      padding-top: 1rem;
    }

    &:last-child {
      padding-bottom: 1rem;
    }

    // Cell content wrapper allows us to add names for each column on smaller devices
    div:first-of-type::before {
      content: attr(title);
      display: inline-block;
      vertical-align: top;
      padding-right: 1rem;
      width: 50%;
      font-weight: 500;
    }
  }

  .ant-table-tbody > tr > td:last-child {
    border-bottom: 0;
  }
}

// Nested Table
.nested-table {
  tr {
    &.ant-table-expanded-row {
      background: #fff;
    }
  }

  .ant-table-expanded-row:hover > td {
    background: #fff;
  }
}
