.nested-table {
  tr {
    &.ant-table-expanded-row {
      background: #fff;
    }
  }

  .ant-table-expanded-row:hover > td {
    background: #fff;
  }

  .ant-table-thead > tr > th {
    background: #fbfbfb;
  }
}
