# ----------------------------------------------------------------------
# | API endpoint                                                       |
# ----------------------------------------------------------------------

# Proxy incoming requests for /file-api to the backend container

location ${PATH_PREFIX}/file-api/ {
        if (-f /opt/app-root/src/html/maintenance_on.html){
                return 503;
        }

        proxy_pass ${FILE_API_SERVICE_URL}${PATH_PREFIX}/file-api/;
        include /opt/app-root/etc/nginx.conf.d/proxy.params;
}

location ${PATH_PREFIX}/file-api/v1/ {
        if (-f /opt/app-root/src/html/maintenance_on.html){
                return 503;
        }

        proxy_pass ${FILE_API_SERVICE_URL}${PATH_PREFIX}/file-api/;
        include /opt/app-root/etc/nginx.conf.d/proxy.params;
}