# ----------------------------------------------------------------------
# | Frontend public application (minespace)                            |
# ----------------------------------------------------------------------

# Proxy incoming requests on the base path to the frontend application

# Server name for the minespace server directive
server_name  ${MINESPACE_DOMAIN};

location ${PATH_PREFIX}/ {
        if (-f /opt/app-root/src/html/maintenance_on.html){
                return 503;
        }

        proxy_pass ${MINESPACE_SERVICE_URL}${PATH_PREFIX}/;
        proxy_buffering    off;
        include /opt/app-root/etc/nginx.conf.d/proxy.params;
}
