# GitHub action script to audit for unused frontend packages.
name: Audit Frontend

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["CORE WEB - Build & Deploy To DEV", "MINESPACE - Build & Deploy To DEV"]
    types: [requested]
    branches:
      - 'feature/**'
      - 'MDS**'
      - 'mds**'
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review

jobs:
  audit-core-web: # Audit for unused Core-Web frontend packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: depcheck
        uses: tj-actions/depcheck@v8
        with:
            dir: services/core-web
            ignores: 'eslint,babel-*'
        continue-on-error: true

  audit-minespace: # Audit for unused Minespace frontend packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: depcheck
        uses: tj-actions/depcheck@v8
        with:
            dir: services/minespace-web
            ignores: 'eslint,babel-*'
        continue-on-error: true

      - name: Log output
        uses: actions/github-script@0.9.0
        if: github.event_name == 'pull_request'
        env:
          DEPCHECK_OUTPUT: "$(npx depcheck) \n"
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const output = `#### Depcheck Results \`${{ steps.plan.outcome }}\`
            
            <details><summary>Dependencies</summary>
            
            \`\`\`\n
            ${process.env.DEPCHECK_OUTPUT}
            \`\`\`
            
            </details>`;
              
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: output
            })
