# GitHub action script to audit for unused frontend packages.
name: Audit Frontend

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["CORE WEB - Build & Deploy To DEV", "MINESPACE - Build & Deploy To DEV"]
    types: [requested]
    branches:
      - 'feature/**'
      - 'MDS**'
      - 'mds**'
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review

jobs:
  audit-core-web: # Audit for unused Core-Web frontend packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: depcheck
        uses: tj-actions/depcheck@v8
        with:
            dir: services/core-web
            ignores: 'eslint,babel-*'
        continue-on-error: true

  audit-minespace: # Audit for unused Minespace frontend packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # - name: depcheck
      #   uses: tj-actions/depcheck@v8
      #   with:
      #       dir: services/minespace-web
      #       ignores: 'eslint,babel-*'
      #   continue-on-error: true


      # - name: Run depcheck
      #   id: depcheck_output
      #   run: ./gitops/npx_depcheck.sh
      - name: Install depcheck
        run: | 
          npm install -g "depcheck@1.4.3"

      - name: Store output
        uses: actions/github-script@v6
        id: depcheck_out

        with:
          script: |
            var exec = require('child_process').exec;

            exec('depcheck ./services/minespace-web',
                function (error, stdout, stderr) {
                    console.log('stdout: ' + stdout);
                    console.log('stderr: ' + stderr);
                    if (error !== null) {
                        console.log('exec error: ' + error);
                    }
                });
          result-encoding: string

        # run: | 
        #   echo "::set-output name=DEPCHECK_OUTPUT::$(depcheck ./services/minespace-web)\n"
        # # bash ./gitops/npx_depcheck.sh ./services/minespace-web
        # continue-on-error: true

      - name: Log output
        if: github.event_name == 'pull_request' 
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const output = `#### Depcheck Results
            
            <details><summary>Dependencies</summary>
            
            \`\`\`\n
            ${{ steps.depcheck_out.outputs.result }}
            \`\`\`
            
            </details>`;
              
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: output
            })
