# GitHub action script to audit for unused frontend packages.
name: Audit Frontend

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["CORE WEB - Build & Deploy To DEV", "MINESPACE - Build & Deploy To DEV"]
    types: [requested]
    branches:
      - 'feature/**'
      - 'MDS**'
      - 'mds**'
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
      - ready_for_review

jobs:
  audit-core-web: # Audit for unused Core-Web frontend packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: depcheck
        uses: tj-actions/depcheck@v8
        with:
            dir: services/core-web
            ignores: 'eslint,babel-*'
        continue-on-error: true

  audit-minespace: # Audit for unused Minespace frontend packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install depcheck
        run: | 
          npm install -g "depcheck@1.4.3"

      - name: Log dependencies in comment
        uses: actions/github-script@v6
        if: github.event_name == 'pull_request' 
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const execSync = require('child_process').execSync;
            const output = execSync('depcheck ./services/minespace-web || true', { encoding: 'utf-8' });
            console.log('Output was:\n', output);


            const final_output = `#### Depcheck Results
            
            <details><summary>Dependencies</summary>
            
            \`\`\`\n
            ${output}
            \`\`\`

            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: final_output
            })
