name: Clear GitHub Actions Cache

on:
  pull_request:
  workflow_dispatch:
  # Manual trigger

jobs:
  clean-cache:
    runs-on: ubuntu-20.04
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Permissions
        run: |
          chmod 755 ./gitops/clear_caches.sh
      - name: Clear Cache
        run: ./gitops/clear_caches.sh ${{ secrets.GH_TOKEN }}
      