name: CORE WEB - Unit Tests

on:
  pull_request:
    paths:
      - services/common/**
      - services/core-web/**

jobs:
  tests-unit-frontend:
    name: tests-unit-frontend
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        name: checkout

      - uses: actions/cache@v3
        name: Cache yarn
        with:
          path: ./.yarn/cache
          key: mds-core-web
          restore-keys: mds-core-web

      - uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Install Dependencies
        run: yarn

      - name: Build Common Package
        run: cd services/common/ && yarn build

      - name: Run frontend tests
        run: cd services/core-web/ && yarn && yarn test 

      - name: build-core-web
        run: cd services/core-web/ && yarn build

      - name: start-core-web
        needs: build-core-web
        run: cd services/core-web/ && yarn run http-server build -p 3000
      
      - name: Run cypress tests
        needs: start-core-web
        run: cd services/core-web/ && yarn && yarn cypress run
        env:
          CYPRESS_TEST_USER: ${{ secrets.CYPRESS_TEST_USER }}
          CYPRESS_TEST_PASSWORD: ${{ secrets.CYPRESS_TEST_PASSWORD }}
          CYPRESS_CORE_WEB_TEST_URL: ${{ secrets.CYPRESS_CORE_WEB_TEST_URL }}
          CYPRESS_BACKEND: ${{ secrets.CYPRESS_BACKEND }}
          CYPRESS_API_URL: ${{ secrets.CYPRESS_API_URL }}
          CYPRESS_KEYCLOAK_URL: ${{ secrets.CYPRESS_KEYCLOAK_URL }}
          CYPRESS_ENVIRONMENT: ${{ secrets.CYPRESS_ENVIRONMENT }}
          CYPRESS_DOC_MAN_URL: ${{ secrets.CYPRESS_DOC_MAN_URL }}
          CYPRESS_FILE_SYSTEM_PROVIDER_URL: ${{ secrets.CYPRESS_FILE_SYSTEM_PROVIDER_URL }}
          CYPRESS_MATOMO_URL: ${{ secrets.CYPRESS_MATOMO_URL }}
          CYPRESS_KEYCLOAK_CLIENT_ID: ${{ secrets.CYPRESS_KEYCLOAK_CLIENT_ID }}
          CYPRESS_KEYCLOAK_IDP_HINT: ${{ secrets.CYPRESS_KEYCLOAK_IDP_HINT }}
          CYPRESS_KEYCLOAK_RESOURCE: ${{ secrets.CYPRESS_KEYCLOAK_RESOURCE }}