name: Update prod infra

on:
  workflow_dispatch:

env:
  TAG: prod
  CORE_DOMAIN: mds-prod.apps.silver.devops.gov.bc.ca
  MINESPACE_DOMAIN: minespace-prod.apps.silver.devops.gov.bc.ca

jobs:
  initiate:
    name: initiate
    runs-on: ubuntu-20.04
    environment:
      name: production
    steps:
      - name: Waiting for approval
        run: |
          echo "Starting prod deploy..."

  update-prod-deployments:
    needs: initiate
    name: update-prod-deployments
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
<<<<<<< HEAD
          - config: redis
          - config: metabase
          - config: metabase-postgres
=======
          - config: nris
>>>>>>> develop
          - config: fider
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Install oc
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: "4.7"
      - name: oc login
        run: |
          oc login --token=${{ secrets.BUILD_TOKEN }} --server=${{ secrets.CLUSTER_API }}
      - name: Update infrastructure in prod
        run: |
          oc -n ${{secrets.NS_PROD}} process -f openshift4/templates/${{ matrix.config }}.dc.yaml --ignore-unknown-parameters=true \
          -p TAG=${{env.TAG}} \
          -p JWT_OIDC_WELL_KNOWN_CONFIG=https://oidc.gov.bc.ca/auth/realms/mds/.well-known/openid-configuration \
          -p JWT_OIDC_AUDIENCE=mines-application-prod \
          -p JWT_OIDC_AUTHORITY=https://oidc.gov.bc.ca/auth/realms/mds \
          -p VCR_ISSUER_URL=https://mines-permitting-issuer-a3e512-prod.apps.silver.devops.gov.bc.ca/ \
          -p DOCMAN_API_URL=https://mds-prod.apps.silver.devops.gov.bc.ca/document-manager \
          -p CORE_API_URL=https://mds-prod.apps.silver.devops.gov.bc.ca/api \
          -p URL=https://mds-prod.apps.silver.devops.gov.bc.ca/ \
          -p ENVIRONMENT_NAME=prod \
          -p NODE_ENV=production \
          -p CORE_DOMAIN=${{env.CORE_DOMAIN}} \
          -p MINESPACE_DOMAIN=${{env.MINESPACE_DOMAIN}} \
          -p KEYCLOAK_URL=https://oidc.gov.bc.ca/auth \
          -p KEYCLOAK_CLIENT_ID=mines-application-prod \
          -p KEYCLOAK_RESOURCE=mines-application-prod \
          -p MS_KEYCLOAK_CLIENT_ID=minespace-prod \
          -p SITEMINDER_URL=https://logon.gov.bc.ca \
          -p MATOMO_URL=https://matomo-4c2ba9-prod.apps.silver.devops.gov.bc.ca/ \
          -p VCAUTHN_PRES_REQ_CONF_ID=minespace-access-0.1 \
          -p OBJECT_STORE_ENABLED=1 \
          | oc -n ${{secrets.NS_PROD}} apply -f -
