name: Update dev infra

on:
  workflow_dispatch:

env:
  TAG: dev
  CORE_DOMAIN: mds-dev.apps.silver.devops.gov.bc.ca
  MINESPACE_DOMAIN: minespace-dev.apps.silver.devops.gov.bc.ca

jobs:
  update-dev-deployments:
    name: update-dev-deployments
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
<<<<<<< HEAD
          - config: redis
          - config: metabase
          - config: metabase-postgres
=======
          - config: nris
>>>>>>> develop
          - config: nris-etl
          - config: fider
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Install oc
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: "4.7"
      - name: oc login
        run: |
          oc login --token=${{ secrets.BUILD_TOKEN }} --server=${{ secrets.CLUSTER_API }}
      - name: Update infrastructure in dev
        run: |
          oc -n ${{secrets.NS_DEV}} process -f openshift4/templates/${{ matrix.config }}.dc.yaml --ignore-unknown-parameters=true \
          -p TAG=${{env.TAG}} \
          -p JWT_OIDC_WELL_KNOWN_CONFIG=https://test.oidc.gov.bc.ca/auth/realms/mds/.well-known/openid-configuration \
          -p JWT_OIDC_AUDIENCE=mines-application-dev \
          -p JWT_OIDC_AUTHORITY=https://test.oidc.gov.bc.ca/auth/realms/mds \
          -p DOCMAN_API_URL=https://mds-dev.apps.silver.devops.gov.bc.ca/document-manager \
          -p CORE_API_URL=https://mds-dev.apps.silver.devops.gov.bc.ca/api \
          -p URL=https://mds-dev.apps.silver.devops.gov.bc.ca/ \
          -p ENVIRONMENT_NAME=dev \
          -p NODE_ENV=development \
          -p CORE_DOMAIN=${{env.CORE_DOMAIN}} \
          -p MINESPACE_DOMAIN=${{env.MINESPACE_DOMAIN}} \
          -p KEYCLOAK_URL=https://test.oidc.gov.bc.ca/auth \
          -p KEYCLOAK_CLIENT_ID=mines-application-dev \
          -p KEYCLOAK_RESOURCE=mines-application-dev \
          -p MS_KEYCLOAK_CLIENT_ID=minespace-dev \
          -p SITEMINDER_URL=https://logontest7.gov.bc.ca \
          -p MATOMO_URL=https://matomo-4c2ba9-test.apps.silver.devops.gov.bc.ca/ \
          -p VCAUTHN_PRES_REQ_CONF_ID=minespace-access-0.1-dev \
          -p OBJECT_STORE_ENABLED=1 \
          | oc -n ${{secrets.NS_DEV}} apply -f -
