name: Update test infra

on:
  workflow_dispatch:

env:
  TAG: test
  CORE_DOMAIN: mds-test.apps.silver.devops.gov.bc.ca
  MINESPACE_DOMAIN: minespace-test.apps.silver.devops.gov.bc.ca

jobs:
  update-test-deployments:
    name: update-test-deployments
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - config: nris
          - config: nris-etl
          - config: fider
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Install oc
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: "4.7"
      - name: oc login
        run: |
          oc login --token=${{ secrets.BUILD_TOKEN }} --server=${{ secrets.CLUSTER_API }}
      - name: Update infrastructure in test
        run: |
          oc -n ${{secrets.NS_TEST}} process -f openshift4/templates/${{ matrix.config }}.dc.yaml --ignore-unknown-parameters=true \
          -p TAG=${{env.TAG}} \
          -p JWT_OIDC_WELL_KNOWN_CONFIG=https://test.oidc.gov.bc.ca/auth/realms/mds/.well-known/openid-configuration \
          -p JWT_OIDC_AUDIENCE=mines-application-test \
          -p JWT_OIDC_AUTHORITY=https://test.oidc.gov.bc.ca/auth/realms/mds \
          -p DOCMAN_API_URL=https://mds-test.apps.silver.devops.gov.bc.ca/document-manager \
          -p CORE_API_URL=https://mds-test.apps.silver.devops.gov.bc.ca/api \
          -p URL=https://mds-test.apps.silver.devops.gov.bc.ca/ \
          -p ENVIRONMENT_NAME=test \
          -p NODE_ENV=test \
          -p CORE_DOMAIN=${{env.CORE_DOMAIN}} \
          -p MINESPACE_DOMAIN=${{env.MINESPACE_DOMAIN}} \
          -p KEYCLOAK_URL=https://test.oidc.gov.bc.ca/auth \
          -p KEYCLOAK_CLIENT_ID=mines-application-test \
          -p KEYCLOAK_RESOURCE=mines-application-test \
          -p MS_KEYCLOAK_CLIENT_ID=minespace-test \
          -p SITEMINDER_URL=https://logontest7.gov.bc.ca \
          -p MATOMO_URL=https://matomo-4c2ba9-test.apps.silver.devops.gov.bc.ca/ \
          -p VCAUTHN_PRES_REQ_CONF_ID=minespace-access-0.1-test \
          -p OBJECT_STORE_ENABLED=1 \
          | oc -n ${{secrets.NS_TEST}} apply -f -
