name: MINESPACE - Unit Tests

on:
  pull_request:
    paths:
      - services/minespace-web/**

jobs:
  tests-unit-minespace:
    name: tests-unit-minespace
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        name: checkout

      - uses: actions/cache@v3
        name: Cache yarn
        with:
          path: ./.yarn/cache
          key: mds-minespace
          restore-keys: mds-minespace

      - uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Run minespace tests
        run: cd services/minespace-web/ && yarn && yarn test
