name: Postgres PVC Log Cleanup

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */1 * * *"

jobs:
  clean-logs:
    name: clean-logs
    runs-on: ubuntu-20.04
    steps:
      - name: Install oc
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: "4.7"

      - name: oc login
        run: |
          oc login --token=${{ secrets.BUILD_TOKEN }} --server=${{ secrets.CLUSTER_API }}

      - name: Clean Logs
        run: oc exec $(oc get pods -l deploymentconfig=postgresql -o jsonpath="{.items[0].metadata.name}" | awk '{$1=$1};1') -- sh -c 'cd /var/lib/pgsql/data/userdata/pg_log; rm postgresql-*.log -f' -n 4c2ba9-prod
