name: Promote to test

on:
  workflow_dispatch:

env:
  ORIG_TAG: dev
  PROMOTE_TAG: test

jobs:
  promote-to-test:
    name: promote-to-test
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        include:
          - name: metabase
          - name: metabase-postgres
    steps:
      - name: Install oc
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: "4.7"
      - name: oc login
        run: |
          oc login --token=${{ secrets.BUILD_TOKEN }} --server=${{ secrets.CLUSTER_API }}
      - name: Promote dev to test
        run: |
          oc -n ${{secrets.NS_TOOLS}} tag \
          ${{ secrets.NS_TOOLS }}/${{ matrix.name }}:${{ env.ORIG_TAG }} \
          ${{ secrets.NS_TOOLS }}/${{ matrix.name }}:${{ env.PROMOTE_TAG }}

  grace-period:
    name: grace-period
    runs-on: ubuntu-20.04
    needs: promote-to-test
    steps:
      - name: Waiting grace period
        run: |
          echo "Grace period..."
          sleep 10

  watch-rollout:
    name: watch-rollout
    runs-on: ubuntu-20.04
    needs: grace-period
    timeout-minutes: 25
    strategy:
      matrix:
        include:
          - name: metabase
          - name: metabase-postgres
    steps:
      - name: Install oc
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: "4.7"
      - name: oc login
        run: |
          oc login --token=${{ secrets.BUILD_TOKEN }} --server=${{ secrets.CLUSTER_API }}
      - name: Watch rollout
        run: |
          until [ "$(oc -n ${{ secrets.NS_TEST }} get dc ${{ matrix.name }} -o=jsonpath="{$.status.conditions[*].message}" --no-headers=false | grep -i 'successfully rolled out')" != "" ]; do
              echo "Waiting on: $(oc -n ${{ secrets.NS_TEST }} get dc ${{ matrix.name }} -o name --no-headers=false) ..."
              sleep 10
          done
          echo "Deployment complete"
