name: Testing this as part of a workflow

on:
  pull_request:

env:
  ENVIRONMENT: dev

jobs:
  test-schemaspy-rollout:
    name: test-schemaspy-rollout    
    runs-on: ubuntu-20.04
    steps:
      - name: Install oc
        uses: redhat-actions/openshift-tools-installer@v1
        with:
          oc: "4.7"

      - name: oc login
        run: |
          oc login --token=${{ secrets.BUILD_TOKEN }} --server=${{ secrets.CLUSTER_API }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Restart SchemaSpy pods
        run: |
          oc -n 4c2ba9-${{ env.ENVIRONMENT }} rollout restart deployment/schemaspy

      - name: Watch Rollout Status        
        run: |
          oc -n 4c2ba9-{{ env.ENVIRONMENT }} rollout status deployment/schemaspy
        timeout-minutes: 10
      
      - name: Notify Discord of Rollout success
        if: ${{ success() }} 
        run: ./gitops/notify_discord.sh schemaspy {{ env.ENVIRONMENT }} ${{ github.sha }} ${{ secrets.DISCORD_DEPLOYMENT_WEBHOOK }} 0

      - name: Notify Discord of Rollout failure
        if: ${{ failure() }} 
        run: ./gitops/notify_discord.sh schemaspy {{ env.ENVIRONMENT }} ${{ github.sha }} ${{ secrets.DISCORD_DEPLOYMENT_WEBHOOK }} 1
