name: CORE-API Integration Tests

on:
  pull_request:
    paths:
      - migrations/**
      - services/core-api/**
      - services/postgres/**
      - docker-compose
      - docker-compose.ci.yaml

jobs:
  tests-verify-migrations:
    name: tests-verify-migrations
    runs-on: ubuntu-20.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Check migrations successful
        env:
          DOCKER_BUILDKIT: 1
        run: |
          docker-compose -f docker-compose.ci.yaml up --force-recreate --exit-code-from flyway-verify flyway-verify

  tests-integration-backend:
    name: tests-integration-backend
    runs-on: ubuntu-20.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Run Migrations First
        env:
          DOCKER_BUILDKIT: 1
        run: docker-compose -f docker-compose.ci.yaml up --force-recreate --exit-code-from flyway flyway

      - name: Create containers for integration tests
        env:
          DOCKER_BUILDKIT: 1
        run: docker-compose -f docker-compose.ci.yaml up -d backend

      - name: Run integration tests
        run: docker-compose -f docker-compose.ci.yaml exec -T backend pytest
  run-sonar-scan:
    name: Run SonarCloud Scan
    if: success()
    uses: ./.github/workflows/sonarcloud-scan.yaml
    with:
      project-dir: services/core-api
    secrets: inherit
