name: CORE-API Integration Tests

on:
  pull_request:
    paths:
      - migrations/**
      - services/core-api/**
      - services/postgres/**
      - docker-compose
      - docker-compose.ci.yaml

jobs:
  tests-verify-migrations:
    name: tests-verify-migrations
    runs-on: ubuntu-20.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Check migrations successful
        env:
          DOCKER_BUILDKIT: 1
        run: |
          docker-compose -f docker-compose.ci.yaml up --force-recreate --exit-code-from flyway-verify flyway-verify

  tests-integration-backend:
    name: tests-integration-backend
    runs-on: ubuntu-20.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Run Migrations First
        env:
          DOCKER_BUILDKIT: 1
        run: docker-compose -f docker-compose.ci.yaml up --force-recreate --exit-code-from flyway flyway

      - name: Run integration tests
        env:
          DOCKER_BUILDKIT: 1
        run: |
          docker-compose -f docker-compose.ci.yaml run backend coverage run -m pytest
          docker-compose -f docker-compose.ci.yaml run backend coverage
      - name: Upload test coverage results
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: core-api-test-results
          path: |
            services/core-api/coverage.xml
      - name: Sonar Reporting
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        uses: SonarSource/sonarcloud-github-action@v2.1.1
        with:
          projectBaseDir: services/core-api
